<template>
  <div class="kategori" style="width: 100%">
    <MenuTopName icon="'./images/logo_mypet.png'" judul="Fitur"/>
    <Fitur/>
    <Barner/>
    <MenuBottom on="3"/>
  </div>
</template>
<script>
import MenuTopName from '../components/MenuTopName';
import Fitur from '../components/Fitur';
import Barner from '../components/Barner';
import MenuBottom from '../components/MenuBottom';
export default {
  
  name: 'Kategori',
  components: {
    MenuTopName,
    Fitur,
    Barner,
    MenuBottom
  },
   mounted() {
    // console.log('s', localStorage.authUser)
    if(localStorage.authUser.auth == false){
      this.$router.push('/login')
    }
  },
}
</script>