<template>
  <div class="login" style="height: 600px; background-image: url('images/bg.png')">
    <div class="" style="padding: 15px;">
                <form  @submit.prevent="save" >
                    <center>
                    <div class="login100-form-avatar">
                        <v-img :src="'images/logo_mypet.png'" class="rounded-circle" alt="MY PET" height="100" width="100"/>
                    </div>
                    <span class="login10-form-title p-b-49 text-white">
                        Login
                    </span>
                    </center>
                    <div class=" form-group" >
                        <span class="text-white " style=" text-align: left;">email</span>
                        <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="email" type="email" class="form-control  input_email" v-model="form.email" v-on:keyup="validasiEmail" required autocomplete="email"  placeholder="Masukan email" style="background: white; border-radius: 25px">
                        </div>
                        <span role="alert" v-if="notif.type == 'success'" style="color: white; font-size: 10px; ">
                            <div  class="bg-primary" style="padding-left: 15px ">{{ notif.message }}</div>
                        </span>
                        <span role="alert" v-if="notif.type == 'warning'" style="color: white; font-size: 10px; ">
                            <div  class="bg-danger"  style=" padding-left: 15px">{{ notif.message }}</div>
                        </span>
                        
                    </div>
                    <div class="wrap-input100 validate-input" >
                        <span class="label-input100 text-white">Password</span>
                        <input  id="password" type="password" class="input100 form-control " v-model="form.password" required autocomplete="current-password"  placeholder="Masukan password" style="background: white; border-radius: 25px">
                    </div>
                    <div class="text-right p-t-2 p-b-11">
                        <a href="">
                            Lupa password?
                        </a>
                    </div>
                    <center>
                    <div class="container-login100-form-btn" style="width: 90%">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <b-button block variant="primary" class="btn btn-primary" type="submit" >
                                <i class="fas fa-lock text-white" ></i> Login
                            </b-button>
                        </div>
                    </div>
                    </center>
                    </form>
                    <div class="span-label text-center">
                        <span>
                            Or Sign Up Using
                        </span>
                    </div>

                    <div class="flex-c-m text-center">
                        <a href="" class=" btn btn-primary rounded-circle text-white">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class=" btn btn-primary rounded-circle text-white">
                            
                             <i class="fab fa-google"></i>
                        </a>
                    </div>

                    <div class="span-label" style="text-align: center">
                        <span class="txt1 p-b-1">
                            Belum Mempunyai Akun ?
                        </span>
                        <router-link :to="{ path: '/register' }">
                        <div>
                            <b-button variant="primary" >
                               <i class="fas fa-sign-in-alt text-white"></i> Daftar
                            </b-button>
                        </div>
                        </router-link>
                    </div>
                
            </div>
   
  </div>
</template>

<script>
import axios from 'axios'
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Login',
   data: () => {
    
    return {
      form: {
          email : '',
          password : ''
      },
      
      notif : {
          message: '',
          type: "success",
      }
    }
  },
   mounted() {
    //this.load()
    console.log('l', localStorage.authUser)
    if(localStorage.authUser != ''){
        //alert('1')
      this.$router.push('kategori')
    }else{

        //alert(2)
    }
  },
  methods: {
    save(){
        axios.post(this.$root.$data.apiConfig +'api/login', this.form)
        .then(res =>{
            console.log('res', res.data.data)
            res.data.data.auth = true
            localStorage.authUser = JSON.stringify(res.data.data);
            const authUser = JSON.parse(localStorage.authUser);
            // this.$cookie.set('email', res.data.email, 1);
            console.log('ra', authUser)
            this.$root.$data.auth = true
            this.$root.$data.authUser = authUser
            this.$router.push('kategori')

        })
        .catch(err =>{
            this.notif = { message:'email atau password anda salah', type:"warning"}
            //alert(err)
        })
    // console.log('r', auth)
    },
    validasiEmail(){
        console.log('res', this.form)
        axios.get( this.$root.$data.apiConfig +'api/validasi/register', {
            params: this.form
            })
        .then(res =>{
            console.log('res', res)
            if(res.data.validasi_email){
                this.notif = { message: 'email tersedia', type:"success" }
            }else{
                this.notif = { message: 'email tidak tersedia', type:"warning" }
            }
            
            
            // localStorage.authUser = JSON.stringify(res.data.data);
            // var authUser = JSON.parse(localStorage.authUser);
            // // this.$cookie.set('email', res.data.email, 1);
            // console.log('ra', authUser)
            // this.$router.push('about')

        })
        .catch(err =>{
            this.notif = 'email atau password anda salah1'
            //alert(err)
        })
    }
  }
  

  // components: {
  //   HelloWorld
  // }

}
</script>
