<template>
  <div class="master">
    <div class="container-fluid" id="app" style="width: 100%; padding-top: 50px ;" >
        <div class="container-fluid position-fixed fixed-top  border-bottom" style="height: 45px; border: 0px solid; padding-top: 5px; background-color: #00A1B0">
            <div class="row">
              
                <div class="col-1 btn-kembali" style="border: 0px solid; padding: 0px; margin-top: 5px;">
                  <a href="">
                    <center>
                    <i class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px; padding-top: 4px"></i>
                    </center>
                   </a>
                </div>
                
                <div class="col-1 judul_icon" style="height: 40px;padding: 0px; ">
                    <a><img src="images\logo_mypet.png" class="rounded-circle" style="width: 30px; padding-top: 3px "></a>
                </div>
                <div class="col-9 judul_nama text-white"  style=" height: 40px;border: 0px solid; padding: 0px;color: white">
                    <form class="form_cari" action="login">
                    <div class="input-group mb-5">
                        
                        <input type="text" name="name" id="input_cari" class="form-control input_cari" placeholder="cari" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append" >
                            <button  class="btn btn-outline-secondary btn-light" id="btn-cari" type="button"><img src="images/icons/search.png"  style="width: 20px; "></button>
                        </div>
                       
                    </div>
                    </form>
                </div>
               
            </div>
        </div>

        
        <div class="row" id="grid" style="width: 100%; padding-left: 15px; padding-top: 75px; border: 0px solid" >
            konten
        </div>
        <div class="container " >
    <div class="row position-fixed fixed-bottom border-top" style="padding-left: 5px; padding-right: 5px; background-color: #00A1B0; font-size: 10px">
               <div class="col-2">
                    <center><a href="home" class="market menuName"><img src="images\icons\shop_off.png" style="width: 30px;"><br><div>Market</div></a></center>
                </div>
                <div class="col-3">
                    <center><a href="comunity" class="comunities menuName"><img src="images\icons\chat_off.png" style="width: 30px; "><br style="font-size: 10px;">Komunitas</a></center>
                </div>
                <div class="col-2">
                    <center><a href="kategori" class="kategori menuName"><div style="padding-left: 35px"></div><img src="images\icons\categories.png" style="width: 30px;"><br>Kategori</a></center>
                </div>
                <div class="col-3" >
                    <center ><a href="notif" class="notif menuName">
                    <div style="background: url(images/icons/petnotif_off.png) no-repeat; border: 0px solid; width: 35px; height: 35px; ">
                      <div style="width: 15px; height: 15px; font-size: 10px; background: red;  float: right; color: black " class="rounded-circle"><strong style="padding: 2px; color: white; " class="notif_count"></strong></div>
                        <div style="width: 35px; height: 15px; padding-top: 30px">Notif</div>
                     </div>
                      </a>
                    </center>
                </div>
                <div class="col-2">
                    <center><a href="profil" class="menuName"><img src="" class="rounded-circle btn-outline-primary "  style="width: 30px; height: 30px; border: 1px solid"><br><div class="akun">Akun</div></a></center>
                </div>
      </div>
        
    </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Master'
}
</script>