<template>
  <div class="mitraMarket">
      <MenuTop/>
      <div class="align-self-center" style="width: 99%; padding: 2%;">
      <div class="container-fuild" style="width: 100%">
        <div class="container">
            <div class="row">
            <ul class="breadcrumb">
                <li><a href="home">Market</a> <span class="divider">/</span></li>
                <li class="active"> PET VENDOR</li>
                </ul>
            </div>
            <div class="row">
                <div class="col-7">
                    <h6>  Iklan Anda [ <small> Item(s) </small>]</h6>
                </div>
                <div class="col-5">
                <button class="btn btn-mini btn-secondary " @click="insert" data-toggle="modal" data-target=".tambah" style="font-size: 10px;"><i class="fas fa-arrow-up"></i> Pasang Iklan</button>
                </div>
                
            <!-- Modal  tambah-->
                <div class="modal fade tambah" id="tambah" tabindex="-1" role="dialog" aria-labelledby="tambah" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="tambah">Pasang Iklan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
               
            
                    <form  @submit.prevent="save" enctype="multipart/form-data">
                    <div class="modal-body">
                        <table>
                            
                            <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px; "><b> <label >Nama</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 25px;padding-top: 2px; padding-bottom: 0px; margin: 0px; border: 0px solid;" >
                                        <b>
                                    
                                        <i style="clear: left;"></i>
                                        <div style="width: 100%; text-align: left; padding-left: 12px;">
                                        <input class="form-control" type="hidden" v-model="pet.api" value="api"  style="width: 90%"> 
                                        <input class="form-control" type="hidden" v-model="pet.user_id"   style="width: 90%"> 
                                        <input class="form-control" type="text" v-model="pet.pet_name"  required style="width: 90%;">
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 25px; padding: 0px; margin: 0px;"><b> <label>Kategori</label></b></td>
                                    <td style="width: 2%; height: 25px;"><b>:</b></td>
                                    <td style="width: 60%; height: 25px;" >
                                        <b>
                                        <i style="clear: left;"></i>
                                        <div style="width: 100%; height: 40px; text-align: left; padding-left: 12px;">
                                        <select v-model="pet.pet_kategori_id"  class="form-control" style="width:  100%; height: 40px;">
                                            
                                                <option class="form-control" selected>Pilih Kategori</option>
                                                <option class="form-control" v-for="(k, index) in kategoriList" :key="k.pet_kategori_id" :data-index="index" :value="k.pet_kategori_id">{{k.kategori}}</option>
                                           
                                            </select>
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Jenis</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <b>
                                        <i style="clear: left;"></i>
                                        <div style="width: 100%; height: 40px; text-align: left; padding-left: 12px;">
                                        <select v-model="pet.pet_jenis_id"   class="form-control" style="width:  100%; height: 40px;">
                                                <!-- @if(!empty($pet_jenis))
                                                    @foreach($pet_jenis as $pj)
                                                    <option value="$pj->pet_jenis_id" style="height: 40px">$pj->jenis</option>
                                                    @endforeach
                                                @endif -->
                                                <option class="form-control" selected>Pilih Pet Jenis</option>
                                                <option class="form-control" v-for="(j, index) in petJenisList" :key="j.pet_jenis_id" :data-index="index" :value="j.pet_jenis_id">{{j.jenis}}</option>
                                           
                                            </select>
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Jenis Kelamin</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <b>
                                        <i style="clear: left;"></i>
                                        <div style="width: 100%; height: 40px; text-align: left; padding-left: 12px;">
                                            <select v-model="pet.pet_jenis_kelamin_id"  class="form-control" style="width:  100%; height: 40px;">
                                                <!-- @if(!empty($pet_jenis_kelamin))
                                                    @foreach($pet_jenis_kelamin as $pjk)
                                                    <option value="$pjk->id" style="height: 40px">$pjk->deskripsi</option>
                                                    @endforeach
                                                @endif -->
                                                 <option class="form-control" selected>Pilih Pet Gender</option>
                                                <option class="form-control" v-for="(jk, index) in petJenisKelaminList" :key="jk.id" :data-index="index" :value="jk.id">{{jk.deskripsi}}</option>
                                            </select>
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Ras</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <b>
                                        <div class="row" style="padding-left: 14px;text-align: left;">
                                        <div class="col-12">
                                            <select v-model="pet.fk_ras" id="ras"  class="form-control" style="width:  120px; height: 40px;">
                                                <!-- @foreach($ras as $r)
                                                        <option value="$r->id" style="height: 40px">$r->deskripsi</option>
                                                @endforeach -->
                                                 <option class="form-control" selected>Pilih Ras</option>
                                                <option class="form-control" v-for="(r, index) in petRasList" :key="r.id" :data-index="index" :value="r.id">{{r.deskripsi}}</option>
                                          
                                            </select>
                                        </div>
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px; "><b> <label >Umur</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <b>
                                        
                                        <div style=" padding-left: 12px;">
                                        <input class="form-control float-left" type="number" v-model="pet.pet_umur" required style="width: 30%" >
                                        <select v-model="pet.pet_umur_jenis" class="form-control float-left" style="width:  60%; height: 40px;">
                                                <option value="bulan">Bulan</option>
                                                <option value="bulan">Tahun</option>
                                            </select>
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Pet Panjang (cm)</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <b>
                                        <div class="row" style="padding-left: 14px;text-align: left;">
                                        <div class="col-6">
                                        <input class="form-control" type="number" v-model="pet.pet_panjang" required  style="width: 90%">
                                        </div>
                                        <div class="col-6" style="padding-top: 8px"><label>CM</label></div>
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Pet Lebar (cm)</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <b>
                                    <div class="row" style="padding-left: 14px;text-align: left;">
                                        <div class="col-6">
                                        <input class="form-control" type="number" v-model="pet.pet_lebar" required  style="width: 90%">
                                        </div>
                                        <div class="col-6" style="padding-top: 8px"><label>CM</label></div>
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Pet Tinggi (cm)</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <b>
                                        <div class="row" style="padding-left: 14px;text-align: left;">
                                        <div class="col-6">
                                        <input class="form-control" type="number" v-model="pet.pet_tinggi" required  style="width: 90%">
                                        </div>
                                        <div class="col-6" style="padding-top: 8px"><label>CM</label></div>
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Berat</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <b>
                                        <div class="row" style="padding-left: 14px;text-align: left;">
                                        <div class="col-6" >
                                            <input class="form-control" type="number" v-model="pet.pet_berat" required style="width: 90%; ">
                                        </div>
                                        <div class="col-6" style="padding-top: 8px"><label>KG</label></div>
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Deskripsi</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <b>
                                        <i style="clear: left;"></i>
                                        <div style=" clear: left; text-align: left; padding-left: 12px;">
                                        <textarea class="form-control" type="text" v-model="pet.pet_desc" required style="width: 90%">
                                        </textarea>
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Qty</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <b>
                                        <i style="clear: left;"></i>
                                        <div style=" clear: left; text-align: left; padding-left: 12px;">
                                        <input class="form-control" type="number" v-model="pet.pet_qty"  required style="width: 90%">
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Harga</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <b>
                                        <i style="clear: left;"></i>
                                        <div class="form-group" style="padding-left: 12px;">
                                        <input class="form-control pet_price" type="number" v-model="pet.pet_price"  required style="width: 90%">
                                        </div>
                                    
                                        </b>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Foto</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Foto 1</span>
                                        <div class="input-group" style="padding-left: 12px;">
                                            <div >
                                                <input type="file"  class="custom-file-input" id="inputGroupFile01" @change="onFileChange1($event)" data-input="false" accept=".jpg, .png, .jpeg, .gif" :required="pet.flag == 'new'">
                                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                            </div>
                                            <img id="pet_image_src1" :src="pet.pet_image_src1" style="width: 100%" />
                                            </div>
                                        </div>
                                        <hr class="soft">
                                        <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Foto 2</span>
                                        <div class="input-group" style="padding-left: 12px;">
                                            <div >
                                                <input type="file" class="custom-file-input" id="inputGroupFile02" data-input="false" @change="onFileChange2($event)" accept=".jpg, .png, .jpeg, .gif" :required="pet.flag == 'new'">
                                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                            </div>
                                            <img id="pet_image_src2" :src="pet.pet_image_src2" style="width: 100%" />
                                            </div>
                                        </div>
                                        <hr class="soft">
                                        <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Foto 3</span>
                                        <div class="input-group" style="padding-left: 12px;">
                                            <div>
                                                <input type="file"  class="custom-file-input" id="inputGroupFile03"  data-input="false" @change="onFileChange3($event)" accept=".jpg, .png, .jpeg, .gif" :required="pet.flag == 'new'">
                                                <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                            </div>
                                            <img id="pet_image_src3" :src="pet.pet_image_src3" style="width: 100%" />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Link Video Youtube</label></b></td>
                                    <td style="width: 2%; height: 10px;"><b>:</b></td>
                                    <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                        <b>
                                    
                                        <i style="clear: left;"></i>
                                        <div style=" clear: left; text-align: left; padding-left: 12px; font-size: 12px;">
                                        <div class="form-group">
                                            <input class="form-control" v-model="pet.pet_video" type="text"  style="width: 90%">
                                        </div>
                                        </div>
                                        </b>
                                    </td>
                                </tr>
                                        
                        </table>
                    </div>
                    <div class="modal-footer">
                        <center>
                
                        <button type="submit" class="btn btn-success" style="width: 60px; font-size: 10px; padding: 3px 1px;"><i class="fas fa-save"></i>  Save</button>
                        <button type="button" class="btn btn-secondary close" data-dismiss="modal" style="width: 60px; font-size: 10px; padding: 3px 1px;">Close</button>
                        </center>
                    </div>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            <!-- end Modal Tambah -->
        <!-- Modal edit profil-->
    <!-- <div class="modal fade edit_profil" id="edit_profil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Profil</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="overflow-y: scroll; max-height:85%;  margin-top: 5px; margin-bottom:10px;">

        <form action="userUpdate" method="POST" enctype="multipart/form-data">
             csrf_field() 
        <div class="form-group">
            <center><div><img id="image"  src="'images_mypet/'.Auth::user()->image_profil" class="rounded-circle" style="width: 80px; height: 80px"></div>
                <div class="custom-file" style="width: 75px">
                    <center>
                    <input type="file" name="image_profil"  class="custom-file-input" id="inputGroupFile05"  style="width: 20px">
                    <label class="custom-file-label" for="inputGroupFile05"></label>
                </center>
                </div>
                
            </center>
            </div>
        <div class="form-group">
            
            <label >Nama</label>
            <input type="hidden" class="form-control" name="user_id" value="user()->id">
            <input type="text" class="form-control" name="name" value="user()->na" required>
        </div>
        <div class="form-group">
            <label >username</label>
            <input type="text" class="form-control" name="username" value="user()->usname" required>
        </div>
        <div class="form-group">
            <label>Deskripsi</label>
            <textarea class="form-control" name="desc" rows="3" required>user()->de</textarea>
        </div>
        <div class="form-group">
            <label >WA/HP</label>
            <input type="number" class="form-control" name="hp" value="user()->hp" required>
        </div>
        <div class="form-group">
            <label >Alamat</label>
            <textarea class="form-control" name="alamat"  rows="3" required>user()->alat</textarea>
        </div>
        <div class="form-group">
                        <span class="label-input100">Provinsi</span>
                        <select class="form-control provinsi" name="provinsi_id" id="provinsi" required>
                                @if(!empty($m_provinsi))
                                    @if(!empty(Auth::user()->provinsi_id))
                                    <option class="form-control" value="user()->prinsi_id" >user()->geuser_provinsi->nama_provinsi</option>
                                    @endif
                                    <option class="form-control"  >Pilih Provinisi</option>
                                    @foreach($m_provinsi as $mp)
                                    <option class="form-control" value="$mp->provinsi_id" >$mp->nama_provinsi</option>
                                    @endforeach
                                @endif
                        </select>
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>
        <div class="form-group">
                        <span class="label-input100">Kabupaten / Kota</span>
                        <select class="form-control kabkota" name="kabkota_id" id="provinsi" required>
                            @if(!empty(Auth::user()->kabkota_id))
                                    <option class="form-control" value="user()->kaota_id" >user()->geuser_kabkota->nama_kabkota</option>
                            @endif
                        </select>
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>
        <div class="form-group">
                        <span class="label-input100">Kecamatan</span>
                        <select class="form-control kecamatan" name="kecamatan_id" id="provinsi" required>
                            @if(!empty(Auth::user()->kecamatan_id))
                                    <option class="form-control" value="user()->kematan_id" >user()->geuser_kecamatan->nama_kecamatan</option>
                            @endif
                        </select>
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>
        <div class="form-group">
                        <span class="label-input100">Kelurahan</span>
                        <select class="form-control kelurahan" name="kelurahan_id" id="provinsi" required>
                            @if(!empty(Auth::user()->kelurahan_id))
                                    <option class="form-control" value="user()->kerahan_id" >user()->geuser_kelurahan->nama_kelurahan</option>
                            @endif
                        </select>
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
        </div>
        <div class="form-group">
                        <button type="submit" class="form-control btn btn-success">Save</button>
        </div>
    </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
        </div>
        </div>
    </div>
    </div> -->
            <hr class="soft"/>
            <div class="row" style="width: 90%">
           
            <table class="table table-bordered" width="90%" >
                        <thead>
                            <tr>
                            <th width="15%" style="font-size: 8px;">Nama</th>
                            <th width="10%" style="font-size: 8px;">Kategori</th>
                            <th width="10%" style="font-size: 8px;">Jenis</th>
                            <th width="10%" style="font-size: 8px;">Qty</th>
                            <th width="20%" style="font-size: 8px;">Harga</th>
                            <th width="20%" style="font-size: 8px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(p, index) in pets" :key="p.pet_id" :data-index="index">
                        <a href="petDetail',['id' => $p->pet_id])">
                            <td width="15%" style="font-size: 8px; padding: 2px"><center><v-img width="20" :src="p.pet_image_src1" alt="" style="width: 30px"/><br/>{{p.pet_name}}</center></td>
                        </a>
                            
                            <td width="10%" style="font-size: 8px;"><center>{{p.get_pet_kategori.kategori}}</center></td>
                            <td width="10%" style="font-size: 8px;"><center>{{ p.get_pet_jenis.jenis }}</center></td>
                            <td width="10%" style="font-size: 8px;"><center>{{ p.pet_qty }}</center></td>
                            <td width="20%" style="font-size: 8px;"><center>Rp.{{ p.pet_price }},-</center></td>
                            <td width="20%">
                                <div class="row normal" style="height: 30px">
                                    <div class="col-12">
                                       <center> <button  type="button" class="btn btn-info btn-mini" @click="petDetail(p.pet_id)" style="width: 100%; font-size: 10px; padding:2px 5px;"> <i class="fa fa-eye text-light" aria-hidden="true" style="font-size: 10px;"></i></button></center>
                                    </div>
                                </div>
                                <div class="row normal" style="height: 30px">
                                    <div class="col-6 normal">
                                        <button  type="button" class="btn btn-success btn-mini" @click="edit(p.pet_id)" data-toggle="modal" data-target=".tambah" style="font-size: 10px; padding: 3px"><i class="fas fa-edit text-light" aria-hidden="true" style="font-size: 10px;"></i>  </button>
                                    </div>
                                     <div class="col-6 normal">
                                        <button  type="button" class="btn btn-danger btn-mini" @click="hapus(p.pet_id)"  style="font-size: 10px; padding: 3px"> <i class="fas fa-trash text-light" aria-hidden="true" style="font-size: 10px;"></i></button>
                                    </div>
                                </div>
                                
                                <!-- <center>
                                <div style="width: 100%;">
                                    <div style="width: 100%; padding-right: 2px; padding-bottom: 2px">
                                    <button  type="button" class="btn btn-info btn-mini" data-toggle="modal" data-target=".detail$p->pet_id" style="width: 100%; font-size: 10px; padding:3px;"> <i class="fas fa-eye" style="font-size: 10px;"></i></button></center>
                                
                                        <div class="modal fade detail$p->pet_id" id="detail" tabindex="-1" role="dialog" aria-labelledby="detail" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" >Detail Iklan</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            
                                            <div class="modal-body">
                                                <table>          
                                                            <tr>
                                                                <td ></td>
                                                                <td ></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                
                                                                    
                                                                    <div style=" text-align: left; padding-left: 12px; font-size: 12px;">
                                                                    <div class="form-group">
                                                                            @if(!empty($p->pet_image_src1))
                                                                            <img src="$p->pet_image_src1" style="width: 50px" >
                                                                            @endif
                                                                        
                                                                        @if(!empty($p->pet_image_src2))
                                                                            <img src="$p->pet_image_src2" style="width: 50px" :key="1">
                                                                            @endif
                                                                        
                                                                        @if(!empty($p->pet_image_src3))
                                                                            <img src="$p->pet_image_src3" style="width: 50px" :key="2"  >
                                                                            @endif
                                                                        
                                                                    </div>
                                                            
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label >Nama</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 30px;padding-top: 2px; padding-bottom: 0px; margin: 0px; border: 0px solid;" >
                                                                    <b>
                                                                    <i style="clear: left;"></i>
                                                                    <div style="width: 100%; text-align: left; padding-left: 12px;">
                                                                        $p->pet_name
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 30px; padding: 0px; margin: 0px;"><b> <label>Kategori</label></b></td>
                                                                <td style="width: 2%; height: 30px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 30px;" >
                                                                    <b>
                                                                
                                                                    <i style="clear: left;"></i>
                                                                    <div style="width: 100%; height: 40px; text-align: left; padding-left: 12px;">
                                                                    $p->get_pet_kategori->kategori
                                                                        </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Jenis</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                
                                                                    <i style="clear: left;"></i>
                                                                    <div style="width: 100%; height: 40px; text-align: left; padding-left: 12px;">
                                                                    $p->get_pet_jenis->jenis 
                                                                        </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Jenis Kelamin</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <i style="clear: left;"></i>
                                                                    <div style="width: 100%; height: 40px; text-align: left; padding-left: 12px;">
                                                                    <select name="pet_jenis_kelamin_id"  class="form-control" disabled style="width:  120px; height: 40px;">
                                                                            @if(!empty($pet_jenis_kelamin))
                                                                                @foreach($pet_jenis_kelamin as $pjk)
                                                                                <option value="$pjk->id"  style="height: 40px">$pjk->deskripsi</option>
                                                                                @endforeach
                                                                            @endif
                                                                        </select>
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Ras</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <div class="row" style="padding-left: 14px;text-align: left;">
                                                                    <div class="col-12">
                                                                    <input class="form-control" type="text" name="ras" value="$p->ras" readonly style="width: 90%">
                                                                    </div>
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px; "><b> <label >Umur</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                
                                                                    <i style="clear: left;"></i>
                                                                    <div style=" clear: left; text-align: left; padding-left: 12px;">
                                                                        $p->pet_umur
                                                                        $p->pet_umur_jenis
                                                                            
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Pet Detail</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <i style="clear: left;"></i>
                                                                    <div style=" clear: left; text-align: left; padding-left: 12px;">
                                                                        $p->pet_panjangcm x $p->pet_lebarcm x $p->pet_tinggicm
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Pet Berat</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <i style="clear: left;"></i>
                                                                    <div style=" clear: left; text-align: left; padding-left: 12px;">
                                                                        $p->pet_berat KG 
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Deskripsi</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <i style="clear: left;"></i>
                                                                    <div style=" clear: left; text-align: left; padding-left: 12px;">
                                                                        $p->pet_desc
                                                                    
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Stock Qty</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <i style="clear: left;"></i>
                                                                    <div style=" clear: left; text-align: left; padding-left: 12px;">
                                                                        $p->pet_qty
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Harga</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <i style="clear: left;"></i>
                                                                    <div class="form-group" style="padding-left: 12px;">
                                                                        
                                                                        $p->pet_price
                                                                    </div>
                                                                    
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Video Youtube</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                
                                                                    <i style="clear: left;"></i>
                                                                    <div style=" clear: left; text-align: left; padding-left: 12px; font-size: 12px;">
                                                                    <div class="form-group">
                                                                        <input name="pet_video" type="text" value="$p->pet_video"  style="width: 90%">
                                                                        
                                                                    </div>
                                                            
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            
                                                            
                                                                        
                                                    </table>
                                            </div>
                                            <div class="modal-footer">
                                                <center>
                                                    <button type="button" class="btn btn-success" data-toggle="modal" data-target=".edit$p->pet_id" style="width: 50px; font-size: 7px; padding: 3px 1px;"><i class="fas fa-edit" style="font-size: 8px;"></i> Edit</button>
                                                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".delete$p->pet_id" style="width: 50px; font-size: 7px; padding: 3px 1px;"><i class="fas fa-trash" style="font-size: 8px;"></i>   Hapus</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 60px; font-size: 10px; padding: 3px 1px;">Close</button>
                                                    </center>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                       
                                    </div>
                                    </div>
                                <div style="width: 100%;">
                                    <div style="width: 50%; float: left; padding-right: 2px;">
                                        <button  type="button" class="btn btn-success btn-mini" data-toggle="modal" data-target=".edit$p->pet_id" style="font-size: 10px; padding: 3px"><i class="fas fa-edit" style="font-size: 10px;"></i>  </button>
                                    
                                        <div class="modal fade edit$p->pet_id" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" >Edit Iklan</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form   action="vendor_market_id_edit" method="post" id="form_insert" enctype="multipart/form-data">
                                                         csrf_field() 
                                            <div class="modal-body">
                                                <table>
                                                        
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px; "><b> <label >Nama</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 30px;padding-top: 2px; padding-bottom: 0px; margin: 0px; border: 0px solid;" >
                                                                    <b>
                                                                
                                                                    <i style="clear: left;"></i>
                                                                    <div style="width: 100%; text-align: left; padding-left: 12px;">
                                                                        <input class="form-control" type="hidden" name="pet_id"  value="$p->pet_id" style="width: 90%"> 
                                                                        <input class="form-control" type="hidden" name="user_id"  value="user()->id" style="width: 90%"> 
                                                                        <input class="form-control" type="text" name="pet_name" value="$p->pet_name" required style="width: 90%;">
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 30px; padding: 0px; margin: 0px;"><b> <label>Kategori</label></b></td>
                                                                <td style="width: 2%; height: 30px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 30px;" >
                                                                    <b>
                                                                
                                                                    <i style="clear: left;"></i>
                                                                    <div style="width: 100%; height: 40px; text-align: left; padding-left: 12px;">
                                                                    <select name="pet_kategori_id"  class="form-control pet_kategori_id_edit" style="width:  120px; height: 40px;"><b>
                                                                                @if(!empty($pet_kategori))
                                                                                    @foreach($pet_kategori as $pk)
                                                                                    <option value="$pk->pet_kategori_id"   style="height: 40px">$pk->kategori</option>
                                                                                    @endforeach
                                                                                @endif
                                                                                </b>
                                                                        </select>
                                                                        </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Jenis</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                
                                                                    <i style="clear: left;"></i>
                                                                    <div style="width: 100%; height: 40px; text-align: left; padding-left: 12px;">
                                                                    <select name="pet_jenis_id"  class="form-control" style="width:  120px; height: 40px;">
                                                                                <b>
                                                                                @if(!empty($pet_jenis))
                                                                                    @foreach($pet_jenis as $pj)
                                                                                    <option value="$pj->pet_jenis_id" class="form-control "  style="height: 40px">$pj->jenis</option>
                                                                                    @endforeach
                                                                                @endif
                                                                                </b>
                                                                        </select>
                                                                        </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Jenis Kelamin</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <i style="clear: left;"></i>
                                                                    <div style="width: 100%; height: 40px; text-align: left; padding-left: 12px;">
                                                                    <select name="pet_jenis_kelamin_id"  class="form-control" style="width:  120px; height: 40px;"><b>
                                                                            @if(!empty($pet_jenis_kelamin))
                                                                                @foreach($pet_jenis_kelamin as $pjk)
                                                                                <option value="$pjk->id"  style="height: 40px">$pjk->deskripsi</option>
                                                                                @endforeach
                                                                            @endif
                                                                        </select>
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Ras</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <div class="row" style="padding-left: 14px;text-align: left;">
                                                                    <div class="col-12">
                                                                    <input class="form-control" type="text" name="ras" value="$p->ras" style="width: 90%">
                                                                    </div>
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px; "><b> <label >Umur</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                
                                                                    <i style="clear: left;"></i>
                                                                    <div style=" clear: left; text-align: left; padding-left: 12px;">
                                                                        <input class="form-control float-left" type="number" name="pet_umur" value="$p->pet_umur" required style="width: 30%" >
                                                                        <select name="pet_umur_jenis" class="form-control float-left" style="width:  60%; height: 40px;"><b>
                                                                            
                                                                            @if(!empty($p->pet_umur_jenis))
                                                                                $p->pet_umur_jenis
                                                                            @endif
                                                                            <option value="bulan">Bulan</option>
                                                                            <option value="bulan">Tahun</option>
                                                                                
                                                                                </b>
                                                                        </select>
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Pet Panjang</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <div class="row" style="padding-left: 14px;text-align: left;">
                                                                    <div class="col-6">
                                                                    <input class="form-control" type="number" name="pet_panjang" value="$p->pet_panjang" required  style="width: 90%">
                                                                    </div>
                                                                    <div class="col-6" style="padding-top: 8px"><label>CM</label></div>
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Pet Lebar</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                <div class="row" style="padding-left: 14px;text-align: left;">
                                                                    <div class="col-6">
                                                                    <input class="form-control" type="number" name="pet_lebar" value="$p->pet_lebar"   required style="width: 90%">
                                                                    </div>
                                                                    <div class="col-6" style="padding-top: 8px"><label>CM</label></div>
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Pet Tinggi</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <div class="row" style="padding-left: 14px;text-align: left;">
                                                                    <div class="col-6">
                                                                    <input class="form-control" type="number" name="pet_tinggi" value="$p->pet_tinggi" required style="width: 90%">
                                                                    </div>
                                                                    <div class="col-6" style="padding-top: 8px"><label>CM</label></div>
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Berat</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <div class="row" style="padding-left: 14px;text-align: left;">
                                                                    <div class="col-6" >
                                                                        <input class="form-control" type="number" name="pet_berat" value="$p->pet_berat" required style="width: 90%; ">
                                                                    </div>
                                                                    <div class="col-6" style="padding-top: 8px"><label>KG</label></div>
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Deskripsi</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <i style="clear: left;"></i>
                                                                    <div style=" clear: left; text-align: left; padding-left: 12px;">
                                                                        <textarea class="form-control" type="text" name="pet_desc" required  style="width: 90%">$p->pet_desc
                                                                    </textarea>
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Qty</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <i style="clear: left;"></i>
                                                                    <div style=" clear: left; text-align: left; padding-left: 12px;">
                                                                        <input class="form-control" type="number"  name="pet_qty" value="$p->pet_qty" required style="width: 90%">
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Harga</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                    <i style="clear: left;"></i>
                                                                    <div class="form-group" style="padding-left: 12px;">
                                                                        
                                                                        <input class="form-control pet_price_edit" type="number" name="pet_price" value="$p->pet_price" required style="width: 90%">
                                                                    </div>
                                                                    
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Foto</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <div class="wrap-input100 validate-input m-b-23" data-validate = "Foto is reauired">
                                                                        <span class="label-input100">Foto 1</span>
                                                                        <div class="input-group" style="padding-left: 12px;">
                                                                            <div >
                                                                            <input type="file" name="pet_image_src1" class="custom-file-input" id="inputGroupFile01Edit" value="$p->pet_image_src1" data-input="false" accept=".jpg, .png, .jpeg, .gif" >
                                                                            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                                                            </div>
                                                                            <img id="pet_image_src1Edit" src="$p->pet_image_src1" style="width: 100%" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="wrap-input100 validate-input m-b-23" data-validate = "Foto is reauired">
                                                                        <span class="label-input100">Foto 2</span>
                                                                        <div class="input-group" style="padding-left: 12px;">
                                                                            <div >
                                                                            <input type="file" name="pet_image_src2" class="custom-file-input" id="inputGroupFile02Edit"  value="$p->pet_image_src2" data-input="false" accept=".jpg, .png, .jpeg, .gif">
                                                                            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                                                            </div>
                                                                            <img id="pet_image_src2Edit" src="$p->pet_image_src2" style="width: 100%"/>
                                                                        </div>
                                                                    </div>
                                                                    <div class="wrap-input100 validate-input m-b-23" data-validate = "Foto is reauired"> 
                                                                        <span class="label-input100">Foto 3</span>
                                                                        <div class="input-group" style="padding-left: 12px;">
                                                                            <div >
                                                                            <input type="file" name="pet_image_src3" class="custom-file-input" id="inputGroupFile03Edit" value="$p->pet_image_src3" data-input="false" accept=".jpg, .png, .jpeg, .gif">
                                                                            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                                                            </div>
                                                                            <img id="pet_image_src3Edit" src="$p->pet_image_src3" style="width: 100%"/>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="width: 35%; height: 10px; padding: 0px; margin: 0px;"><b> <label>Link Youtube Video</label></b></td>
                                                                <td style="width: 2%; height: 10px;"><b>:</b></td>
                                                                <td style="width: 60%; height: 10px;padding-top: 2px; padding-bottom: 0px; margin: 0px;" >
                                                                    <b>
                                                                
                                                                    <i style="clear: left;"></i>
                                                                    <div style=" clear: left; text-align: left; padding-left: 12px; font-size: 12px;">
                                                                    <div class="form-group">
                                                                        <input class="form-control" name="pet_video" type="input" value="$p->pet_video" style="width: 90%">
                                                                        
                                                                    </div>
                                                            
                                                                    </div>
                                                                    </b>
                                                                </td>
                                                            </tr>
                                                                        
                                                    </table>
                                            </div>
                                            <div class="modal-footer">
                                                <center>
                                                    <button type="submit" class="btn btn-success" style="width: 60px; font-size: 10px; padding: 3px 1px;"><i class="fas fa-save"></i>  Update</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" style="width: 60px; font-size: 10px; padding: 3px 1px;">Close</button>
                                                    </center>
                                            </div>
                                            </form>
                                            </div>
                                        </div>
                                        </div>
                                        </div>
                                        
                                    </div>

                                    <div style="width: 50%; float: left; padding-left: 10px;">
            
                                    <button  type="button" class="btn btn-danger btn-mini" data-toggle="modal" data-target=".delete$p->pet_id" style="font-size: 10px; padding: 3px"> <i class="fas fa-trash" style="font-size: 10px;"></i></button>
                                        
                <div class="modal fade delete$p->pet_id" id="delete" tabindex="-1" role="dialog" aria-labelledby="tambah" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                    <form  action="vendor_market_id_delete" id="form_delete" >
                                 csrf_field() 
                    <div class="modal-body">
                    <input class="form-control" type="hidden" name="user_id"  value="user()->id" style="width: 90%"> 
                    <input class="form-control" type="hidden" name="pet_id"  value="$p->pet_id" style="width: 90%">
                        Anda Yakin Ingin Menghapus Data ?
                    </div>
                    <div class="modal-footer">
                        <center>
                            <button type="submit"  class="btn btn-danger" style="width: 60px; font-size: 10px; padding: 3px 1px;"><i class="fas fa-trash"></i>  Hapus</button>
                            <button type="button" class="btn btn-secondary close" data-dismiss="modal" style="width: 60px; font-size: 10px; padding: 3px 1px;">Close</button>
                            </center>
                    </div>
                    </form>
                    </div>
                </div>
                </div>
            </div>
            
                                    </div>
                                    </div>
                                </center> -->
                            </td>
                            
                            </tr>
                            
                        </tbody>
            </table>
                
                
            </div>
            <div class="row">
                            
            <a href=" url()->previous() " class="btn "><i class="icon-arrow-left"></i> Continue</a>
            <a href=" url()->previous() " class="btn pull-right">Next <i class="icon-arrow-right"></i></a>
            </div>
        </div>
        
        </div>
      </div>
      <MenuBottom on='1'/>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'
import MenuTop from '../components/MenuTop';;
import MenuBottom from '../components/MenuBottom';

export default {
  name: 'MitraMarket',
  data: () => {
      return {
          pet : {},
          pets : [],
          limit : 10,
          authUser : {},
          kategoriList : [],
          petJenisList : [],
          petJenisKelaminList : [],
          petRasList : [],
          file : {}
      }
  },
  components: {
    MenuTop,
    MenuBottom
  },
  methods: {
       init(){
          axios.get(this.$root.$data.apiConfig +'api/mitra_market_id', {
            params: {'user_id': this.authUser.id}
            })
        .then(res =>{
          console.log('res', res)
        //   res.data.pet.forEach(p => {
        //     p.pet_price = this.$root.$options.method.convertToRupiah(p.pet_price)
        //   })
         this.pets =  res.data.pet
         this.kategoriList =  res.data.pet_kategori
         this.petJenisList =  res.data.pet_jenis
         this.petJenisKelaminList =  res.data.pet_jenis_kelamin
         this.petRasList =  res.data.ras
         
         //this.pets = res.data.pet
         //console.log('this1',  this.$root.pets)
        })
      },
    showItem: function() {
            let limit = this.limit;
            return this.pets.filter(function(item) {
                return item.length >= limit
            });
        },
    petDetail: function(pet_id) {
            this.$router.push(`pet_${pet_id}`)
        },
    insert : function(){
        this.pet = {}
        this.pet.flag = 'new'
    },
    edit: function(pet_id) {
           let petEdit =  this.pets.filter(function(item) {
                return item.pet_id == pet_id
            });
             this.pet = petEdit[0]
             this.pet.flag = 'edit'
            console.log('pe', this.pet)
        },
    
    onFileChange1(event) {
            console.log('e', event)
            this.file.pet_image_src1 = event.target.files[0]
            //this.pet.pet_image_src1 = event.target.files[0]
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("pet_image_src1").src = e.target.result;
            };
            reader.readAsDataURL( this.file.pet_image_src1);
        },
    onFileChange2(event) {
            console.log('e', event)
            this.file.pet_image_src2 = event.target.files[0]
            //this.pet.pet_image_src2 = event.target.files[0]
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("pet_image_src2").src = e.target.result;
            };
            reader.readAsDataURL( this.file.pet_image_src2);
        },
     onFileChange3(event) {
            console.log('e', event)
            this.file.pet_image_src3 = event.target.files[0]
            //this.pet.pet_image_src3 = event.target.files[0]
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("pet_image_src3").src = e.target.result;
            };
            reader.readAsDataURL( this.file.pet_image_src3);
        },
     save: function(){
        //  const config = {
        //             headers: {
        //                 'content-type': 'multipart/form-data',
        //                 'X-CSRF-TOKEN': document.querySelector('meta[name="csrf-token"]').content,
        //             }
        //         }
        
        // form data
         const formData = new FormData();
         formData.append('_token', '3223');
         formData.append('user_id', this.authUser.id);
         formData.append('pet_name', this.pet.pet_name);
         formData.append('pet_kategori_id', this.pet.pet_kategori_id);
         formData.append('pet_jenis_id', this.pet.pet_jenis_id);
         formData.append('pet_jenis_kelamin_id', this.pet.pet_jenis_kelamin_id);
         formData.append('pet_umur', this.pet.pet_umur);
         formData.append('pet_umur_jenis', this.pet.pet_umur_jenis);
         formData.append('pet_panjang', this.pet.pet_panjang);
         formData.append('pet_lebar', this.pet.pet_lebar);
         formData.append('pet_tinggi', this.pet.pet_tinggi);
         formData.append('pet_berat', this.pet.pet_berat);
         formData.append('pet_desc', this.pet.pet_desc);
         formData.append('pet_qty', this.pet.pet_qty);
         formData.append('pet_price', this.pet.pet_price);
         console.log('f', this.file)
         if(this.file) formData.append('pet_image_src1', this.file.pet_image_src1);
         if(this.file) formData.append('pet_image_src2', this.file.pet_image_src2);
         if(this.file) formData.append('pet_image_src3', this.file.pet_image_src3);

         let settings = { headers: { 'content-type': 'multipart/form-data' } }
         this.pet._token = "{{ csrf_token() }}";
         console.log('t',this.pet)
         if(this.pet.flag != 'edit'){
         
         axios.post(this.$root.$data.apiConfig +'api/vendor_market_id/save', formData, settings)
         //axios.get(this.$root.$data.apiConfig +'api/vendor_market_id/save', {
         //    params: this.pet})
        .then(res =>{
            console.log('res', res)
            $('.close').click();
            this.init()
            this.$swal('Data berhasil disimpan','success');
            // this.$router.push('kategori')

        })
        .catch(err =>{
             this.$swal(`terjadi kesalahan ${err}`,'danger');
        })
         }else{
            axios.post(this.$root.$data.apiConfig +'api/vendor_market_id/edit', formData, settings)
    
            .then(res =>{
                console.log('res', res)
                $('.close').click();
                this.init()
                this.$swal('Data berhasil diupdate', 'success');

            })
            .catch(err =>{
             this.$swal(`terjadi kesalahan ${err}`,'danger');
             }) 
         }
    },
     hapus: function(pet_id){
         axios.get(this.$root.$data.apiConfig +'api/vendor_market_id/delete', {
             params: {'api_token' : '232','pet_id' : pet_id, 'user_id' : this.authUser.id}})
        .then(res =>{
            console.log('res', res)
           
            this.init()
            this.$swal('Data berhasil dihapus','success');
            // this.$router.push('kategori')

        })
        .catch(err =>{
             this.$swal(`terjadi kesalahan ${err}`,'danger');
        })
         
    },
  },
  computed: {
     
  },
  created(){
      console.log('t', this)
      
      this.authUser = JSON.parse(localStorage.authUser)
      this.init()
  }
}
</script>
