<template>
  <div class="MyCargo" style="width: 100%">
    <template v-if="checkout.flag == false">
    <MenuTopName icon="'./images/logo_mypet.png'" judul="Jasa Pengiriman Hewan"/>
    <div class="align-self-center" style="width: 99%; padding: 2%;">
       <div class="container-fuild" id="grid" style="width: 100%; padding-bottom: 100px; border: 0px solid">
            <div class="row"> <v-img :src="'/images/icons/logo_ujs.jpeg'" class="rounded-circle" style="width: 10%;" />Jasa Pengiriman Hewan Via UJS PET Cargo</div>
            <div class="row">
              <div class="col-12 card">
                <label>Persyaratan Pengiriman Hewan :</label>
                <label><button class="btn btn-outline-primary" @click="lihatDown()" style="padding: 0px 5px">lihat <i class="fa fa-arrow-alt-circle-down"></i></button></label>
                <div id="persyaratan" style="display: none">
                <label>1. Khusus kucing, anjing,musang dari bandung / jakarta / Surabaya ke luar pulau jawa pengiriman wajib memakai kandang pet cargo dari pengirim kecuali via kapal laut boleh menggunakan kandang besi</label>
                <label>2. Apabila pengirim tidak bisa menyediakan pet cargo kami bisa membantu menyediakan pet cargo dengan tambahan biaya</label>
                <label>3. Biaya pengiriman sangat dipengaruhi oleh ukuran Pet Cargo / carir maka harus dipastikan pengisian kolom ukuran kandang sesuai ukuran sebenarnya</label>
                <label><button class="btn btn-outline-primary" @click="lihatUp()" style="padding: 0px 5px">tutup <i class="fa fa-arrow-alt-circle-up"></i></button></label> 
               </div>
              </div>
            </div>
             
            <br>
            <div class="row">
                 <div class="col-12 card">
                  <div class="row">
                  <div class="col-3"><v-img :src="'images/icons/petcargo.jpg'" style="width: 100%; height: 50px"/></div><div class="col-8" style="padding-top: 30px">Keterangan :
                  </div>
                  </div>
                 </div>
                 <div class="col-6 card"  style="width: 100%; height: auto; background-color: white; font-size: 10px; "> 
                   <div>Pet Chargo: </div>
                   <div>Pet Chargo P1 = 50cm x 30cm x 30cm</div>
                   <div>Pet Chargo P2 = 63cm x 38cm x 37cm</div>
                   <div>Pet Chargo P3 = 67cm x 47cm x 48cm</div>
                  </div>
                  <div class="col-6 card"  style="width: 100%; height: auto; background-color: white; font-size: 10px; "> 
                   
                   <div>Pet Chargo:</div>
                   <div>Pet Chargo P4 = 80cm x 65cm x 55cm</div>
                   <div>Pet Chargo P5 = 92cm x 62cm x 63cm</div>
                   <div>Pet Chargo P6 = 101cm x 75cm x 76cm</div>
                  </div>
             
            </div>
            <div class="row" style="width: 100%;padding-left: 10px; border: 0px solid">
               <form class="form_biaya" @submit.prevent="estimasiBiaya">
              <div class="form-group" style="width: 100%;  height: auto; border: 0px solid;">
            
                <input type="hidden" v-model="cargoPet.mobile" value="mobile">
                <div style="width: 100%; height: 50px; border: 0px solid">
               <div style="width: 22%; height: 20px; float: left; font-size: 10px">
                 <div style="width: 100%; height: 20px; border: 0px solid; text-align: center; background-color: white; font-style: bold;">
                    Jenis Hewan
                  </div>
                 <div style="width: 100%; height: 30px;" >
                     <select v-model="cargoPet.jenis_hewan" id="jenis_hewan" value="Kucing" class="form-control jenis_hewan"  style="height: 20px; font-size: 10px; padding: 0px; margin: 0px; text-align: center;">
                          <option class="form-control inputmobile" v-for="(jh, index) in jenisHewanList" :key="jh.cargo_jenis_hewan_id" :data-index="index">{{jh.nama_hewan}}</option>
                    </select>
                  </div>
               </div>
                <div style="width: 30%; height: 40px; float: left; padding-left: 5px; font-size: 10px; ">
                    <div style="width: 100%; height: 20px; border: 0px solid; text-align: center; background-color: white;">
                    Umur Hewan
                    </div>
                    <div class="inputmobile" style="width: 40%; float: left;">
                        <input type="number" v-model="cargoPet.umur"  class="form-control inputmobile"  style="height: 20px">
                     
                    </div>
                    <div style="width: 60%; float: left; ">
                    <select v-model="cargoPet.waktu"  class="form-control inputmobile" style="height: 20px; font-size: 10px; padding: 0px; margin: 0px;">
                        <option  v-for="(w, index) in waktuList" :key="w" :data-index="index">{{ w}}</option>
                       
                     
                    </select>
                    </div>
                </div>
                <div style="width: 25%; height: 40px; float: left; padding-left: 5px; font-size: 10px; ">
                    <div style="width: 100%; height: 20px; border: 0px solid; text-align: center; background-color: white;">
                    Kota Asal
                  </div>
                    <div style="width:100%; float: left; ">
                    <select v-model="cargoPet.asal"  class="form-control kota_asal inputmobile" style="height: 20px; font-size: 10px; padding: 0px; margin: 0px; text-align: center;">
                          <option class="form-contro inputmobilel" v-for="(a, index) in kotaAsalList" :key="a.kota_asal_id" :data-index="index">{{a.nama_kota}}</option>
                    </select>
                    </div>
                </div>
                <div style="width: 23%; height: 40px; float: left; padding-left: 4px; font-size: 10px">
                    <div style="width: 100%; height: 20px; border: 0px solid; text-align: center; background-color: white">
                    Kota Tujuan
                  </div>
                    <div style="width: 100%; height: 20px; border: 0px solid; text-align: center; background-color: white">
                     <select v-model="cargoPet.tujuan_pengiriman"  class="form-control kota_tujuan " style="height: 20px; font-size: 10px; padding: 0px; margin: 0px; text-align: center;">
                          <option class="form-control inputmobile" v-for="(t, index) in kotaTujuanList" :key="t.kota_asal_id" :data-index="index">{{t.nama_kota}}</option>
                    </select>
                    </div>
                  </div>
                </div>
     
                
                <div style="width: 100%; height: 45px; border: 0px solid">
                   <div style="width: 22%; height: 45px; border: 0px solid; float: left; font-size: 10px;">
                    
                         <div style="width: 100%; height: 25px; border: 0px solid; text-align: center; background-color: white; padding-top: 4px; ">
                           Satuan
                         </div>
                         <div class="satuan" style="width: 100%; height: 20px; border: 0px solid; text-align: center;">
                             <input type="number" v-model="cargoPet.jumlah_ekor" class="form-control inputmobile" value="1"  style="height: 20px">
                        </div>
                     
                 </div>
                     <div style="width: 35%; height: auto; float: left; border: 1px ; padding-left: 5px">
                        <div style="width: 100%; height: 25px; text-align: center; border: 0px solid; background-color: white; font-size: 9px; padding-top: 6px;" >
                          Ukuran Kandang (cm)
                        </div>
                       <div class="ukuran_kandang inputmobile" style="width: 100%; text-align: center;">
                       
                            <input type="number" v-model="cargoPet.kandang_panjang" class="form-control" placeholder="P"  style="width: 33%; height: 20px; float: left; font-size: 10px; padding: 0px; margin: 0px; text-align: center;">
                             <input type="number" v-model="cargoPet.kandang_lebar" class="form-control" placeholder="L" style="width: 33%; height: 20px; float: left; font-size: 10px; padding: 0px; margin: 0px; text-align: center;">
                            <input type="number" v-model="cargoPet.kandang_tinggi" class="form-control" placeholder="T" style="width: 33%; height: 20px; float: left; font-size: 10px; padding: 0px; margin: 0px; text-align: center;">
                       </div>
                       <div style="width: 100%" id="tambah_kandang">
                         
                       </div>
                       <div style="width: 100%; height: 10px; " >
                          <i class="fas fa-plus btn btn-secondary" id="tombol-kandang" style="font-size: 8px; padding: 0px">Kandang ++</i>
                       </div>
                    </div>
                    <div style="width: 20%; height: auto; float: left; border: 1px ; padding-left: 5px">
                        <div style="width: 100%; height: 25px; text-align: center; border: 0px solid; background-color: white; font-size: 9px; padding-top: 6px;" >
                          Pet Chargo
                        </div>
                       <div style="width: 100%; text-align: center;">
                         <select v-model="cargoPet.alternatif_kandang"  class="form-control petcargo inputmobile" style="height: 20px; font-size: 10px; padding: 0px; margin: 0px;">
                            <option  value="P1">P1</option>
                            <option  value="P2">P2</option>
                            <option value="P3">P3</option>
                            <option value="P4">P4</option>
                            <option value="P5">P5</option>
                            <option value="P6">P6</option>
                         </select>
                       </div>
                       
                    </div>
                <div style="width: 23%; height: 45px; float: left; padding-left: 5px">
                    <div style="width: 100%;  height: 25px; text-align: center; border: 0px solid; background-color: white; font-size: 9px; padding-top: 6px;" >
                        Berat Hewan
                    </div>
                    <div style="width: 65%; text-align: center; float: left;">
                            <input type="number" v-model="cargoPet.berat_hewan"  class="form-control inputmobile"  style="height: 20px;">
                    </div>
                    <div style="width: 30%; text-align: center; float: left;  font-size: 10px; padding-top: 2px; background-color: white">
                     KG
                    </div>
                </div>
                </div>
                <center>
                <div style="width: 20%; font-size: 5px; text-align: center; padding-top: 5px;">
                    <button  type="submit" class="btn btn-primary btn_biaya" id="hitung_biaya" style="width: 100%; height: auto; font-size: 10px; padding: 2px; margin: 2px;">Biaya</button>
                </div>
                </center>
             </div>
             </form>
            
           
          
            </div>
            <div class="cargo_notif card" style="margin-top: 20px; font-size: 20px"></div>
           <div class="cargo_express_lion" v-if="cargo.pengiriman_biaya_via_lion">
             <div style="width: 100%; height: auto; background-image: url('images/icons/pesawat_lion.png')"> 
                        <div>VIA <img :src="'images/icons/logo_pesawat_lion.jpg'" style="width: 50px; font-size: 15px;">(EXPRESS ESTIMASI TIBA 1 - 2 HARI)</div>
                         <section   style="font-size: 8px;">
                            
                                    <table class="table table-sm">
                                        <thead style="background-color: rgba(255, 0, 0, 0.8);">
                                            <tr>
                                                <th style="width: 5%; border: 1px solid; padding-bottom: 10px; margin:  0px; position: center; text-align: center;">Jenis Hewan</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; position: center;text-align: center;">Umur</th>
                                                <th style="width: 5%; border: 1px solid ;padding-bottom: 10px; margin:  0px; text-align: center;">Asal</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; margin:  0px; text-align: center;">Tujuan</th>
                                                <th style="width: 6%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; text-align: center;">Satuan</th>
                                                <th style="width: 10%; border: 1px solid;padding-bottom: 5px; padding-left: 1px; padding-right: 1px; margin:  0px; text-align: center;">Ukuran Kandang</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 5px; padding-left:  1px; padding-right:  1px margin:  0px; text-align: center;">Berat Volume</th>
                                                <th style="width: 10%; border: 1px solid;;padding: 0px; margin:  0px; text-align: center;">Perkiraan <br> Biaya Pengiriman</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-left:     1px; padding-right: 1px; margin:  0px; text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                            
                                            <tr>
                                                
                                                <td style="width: 3%; border: 1px solid;padding: 0px; margin:  0px; "><b style="font-size: 8px;"><center>
                                                    <div class="bg-transparent" style=" padding-top: 2px">
                                                        
                                                        <template v-if="cargo.jenis_hewan_user == 'Anjing'" >
                                                         <v-img :src="'images/icons/anjing.jpg'" style="width: 25px" /> 
                                                        </template>
                                    
                                                       <template v-if="cargo.jenis_hewan_user == 'Kucing'">
                                                         <v-img :src="'images/icons/kucing.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Burung'">
                                                         <v-img :src="'images/icons/burung.jpg'" style="width: 25px" />
                                                        </template>
                                                       <template v-if="cargo.jenis_hewan_user == 'Ayam'" >
                                                         <v-img :src="'images/icons/ayam.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Kelinci'" >
                                                         <v-img :src="'images/icons/kelinci.jpg'" class=""  style="width: 25px" />
                                                        </template>
                                                    </div>
                                                    {{cargo.jenis_hewan_user}}
                                                    </center>
                                                    </b>
                                                </td>
                                                <td style="width: 5% ;border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right:  0px; margin:  0px;"><b style="font-size: 7px; ">
                                                    <div ><center> {{cargo.umur}} </center></div></b></td>
                                                 <td style="width:  5%; border: 1px solid;padding-top: 18px; padding-left:  0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 7%;"> <center>{{ cargo.asal }} </center></div></b></td>
                                                <td style="width: 5%; border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="padding-left: 0px;"> <center>{{ cargo.tujuan }}</center></div></b></td>
                                                <td style="width: 5%; border: 1px solid; padding-top: 5px; padding-left:    0px; padding-right: 0px; margin:  0px; text-align: center; "><b style="font-size: 8px;"><div style="width: 100%;"><center>{{ cargo.jumlah_ekor }} <br/>ekor</center></div></b></td>
                                                <td style="width: 15%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 100%;"><center> {{ cargo.kandang_panjang}} cm x  {{ cargo.kandang_lebar }} cm x  {{ cargo.kandang_lebar }} cm  
                                                <br>
                                                ({{ cargo.alternatif_kandang }})</center>
                                                </div></b></td>
                                                <td style="width:  5%; border: 1px solid;padding-top: 17px;padding-right: 0px; padding-left: 0px; margin:  0px;">
                                                    <b style="font-size: 8px;"><div  style="width: 100%;">
                                                     <center>{{Math.round(cargo.berat_volume_dasar) }}</center>
                                                  </div>
                                                  </b>
                                                </td>
                                                <td style="width: 10%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div  style="width: 100%; text-align: center;"><center>
                                                    Rp. <br/>
                                                     {{ $root.$options.method.convertToRupiah(cargo.pengiriman_biaya_via_lion_total) }}
                                                ,-</center></div></b></td> 
                                                <td style="width:  5%; border: 1px solid;padding-top: 7px; padding-left:  0px; padding-left: 0px; margin:  0px;">
                                                    <div>
                                                    <div style="height: 4%; padding-bottom: 0px; margin: 0px; border: 0px solid; font-size: 5px;">
                                                       
                                                    
                                                     </div>
                                                     <div style="padding-top: 2px; border: 0px solid">

                                                        <template v-if="authUser.provinsi_id && authUser.provinsi_id">
                                                   
                                                        <input type="hidden" name="jenis_hewan" value="${  jenis_hewan_user = data.jenis_hewan_user}">
                                                        <input type="hidden" name="umur" value="${umur = data.umur}">
                                                        <input type="hidden" name="kota_asal" value="${asal = data.asal}">
                                                        <input type="hidden" name="kota_tujuan" value="${tujuan = data.tujuan}">
                                                        <input type="hidden" name="satuan" value="${jumlah_ekor = data.jumlah_ekor}">
                                                        <input type="hidden" name="ukuran_kandang" value="${kandang_panjang = data.kandang_panjang}cm x ${kandang_lebar = data.kandang_lebar}cm x ${kandang_tinggi = data.kandang_tinggi}cm (${alternatif_kandang = data.alternatif_kandang})">
                                                        <input type="hidden" name="berat_hewan" value="${berat_hewan = data.berat_hewan}">
                                                        <input type="hidden" name="berat_volume" value="${ berat_volume_dasar = Math.round(data.berat_volume_dasar)}">
                                                        <input type="hidden" name="cargo_price" value="${pengiriman_biaya_via_lion_total = data.pengiriman_biaya_via_lion_total}">
                                                        <button class="btn btn-primary tombol_chekout" @click="modalCheckout(1, cargo.pengiriman_biaya_via_lion_total, cargo.tempat_pengambilan_express)" style="width: 100%; font-size: 5px; margin: 0px ; padding-top: 3px; padding-bottom: 3px; padding-left: 0px; padding-right: 0px"><i class="fas fa-shopping-basket" style="font-size: 6px"></i> Checkout</button>
                                                        </template>
                                                    </div>
                                                   </div>
                                                </td>
                                            </tr>
                                           
                                        
                                    </table>
                                   
                        </section>
                        </div>   
                        <hr class="soft">         
           </div>
           <div class="cargo_express_sriwijaya" v-if="cargo.pengiriman_biaya_via_sriwijaya_total">
             <div style="width: 100%; height: auto;  background-image: url('images/icons/pesawat_sriwijaya.png');"> 
                            <div>VIA <v-img :src="'images/icons/logo_pesawat_sriwijaya.jpg'" style="width: 50px; font-size: 15px;" />(EXPRESS ESTIMASI TIBA 1 - 2 HARI)</div>
                                <section   style="font-size: 8px;">
                                    <table class="table table-sm">
                                        <thead style="background-color: rgba(0, 0, 255, 0.9);">
                                            <tr>
                                                <th style="width: 5%; border: 1px solid; padding-bottom: 10px; margin:  0px; position: center; text-align: center;">Jenis Hewan</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; position: center;text-align: center;">Umur</th>
                                                <th style="width: 5%; border: 1px solid ;padding-bottom: 10px; margin:  0px; text-align: center;">Asal</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; margin:  0px; text-align: center;">Tujuan</th>
                                                <th style="width: 6%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; text-align: center;">Satuan</th>
                                                <th style="width: 10%; border: 1px solid;padding-bottom: 5px; padding-left: 1px; padding-right: 1px; margin:  0px; text-align: center;">Ukuran Kandang</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 5px; padding-left:  1px; padding-right:  1px margin:  0px; text-align: center;">Berat Volume</th>
                                                <th style="width: 10%; border: 1px solid;;padding: 0px; margin:  0px; text-align: center;">Perkiraan <br> Biaya Pengiriman</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-left:     1px; padding-right: 1px; margin:  0px; text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                            
                                            <tr>
                                                
                                                <td style="width: 3%; border: 1px solid;padding: 0px; margin:  0px; "><b style="font-size: 8px;"><center>
                                                    <div class="bg-transparent" style=" padding-top: 2px">
                                                      <template v-if="cargo.jenis_hewan_user == 'Anjing'" >
                                                         <v-img :src="'images/icons/anjing.jpg'" style="width: 25px" /> 
                                                        </template>
                                    
                                                       <template v-if="cargo.jenis_hewan_user == 'Kucing'">
                                                         <v-img :src="'images/icons/kucing.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Burung'">
                                                         <v-img :src="'images/icons/burung.jpg'" style="width: 25px" />
                                                        </template>
                                                       <template v-if="cargo.jenis_hewan_user == 'Ayam'" >
                                                         <v-img :src="'images/icons/ayam.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Kelinci'" >
                                                         <v-img :src="'images/icons/kelinci.jpg'" class=""  style="width: 25px" />
                                                        </template>
                                                    </div>
                                                    {{cargo.jenis_hewan_user}}
                                                    </center>
                                                    </b>
                                                </td>
                                                <td style="width: 5% ;border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right:  0px; margin:  0px;"><b style="font-size: 7px; ">
                                                    <div ><center> {{ cargo.umur}} </center></div></b></td>
                                                 <td style="width:  5%; border: 1px solid;padding-top: 18px; padding-left:  0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 7%;"> <center>{{ cargo.asal}} </center></div></b></td>
                                                <td style="width: 5%; border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="padding-left: 0px;"> <center>{{ cargo.tujuan}}</center></div></b></td>
                                                <td style="width: 5%; border: 1px solid; padding-top: 5px; padding-left:    0px; padding-right: 0px; margin:  0px; text-align: center; "><b style="font-size: 8px;"><div style="width: 100%;"><center>{{ cargo.jumlah_ekor}} <br/>ekor</center></div></b></td>
                                                <td style="width: 15%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 100%;"><center> {{ cargo.kandang_panjang}} cm x  {{ cargo.kandang_lebar}} cm x  {{ cargo.kandang_lebar}} cm  
                                                <br>
                                                ({{ cargo.alternatif_kandang}})</center>
                                                </div></b></td>
                                                <td style="width:  5%; border: 1px solid;padding-top: 17px;padding-right: 0px; padding-left: 0px; margin:  0px;"><b style="font-size: 8px;"><div  style="width: 100%;">
                                                     <center>{{ Math.round(cargo.berat_volume_dasar) }}</center>
                                                </div></b></td>
                                                <td style="width: 10%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div  style="width: 100%; text-align: center;"><center>
                                                    Rp. <br/>
                                                     {{ $root.$options.method.convertToRupiah(cargo.pengiriman_biaya_via_sriwijaya_total) }}
                                                ,-</center></div></b></td> 
                                                <td style="width:  5%; border: 1px solid;padding-top: 7px; padding-left:  0px; padding-left: 0px; margin:  0px;">
                                                    <div>
                                                    <div style="height: 4%; padding-bottom: 0px; margin: 0px; border: 0px solid; font-size: 5px;">
                                                       
                                                    
                                                     </div>
                                                     <div style="padding-top: 2px; border: 0px solid">
                                                     <template v-if="authUser.provinsi_id && authUser.provinsi_id">
                                                      <input type="hidden" name="cargo_price" value="${pengiriman_biaya_via_sriwijaya_total = data.pengiriman_biaya_via_sriwijaya_total}">
                                                      <button class="btn btn-primary tombol_chekout" onclick="modalCheckout(2, ${pengiriman_biaya_via_sriwijaya_total}, '${tempat_pengambilan_express}')"  data-toggle="modal" data-target=".penerima"  style="width: 100%; font-size: 5px; margin: 0px ; padding-top: 3px; padding-bottom: 3px; padding-left: 2px; "><i class="fas fa-shopping-basket"></i> Checkout</button>
                                                     </template>
                                                    </div>
                                                   </div>
                                                </td>
                                            </tr>
                                           
                                        
                                    </table>
                                   
                        </section>
                        </div>   
                        <!-- end modal -->
                          <hr class="soft">
           </div>
           <div class="cargo_reguler_lion" v-if="cargo.pengiriman_biaya_via_lion_total_reguler">
             <div style="width: 100%; height: auto; background-image: url('images/icons/pesawat_lion.png');"> 
                        <div>VIA <img :src="'images/icons/logo_pesawat_lion.jpg'" style="width: 50px; font-size: 15px;">(REGULER ESTIMASI TIBA 3 - 4 HARI)</div>
                         <section   style="font-size: 8px;">
                            
                                    <table class="table table-sm">
                                        <thead style="background-color: rgba(255, 0, 0, 0.8);">
                                            <tr>
                                                <th style="width: 5%; border: 1px solid; padding-bottom: 10px; margin:  0px; position: center; text-align: center;">Jenis Hewan</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; position: center;text-align: center;">Umur</th>
                                                <th style="width: 5%; border: 1px solid ;padding-bottom: 10px; margin:  0px; text-align: center;">Asal</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; margin:  0px; text-align: center;">Tujuan</th>
                                                <th style="width: 6%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; text-align: center;">Satuan</th>
                                                <th style="width: 10%; border: 1px solid;padding-bottom: 5px; padding-left: 1px; padding-right: 1px; margin:  0px; text-align: center;">Ukuran Kandang</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 5px; padding-left:  1px; padding-right:  1px margin:  0px; text-align: center;">Berat Volume</th>
                                                <th style="width: 10%; border: 1px solid;;padding: 0px; margin:  0px; text-align: center;">Perkiraan <br> Biaya Pengiriman</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-left:     1px; padding-right: 1px; margin:  0px; text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                            
                                            <tr>
                                                
                                                <td style="width: 3%; border: 1px solid;padding: 0px; margin:  0px; "><b style="font-size: 8px;"><center>
                                                    <div class="bg-transparent" style=" padding-top: 2px">
                                                       <template v-if="cargo.jenis_hewan_user == 'Anjing'" >
                                                         <v-img :src="'images/icons/anjing.jpg'" style="width: 25px" /> 
                                                        </template>
                                                       <template v-if="cargo.jenis_hewan_user == 'Kucing'">
                                                         <v-img :src="'images/icons/kucing.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Burung'">
                                                         <v-img :src="'images/icons/burung.jpg'" style="width: 25px" />
                                                        </template>
                                                       <template v-if="cargo.jenis_hewan_user == 'Ayam'" >
                                                         <v-img :src="'images/icons/ayam.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Kelinci'" >
                                                         <v-img :src="'images/icons/kelinci.jpg'" class=""  style="width: 25px" />
                                                        </template>
                                                    </div>
                                                    {{cargo.jenis_hewan_user}}
                                                    </center>
                                                    </b>
                                                </td>
                                                <td style="width: 5% ;border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right:  0px; margin:  0px;"><b style="font-size: 7px; ">
                                                    <div ><center> {{ cargo.umur }} </center></div></b></td>
                                                 <td style="width:  5%; border: 1px solid;padding-top: 18px; padding-left:  0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 7%;"> <center>{{ cargo.asal }} </center></div></b></td>
                                                <td style="width: 5%; border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="padding-left: 0px;"> <center>{{ cargo.tujuan }}</center></div></b></td>
                                                <td style="width: 5%; border: 1px solid; padding-top: 5px; padding-left:    0px; padding-right: 0px; margin:  0px; text-align: center; "><b style="font-size: 8px;"><div style="width: 100%;"><center>{{ cargo.jumlah_ekor }} <br/>ekor</center></div></b></td>
                                                <td style="width: 15%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 100%;"><center> {{ cargo.kandang_panjang }} cm x  {{ cargo.kandang_lebar }} cm x  {{ cargo.kandang_lebar }} cm  
                                                <br>
                                                ({{ cargo.alternatif_kandang}})</center>
                                                </div></b></td>
                                                <td style="width:  5%; border: 1px solid;padding-top: 17px;padding-right: 0px; padding-left: 0px; margin:  0px;"><b style="font-size: 8px;"><div  style="width: 100%;">
                                                     <center>{{ Math.round(cargo.berat_volume_dasar) }}</center>
                                                </div></b></td>
                                                <td style="width: 10%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div  style="width: 100%; text-align: center;"><center>
                                                    Rp. <br/>
                                                     {{ $root.$options.method.convertToRupiah(cargo.pengiriman_biaya_via_lion_total_reguler) }}
                                                ,-</center></div></b></td> 
                                                <td style="width:  5%; border: 1px solid;padding-top: 7px; padding-left:  0px; padding-left: 0px; margin:  0px;">
                                                    <div>
                                                    <div style="height: 4%; padding-bottom: 0px; margin: 0px; border: 0px solid; font-size: 5px;">
                                                       
                                                    
                                                     </div>
                                                     <div style="padding-top: 2px; border: 0px solid">
                                                      <template v-if="authUser.provinsi_id && authUser.provinsi_id">
                                                      <input type="hidden" name="cargo_price" value="${pengiriman_biaya_via_lion_total_reguler = data.pengiriman_biaya_via_lion_total_reguler}">
                                                      <button class="btn btn-primary tombol_chekout" onclick="modalCheckout(3, ${pengiriman_biaya_via_lion_total_reguler}, '${tempat_pengambilan_reguler}')"  data-toggle="modal" data-target=".penerima"  style="width: 100%; font-size: 5px; margin: 0px ; padding-top: 3px; padding-bottom: 3px; padding-left: 2px; "><i class="fas fa-shopping-basket"></i> Checkout</button>
                                                      </template>
                                                    </div>
                                                   </div>
                                                </td>
                                            </tr>
                                            
                                    </table>
                                   
                        </section>
                        </div>   
                        <!-- end modal -->
                          <hr class="soft">
           </div>
           <div class="cargo_reguler_sriwijaya" v-if="cargo.pengiriman_biaya_via_sriwijaya_total_reguler">
             <div style="width: 100%; height: auto;  background-image: url('images/icons/pesawat_sriwijaya.png');"> 
                            <div>VIA <v-img :src="'images/icons/logo_pesawat_sriwijaya.jpg'" style="width: 50px; font-size: 15px;" />(EXPRESS ESTIMASI TIBA 3 - 4 HARI)</div>
                                <section   style="font-size: 8px;">
                                    <table class="table table-sm">
                                        <thead style="background-color: rgba(0, 0, 255, 0.9);">
                                            <tr>
                                                <th style="width: 5%; border: 1px solid; padding-bottom: 10px; margin:  0px; position: center; text-align: center;">Jenis Hewan</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; position: center;text-align: center;">Umur</th>
                                                <th style="width: 5%; border: 1px solid ;padding-bottom: 10px; margin:  0px; text-align: center;">Asal</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; margin:  0px; text-align: center;">Tujuan</th>
                                                <th style="width: 6%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; text-align: center;">Satuan</th>
                                                <th style="width: 10%; border: 1px solid;padding-bottom: 5px; padding-left: 1px; padding-right: 1px; margin:  0px; text-align: center;">Ukuran Kandang</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 5px; padding-left:  1px; padding-right:  1px margin:  0px; text-align: center;">Berat Volume</th>
                                                <th style="width: 10%; border: 1px solid;;padding: 0px; margin:  0px; text-align: center;">Perkiraan <br> Biaya Pengiriman</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-left:     1px; padding-right: 1px; margin:  0px; text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                            
                                            <tr>
                                                
                                                <td style="width: 3%; border: 1px solid;padding: 0px; margin:  0px; "><b style="font-size: 8px;"><center>
                                                    <div class="bg-transparent" style=" padding-top: 2px">
                                                        
                                                        <template v-if="cargo.jenis_hewan_user == 'Anjing'" >
                                                         <v-img :src="'images/icons/anjing.jpg'" style="width: 25px" /> 
                                                        </template>
                                                       <template v-if="cargo.jenis_hewan_user == 'Kucing'">
                                                         <v-img :src="'images/icons/kucing.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Burung'">
                                                         <v-img :src="'images/icons/burung.jpg'" style="width: 25px" />
                                                        </template>
                                                       <template v-if="cargo.jenis_hewan_user == 'Ayam'" >
                                                         <v-img :src="'images/icons/ayam.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Kelinci'" >
                                                         <v-img :src="'images/icons/kelinci.jpg'" class=""  style="width: 25px" />
                                                        </template>
                                                    </div>
                                                    {{ cargo.jenis_hewan_user}}
                                                    </center>
                                                    </b>
                                                </td>
                                                <td style="width: 5% ;border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right:  0px; margin:  0px;"><b style="font-size: 7px; ">
                                                    <div ><center> {{cargo.umur}} </center></div></b></td>
                                                 <td style="width:  5%; border: 1px solid;padding-top: 18px; padding-left:  0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 7%;"> <center>{{ cargo.asal }} </center></div></b></td>
                                                <td style="width: 5%; border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="padding-left: 0px;"> <center>{{ cargo.tujuan }}</center></div></b></td>
                                                <td style="width: 5%; border: 1px solid; padding-top: 5px; padding-left:    0px; padding-right: 0px; margin:  0px; text-align: center; "><b style="font-size: 8px;"><div style="width: 100%;"><center>{{ cargo.jumlah_ekor }} <br/>ekor</center></div></b></td>
                                                <td style="width: 15%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 100%;"><center> {{cargo.kandang_panjang }} cm x  {{ cargo.kandang_lebar }} cm x  {{ cargo.kandang_lebar }} cm  
                                                <br>
                                                ({{ cargo.alternatif_kandang }})</center>
                                                </div></b></td>
                                                <td style="width:  5%; border: 1px solid;padding-top: 17px;padding-right: 0px; padding-left: 0px; margin:  0px;"><b style="font-size: 8px;"><div  style="width: 100%;">
                                                     <center>{{ Math.round(cargo.berat_volume_dasar) }}</center>
                                                </div></b></td>
                                                <td style="width: 10%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div  style="width: 100%; text-align: center;"><center>
                                                    Rp. <br/>
                                                     {{ $root.$options.method.convertToRupiah(cargo.pengiriman_biaya_via_sriwijaya_total_reguler) }}
                                                ,-</center></div></b></td> 
                                                <td style="width:  5%; border: 1px solid;padding-top: 7px; padding-left:  0px; padding-left: 0px; margin:  0px;">
                                                    <div>
                                                    <div style="height: 4%; padding-bottom: 0px; margin: 0px; border: 0px solid; font-size: 5px;">
                                                       
                                                    
                                                     </div>
                                                     <div style="padding-top: 2px; border: 0px solid">
                                                     <template v-if="authUser.provinsi_id && authUser.provinsi_id">
                                                      <input type="hidden" name="cargo_price" value="${pengiriman_biaya_via_sriwijaya_total_reguler = data.pengiriman_biaya_via_sriwijaya_total_reguler}">
                                                      <button class="btn btn-primary tombol_chekout" onclick="modalCheckout(4, ${pengiriman_biaya_via_sriwijaya_total_reguler},'${tempat_pengambilan_reguler}')"  data-toggle="modal" data-target=".penerima"  style="width: 100%; font-size: 5px; margin: 0px ; padding-top: 3px; padding-bottom: 3px; padding-left: 2px; "><i class="fas fa-shopping-basket"></i> Checkout</button>
                                                     </template>
                                                    </div>
                                                   </div>
                                                </td>
                                            </tr>
                                            
                                    </table>
                                   
                        </section>
                        </div>   
                        <!-- end modal -->
                          <hr class="soft">
           </div>
           <div class="cargo_darat_kereta" v-if="cargo.pengiriman_biaya_via_kreta">
             <div style="width: 100%; height: auto;  background-image: url('images/icons/kreta1.png');"> 
                            <div>VIA <v-img :src="'images/icons/logo_kreta.png'" style="width: 50px; font-size: 15px;" />(KERETA ESTIMASI TIBA 1 - 2 HARI)</div>
                                 <section   style="font-size: 8px;">
                            
                                    <table class="table table-sm">
                                        <thead style="background-color: rgba(100%, 64.7%, 0%, 0.8);">
                                            <tr>
                                                <th style="width: 5%; border: 1px solid; padding-bottom: 10px; margin:  0px; position: center; text-align: center;">Jenis Hewan</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; position: center;text-align: center;">Umur</th>
                                                <th style="width: 5%; border: 1px solid ;padding-bottom: 10px; margin:  0px; text-align: center;">Asal</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; margin:  0px; text-align: center;">Tujuan</th>
                                                <th style="width: 6%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; text-align: center;">Satuan</th>
                                                <th style="width: 10%; border: 1px solid;padding-bottom: 5px; padding-left: 1px; padding-right: 1px; margin:  0px; text-align: center;">Ukuran Kandang</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 5px; padding-left:  1px; padding-right:  1px margin:  0px; text-align: center;">Berat Volume</th>
                                                <th style="width: 10%; border: 1px solid;;padding: 0px; margin:  0px; text-align: center;">Perkiraan <br> Biaya Pengiriman</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-left:     1px; padding-right: 1px; margin:  0px; text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                            
                                            <tr>
                                                
                                                <td style="width: 3%; border: 1px solid;padding: 0px; margin:  0px; "><b style="font-size: 8px;"><center>
                                                    <div class="bg-transparent" style=" padding-top: 2px">
                                                        <template v-if="cargo.jenis_hewan_user == 'Anjing'" >
                                                         <v-img :src="'images/icons/anjing.jpg'" style="width: 25px" /> 
                                                        </template>
                                                       <template v-if="cargo.jenis_hewan_user == 'Kucing'">
                                                         <v-img :src="'images/icons/kucing.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Burung'">
                                                         <v-img :src="'images/icons/burung.jpg'" style="width: 25px" />
                                                        </template>
                                                       <template v-if="cargo.jenis_hewan_user == 'Ayam'" >
                                                         <v-img :src="'images/icons/ayam.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Kelinci'" >
                                                         <v-img :src="'images/icons/kelinci.jpg'" class=""  style="width: 25px" />
                                                        </template>
                                                    </div>
                                                    {{ cargo.jenis_hewan_user }}
                                                    </center>
                                                    </b>
                                                </td>
                                                <td style="width: 5% ;border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right:  0px; margin:  0px;"><b style="font-size: 7px; ">
                                                    <div ><center> {{cargo.umur }} </center></div></b></td>
                                                 <td style="width:  5%; border: 1px solid;padding-top: 18px; padding-left:  0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 7%;"> <center>{{ cargo.asal }} </center></div></b></td>
                                                <td style="width: 5%; border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="padding-left: 0px;"> <center>{{ cargo.tujuan }}</center></div></b></td>
                                                <td style="width: 5%; border: 1px solid; padding-top: 5px; padding-left:    0px; padding-right: 0px; margin:  0px; text-align: center; "><b style="font-size: 8px;"><div style="width: 100%;"><center>{{ cargo.jumlah_ekor }} <br/>ekor</center></div></b></td>
                                                <td style="width: 15%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 100%;"><center> {{cargo.kandang_panjang }} cm x  {{ cargo.kandang_lebar }} cm x  {{cargo.kandang_lebar }} cm  
                                                <br>
                                                ({{cargo.alternatif_kandang }})</center>
                                                </div></b></td>
                                                <td style="width:  5%; border: 1px solid;padding-top: 17px;padding-right: 0px; padding-left: 0px; margin:  0px;"><b style="font-size: 8px;"><div  style="width: 100%;">
                                                     <center>{{ Math.round(cargo.berat_volume_dasar)}}</center>
                                                </div></b></td>
                                                <td style="width: 10%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div  style="width: 100%; text-align: center;"><center>
                                                    Rp. <br/>
                                                     {{ $root.$options.method.convertToRupiah(cargo.pengiriman_biaya_via_kreta) }}
                                                ,-</center></div></b></td> 
                                                <td style="width:  5%; border: 1px solid;padding-top: 7px; padding-left:  0px; padding-left: 0px; margin:  0px;">
                                                    <div>
                                                    <div style="height: 4%; padding-bottom: 0px; margin: 0px; border: 0px solid; font-size: 5px;">
                                                       
                                                    
                                                     </div>
                                                     <div style="padding-top: 2px; border: 0px solid">
                                                      <template v-if="authUser.provinsi_id && authUser.provinsi_id">
                                                      <input type="hidden" name="cargo_price" value="${jenis_hewan_user = data.jenis_hewan_user}">
                                                      <input type="hidden" name="cargo_price" value="${umur = data.umur}">
                                                      <input type="hidden" name="cargo_price" value="${asal = data.asal}">
                                                      <input type="hidden" name="cargo_price" value="${tujuan = data.tujuan}">
                                                      <input type="hidden" name="cargo_price" value="${jumlah_ekor = data.jumlah_ekor}">
                                                      <input type="hidden" name="ukuran_kandang" value="${kandang_panjang = data.kandang_panjang}cm x ${kandang_lebar = data.kandang_lebar}cm x ${kandang_tinggi = data.kandang_tinggi}cm (${alternatif_kandang = data.alternatif_kandang})">
                                                     <input type="hidden" name="berat_hewan" value="${berat_hewan = data.berat_hewan}">
                                                     <input type="hidden" name="berat_volume" value="${ berat_volume_dasar = Math.round(data.berat_volume_dasar)}">
                                                      <input type="hidden" name="cargo_price" value="${pengiriman_biaya_via_kreta = data.pengiriman_biaya_via_kreta}">
                                                      <button class="btn btn-primary tombol_chekout" onclick="modalCheckout(5, ${pengiriman_biaya_via_kreta},'${tempat_pengambilan_kereta}')"  data-toggle="modal" data-target=".penerima"  style="width: 100%; font-size: 5px; margin: 0px ; padding-top: 3px; padding-bottom: 3px; padding-left: 2px; "><i class="fas fa-shopping-basket"></i> Checkout</button>
                                                      </template>
                                                    </div>
                                                   </div>
                                                </td>
                                            </tr>
                                            
                                    </table>
                                   
                        </section>
                        </div>   
                        <!-- end modal -->
                          <hr class="soft">
           </div>
           <div class="cargo_darat_mobil" v-if="cargo.pengiriman_biaya_via_darat_mobil_total">
             <div style="width: 100%; height: auto; background-image: url('images/icons/mobil.png');"> 
                            <div>VIA <v-img src="'images/icons/logo_mobil.png'" style="width: 50px; font-size: 15px;" />(MOBIL ESTIMASI TIBA 1 - 2 HARI)</div>
                                 <section   style="font-size: 8px;">
                            
                                    <table class="table table-sm">
                                        <thead style="background-color: #999999">
                                            <tr>
                                                <th style="width: 5%; border: 1px solid; padding-bottom: 10px; margin:  0px; position: center; text-align: center;">Jenis Hewan</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; position: center;text-align: center;">Umur</th>
                                                <th style="width: 5%; border: 1px solid ;padding-bottom: 10px; margin:  0px; text-align: center;">Asal</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; margin:  0px; text-align: center;">Tujuan</th>
                                                <th style="width: 6%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; text-align: center;">Satuan</th>
                                                <th style="width: 10%; border: 1px solid;padding-bottom: 5px; padding-left: 1px; padding-right: 1px; margin:  0px; text-align: center;">Ukuran Kandang</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 5px; padding-left:  1px; padding-right:  1px margin:  0px; text-align: center;">Berat Volume</th>
                                                <th style="width: 10%; border: 1px solid;;padding: 0px; margin:  0px; text-align: center;">Perkiraan <br> Biaya Pengiriman</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-left:     1px; padding-right: 1px; margin:  0px; text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                            
                                            <tr>
                                                
                                                <td style="width: 3%; border: 1px solid;padding: 0px; margin:  0px; "><b style="font-size: 8px;"><center>
                                                    <div class="bg-transparent" style=" padding-top: 2px">
                                                        <template v-if="cargo.jenis_hewan_user == 'Anjing'" >
                                                         <v-img :src="'images/icons/anjing.jpg'" style="width: 25px" /> 
                                                        </template>
                                                       <template v-if="cargo.jenis_hewan_user == 'Kucing'">
                                                         <v-img :src="'images/icons/kucing.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Burung'">
                                                         <v-img :src="'images/icons/burung.jpg'" style="width: 25px" />
                                                        </template>
                                                       <template v-if="cargo.jenis_hewan_user == 'Ayam'" >
                                                         <v-img :src="'images/icons/ayam.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Kelinci'" >
                                                         <v-img :src="'images/icons/kelinci.jpg'" class=""  style="width: 25px" />
                                                        </template>
                                                    </div>
                                                    {{cargo.jenis_hewan_user}}
                                                    </center>
                                                    </b>
                                                </td>
                                                <td style="width: 5% ;border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right:  0px; margin:  0px;"><b style="font-size: 7px; ">
                                                    <div ><center> {{cargo.umur}} </center></div></b></td>
                                                 <td style="width:  5%; border: 1px solid;padding-top: 18px; padding-left:  0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 7%;"> <center>{{cargo.asal}} </center></div></b></td>
                                                <td style="width: 5%; border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="padding-left: 0px;"> <center>{{cargo.tujuan}}</center></div></b></td>
                                                <td style="width: 5%; border: 1px solid; padding-top: 5px; padding-left:    0px; padding-right: 0px; margin:  0px; text-align: center; "><b style="font-size: 8px;"><div style="width: 100%;"><center>{{cargo.jumlah_ekor}} <br/>ekor</center></div></b></td>
                                                <td style="width: 15%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 100%;"><center> {{cargo.kandang_panjang}} cm x  {{cargo.kandang_lebar}} cm x  {{cargo.kandang_lebar}} cm  
                                                <br>
                                                ({{cargo.alternatif_kandang}})</center>
                                                </div></b></td>
                                                <td style="width:  5%; border: 1px solid;padding-top: 17px;padding-right: 0px; padding-left: 0px; margin:  0px;"><b style="font-size: 8px;"><div  style="width: 100%;">
                                                     <center>{{Math.round(cargo.berat_volume_dasar)}}</center>
                                                </div></b></td>
                                                <td style="width: 10%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div  style="width: 100%; text-align: center;"><center>
                                                    Rp. <br/>
                                                     {{ $root.$options.method.convertToRupiah(cargo.pengiriman_biaya_via_darat_mobil_total)}}
                                                ,-</center></div></b></td> 
                                                <td style="width:  5%; border: 1px solid;padding-top: 7px; padding-left:  0px; padding-left: 0px; margin:  0px;">
                                                    <div>
                                                    <div style="height: 4%; padding-bottom: 0px; margin: 0px; border: 0px solid; font-size: 5px;">
                                                       
                                                    
                                                     </div>
                                                     <div style="padding-top: 2px; border: 0px solid">
                                                      <template v-if="authUser.provinsi_id && authUser.provinsi_id">
                                                      <input type="hidden" name="cargo_price" value="${jenis_hewan_user = data.jenis_hewan_user}">
                                                      <input type="hidden" name="cargo_price" value="${umur = data.umur}">
                                                      <input type="hidden" name="cargo_price" value="${waktu = data.waktu}">
                                                      <input type="hidden" name="cargo_price" value="${asal = data.asal}">
                                                      <input type="hidden" name="cargo_price" value="${tujuan = data.tujuan}">
                                                      <input type="hidden" name="cargo_price" value="${jumlah_ekor = data.jumlah_ekor}">
                                                      <input type="hidden" name="ukuran_kandang" value="${kandang_panjang = data.kandang_panjang}cm x ${kandang_lebar = data.kandang_lebar}cm x ${kandang_tinggi = data.kandang_tinggi}cm (${alternatif_kandang = data.alternatif_kandang})">
                                                     <input type="hidden" name="berat_hewan" value="${berat_hewan = data.berat_hewan}">
                                                     <input type="hidden" name="berat_volume" value="${ berat_volume_dasar = Math.round(data.berat_volume_dasar)}">
                                                      <input type="hidden" name="cargo_price" value="${pengiriman_biaya_via_darat_mobil_total = data.pengiriman_biaya_via_darat_mobil_total}">
                                                      <button class="btn btn-primary tombol_chekout" onclick="modalCheckout(6, ${pengiriman_biaya_via_darat_mobil_total}, 'Sampai Alamat')"  data-toggle="modal" data-target=".penerima"  style="width: 100%; font-size: 5px; margin: 0px ; padding-top: 3px; padding-bottom: 3px; padding-left: 2px; "><i class="fas fa-shopping-basket"></i> Checkout</button>
                                                      </template>
                                                    </div>
                                                   </div>
                                                </td>
                                            </tr>
                                            
                                    </table>
                                   
                        </section>
                        </div>   
                        <!-- end modal -->
                          <hr class="soft">
           </div>
           <div class="cargo_kapal_laut" v-if="cargo.pengiriman_biaya_via_laut">
             <div style="width: 100%; height: auto; background-image: url('images/icons/kapal.png');"> 
                            <div>VIA <v-img :src="'images/icons/logo_kapal.png'" style="width: 50px; font-size: 15px;" />(KAPAL LAUT ESTIMASI TIBA 2 - 10 HARI)</div>
                                 <section   style="font-size: 8px;">
                            
                                    <table class="table table-sm">
                                        <thead style="background-color: #999999">
                                            <tr>
                                                <th style="width: 5%; border: 1px solid; padding-bottom: 10px; margin:  0px; position: center; text-align: center;">Jenis Hewan</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; position: center;text-align: center;">Umur</th>
                                                <th style="width: 5%; border: 1px solid ;padding-bottom: 10px; margin:  0px; text-align: center;">Asal</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; margin:  0px; text-align: center;">Tujuan</th>
                                                <th style="width: 6%; border: 1px solid;padding-bottom: 10px; padding-right:    0px; padding-left:  0px; margin:  0px; text-align: center;">Satuan</th>
                                                <th style="width: 10%; border: 1px solid;padding-bottom: 5px; padding-left: 1px; padding-right: 1px; margin:  0px; text-align: center;">Ukuran Kandang</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 5px; padding-left:  1px; padding-right:  1px margin:  0px; text-align: center;">Berat Volume</th>
                                                <th style="width: 10%; border: 1px solid;;padding: 0px; margin:  0px; text-align: center;">Perkiraan <br> Biaya Pengiriman</th>
                                                <th style="width: 5%; border: 1px solid;padding-bottom: 10px; padding-left:     1px; padding-right: 1px; margin:  0px; text-align: center;">Action</th>
                                            </tr>
                                        </thead>
                                            <tr>
                                                <td style="width: 3%; border: 1px solid;padding: 0px; margin:  0px; "><b style="font-size: 8px;"><center>
                                                    <div class="bg-transparent" style=" padding-top: 2px">
                                                      <template v-if="cargo.jenis_hewan_user == 'Anjing'" >
                                                         <v-img :src="'images/icons/anjing.jpg'" style="width: 25px" /> 
                                                        </template>
                                                       <template v-if="cargo.jenis_hewan_user == 'Kucing'">
                                                         <v-img :src="'images/icons/kucing.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Burung'">
                                                         <v-img :src="'images/icons/burung.jpg'" style="width: 25px" />
                                                        </template>
                                                       <template v-if="cargo.jenis_hewan_user == 'Ayam'" >
                                                         <v-img :src="'images/icons/ayam.jpg'" style="width: 25px" />
                                                       </template>
                                                        <template v-if="cargo.jenis_hewan_user == 'Kelinci'" >
                                                         <v-img :src="'images/icons/kelinci.jpg'" class=""  style="width: 25px" />
                                                        </template>
                                                    </div>
                                                    {{ cargo.jenis_hewan_user}}
                                                    </center>
                                                    </b>
                                                </td>
                                                <td style="width: 5% ;border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right:  0px; margin:  0px;"><b style="font-size: 7px; ">
                                                    <div ><center> {{ cargo.umur}} </center></div></b></td>
                                                 <td style="width:  5%; border: 1px solid;padding-top: 18px; padding-left:  0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 7%;"> <center>{{ cargo.asal}} </center></div></b></td>
                                                <td style="width: 5%; border: 1px solid;padding-top: 18px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="padding-left: 0px;"> <center>{{ cargo.tujuan}}</center></div></b></td>
                                                <td style="width: 5%; border: 1px solid; padding-top: 5px; padding-left:    0px; padding-right: 0px; margin:  0px; text-align: center; "><b style="font-size: 8px;"><div style="width: 100%;"><center>{{ cargo.jumlah_ekor}} <br/>ekor</center></div></b></td>
                                                <td style="width: 15%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div style="width: 100%;"><center> {{ cargo.kandang_panjang}} cm x  {{ cargo.kandang_lebar}} cm x  {{ cargo.kandang_lebar}} cm  
                                                <br>
                                                ({{ cargo.alternatif_kandang}})</center>
                                                </div></b></td>
                                                <td style="width:  5%; border: 1px solid;padding-top: 17px;padding-right: 0px; padding-left: 0px; margin:  0px;"><b style="font-size: 8px;"><div  style="width: 100%;">
                                                     <center>{{ Math.round(cargo.berat_volume_dasar)}}</center>
                                                </div></b></td>
                                                <td style="width: 10%; border: 1px solid;padding-top: 7px; padding-left: 0px; padding-right: 0px; margin:  0px;"><b style="font-size: 7px;"><div  style="width: 100%; text-align: center;"><center>
                                                    Rp. <br/>
                                                     {{ $root.$options.method.convertToRupiah(cargo.pengiriman_biaya_via_laut)}}
                                                ,-</center></div></b></td> 
                                                <td style="width:  5%; border: 1px solid;padding-top: 7px; padding-left:  0px; padding-left: 0px; margin:  0px;">
                                                    <div>
                                                    <div style="height: 4%; padding-bottom: 0px; margin: 0px; border: 0px solid; font-size: 5px;">
                                                       
                                                    
                                                     </div>
                                                     <div style="padding-top: 2px; border: 0px solid">
                                                     <template v-if="authUser.provinsi_id && authUser.provinsi_id">
                                                      <input type="hidden" name="cargo_price" value="${jenis_hewan_user = data.jenis_hewan_user}">
                                                      <input type="hidden" name="cargo_price" value="${umur = data.umur}">
                                                      <input type="hidden" name="cargo_price" value="${waktu = data.waktu}">
                                                      <input type="hidden" name="cargo_price" value="${asal = data.asal}">
                                                      <input type="hidden" name="cargo_price" value="${tujuan = data.tujuan}">
                                                      <input type="hidden" name="cargo_price" value="${jumlah_ekor = data.jumlah_ekor}">
                                                      <input type="hidden" name="ukuran_kandang" value="${kandang_panjang = data.kandang_panjang}cm x ${kandang_lebar = data.kandang_lebar}cm x ${kandang_tinggi = data.kandang_tinggi}cm (${alternatif_kandang = data.alternatif_kandang})">
                                                     <input type="hidden" name="berat_hewan" value="${berat_hewan = data.berat_hewan}">
                                                     <input type="hidden" name="berat_volume" value="${ berat_volume_dasar = Math.round(data.berat_volume_dasar)}">
                                                      <input type="hidden" name="cargo_price" value="${pengiriman_biaya_via_laut = data.pengiriman_biaya_via_laut}">
                                                      <button class="btn btn-primary tombol_chekout" onclick="modalCheckout(7, ${pengiriman_biaya_via_laut}, 'Sampai Alamat')"  data-toggle="modal" data-target=".penerima"  style="width: 100%; font-size: 5px; margin: 0px ; padding-top: 3px; padding-bottom: 3px; padding-left: 2px; "><i class="fas fa-shopping-basket"></i> Checkout</button>
                                                     </template>
                                                    </div>
                                                   </div>
                                                </td>
                                            </tr>
                                            
                                    </table>
                                   
                        </section>
                        </div>   
                        <!-- end modal -->
                          <hr class="soft">
           </div>
            
        </div>
            <b-modal id="checkout" scrollable title="Checkout" button-size="sm"  >
       <template v-slot:modal-title="{ close }" >
        <i class="fa fa-arrow-left" aria-hidden="true" style="width: 30px;font-size: 20px; padding-top: 4px" @click="close()"></i> Komentar
        </template>
        <div class="row normal" >
          
        </div>
        <template v-slot:modal-footer="{ }">
          <div class="row input-group input-group-sm" style="padding-left: 15px">
            
          </div>
        </template>
      </b-modal> 
    </div>
    </template>
    <template v-if="checkout.flag == true">
      <MenuTopName icon="'./images/logo_mypet.png'" judul="Checkout"/>
      <div style="padding: 10px; 0px;">
        <template v-if="checkout.invoice_kategori_id == 2">
          <label>VIA <img :src="'images/icons/logo_pesawat_lion.jpg'" style="width: 60px; font-size: 15px;">(EXPRESS ESTIMASI TIBA 1 - 2 HARI)</label>
         </template>
        <template v-if="checkout.invoice_kategori_id == 2"> 
          <label>VIA <img :src="'images/icons/logo_pesawat_sriwijaya.jpg'" style="width: 60px; font-size: 15px;">(EXPRESS ESTIMASI TIBA 1 - 2 HARI)</label>
        </template>
        <template  v-if="checkout.invoice_kategori_id == 3">
          <label>VIA <img :src="'images/icons/logo_pesawat_lion.jpg'" style="width: 50px; font-size: 15px;">(REGULER ESTIMASI TIBA 3 - 4 HARI)</label>
        </template>
        <template  v-if="checkout.invoice_kategori_id == 4">
          <label> VIA <img :src="'images/icons/logo_pesawat_sriwijaya.jpg'" style="width: 50px; font-size: 15px;">(EXPRESS ESTIMASI TIBA 3 - 4 HARI)</label>
        </template>
        <template  v-if="checkout.invoice_kategori_id == 5">
          <label> VIA <img :src="'images/icons/logo_kreta.png'" style="width: 50px; font-size: 15px;">(MOBIL ESTIMASI TIBA 1 - 2 HARI)</label>
        </template>
       <template  v-if="checkout.invoice_kategori_id == 6">
           <label> VIA <img :src="'images/icons/logo_mobil.png'" style="width: 50px; font-size: 15px;">(MOBIL ESTIMASI TIBA 1 - 2 HARI)</label>
       </template>
        <template  v-if="checkout.invoice_kategori_id == 7">
            <label> VIA <img :src="'images/icons/logo_kapal.png'" style="width: 50px; font-size: 15px;">(KAPAL LAUT ESTIMASI TIBA 2 - 10 HARI)</label>
        </template>
                  <form action="invoiceCargoSave" method="POST" >
                            <div class="form-group">
                          
                              </div>
                             <div class="form-group">
                              
                              <label >Nama Pengirim</label>
                              <input type="hidden" class="form-control" name="user_id ">
                              <input type="hidden" class="form-control" name="invoice_kategori_id" value="2">
                              <input  type="text" class="form-control" id="user_name" name="name" value="" readonly>
                            </div>
              
                            <div class="form-group">
                              <label >WA/HP Pengirim</label>
                              <input type="number" class="form-control" id="user_hp"  name="hp" value="" readonly>
                            </div>
                            <div class="form-group">
                              <label >
                                <div class="row"> 
                                <div class="col-8">Alamat Pengirim</div> <div class="col-4" style="padding-left: 200px"><button type="button" class="btn btn-outline-primary"  data-toggle="modal" data-target=".edit_profil" style="padding: 1px 5px; font-size: 8px"><i class="fa fa-edit"></i>Form Pengirim</button></div>
                               </div>
                              </label>
                               
                              <!-- <div id="googleMapPenerima" style="width:100%;height:200px;"></div>
                              <div id="googleMap" style="width:100%;height:200px;"></div>
                                <input type="text" id="map_lat" name="map_lat" value="">
                                <input type="text" id="map_lng" name="map_lng" value=""> -->
                              <textarea class="form-control" id="alamat_lengkap_pengirim" name="alamat_lengkap"  rows="3" readonly style="text-align: left; height: 100px"></textarea>
                            </div>
                            <div class="form-group">
                             <label >Nama Penerima</label>
                              <input type="text" class="form-control" name="nama_penerima"  required>
                            </div>
                  
                            <div class="form-group">
                              <label >WA/HP Penerima</label>
                              <input type="number" class="form-control" name="hp_penerima" required>
                            </div>
                            <div class="form-group">
                              <label >Alamat Penerima</label>
                                 <div id="mapContainer" style="width:100%;height:200px;"></div>
                                <input type="text" id="lat" name="map_lat_penerima" value="">
                                <input type="text" id="lng" name="map_lng_penerima" value="">
                              <textarea class="form-control" name="alamat_penerima"  rows="3" required ></textarea>
                            </div>
                            <div class="form-group">
                                            <span class="label-input100">Provinsi Penerima</span>
                                            <select class="form-control provinsi_penerima" name="penerima_provinsi_id" id="provinsi_penerima" required>
                                                  <option class="form-control"  >Pilih Provinsi </option>    
                                             </select>
                                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                            </div>
                            <div class="form-group">
                                            <span class="label-input100">Kabupaten / Kota Penerima</span>
                                            <select class="form-control kabkota_penerima" name="kabkota_id" id="kabkota_penerima" required>
                                                
                                             </select>
                                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                            </div>
                            <div class="form-group">
                                            <span class="label-input100">Kecamatan Penerima</span>
                                            <select class="form-control kecamatan_penerima" name="kecamatan_id" id="kecamatan_penerima" required>
                                                
                                             </select>
                                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                            </div>
                            <div class="form-group">
                                            <span class="label-input100">Kelurahan Penerima</span>
                                            <select class="form-control kelurahan_penerima" name="kelurahan_id" id="kelurahan_penerima" required>
                                                
                                             </select>
                                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                            </div>
                            <div id="pilihan_biaya"></div>
                             <div class="form-group">
                                            <span class="label-input100">Tempat Pengambilan</span>
                                            <select class="form-control"  name="tempat_pengambilan" id="tempat_pengambilan">
                                              
                                             </select>
                                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                            </div>
                            <div class="form-group">
                                            <span class="label-input100">Kandang Pet Chargo Dari Pengirim</span>
                                            <select class="form-control" id="pet_chargo" name="pet_chargo" required>
                                              <option class="form-control" value="YES">YA</option>
                                              <option class="form-control" value="NO">TIDAK</option>
                                             </select>
                                            <span class="focus-input100" data-symbol="&#xf206;"></span>
                            </div>
                            <div id="pet_chargo_biaya">
                              <div class="form-group">
                                <label>Biaya Tambahan Kandang Pet Chargo (<label id="alternatif_kandang"></label>)</label>
                                 <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">Rp</div>
                                    </div>
                                    <input type="text" id="pet_chargo_input" class="form-control" name="pet_chargo_kandang" value="0" readonly>
                                </div>
                              </div>
                            </div>
                            <div>
                              <label>Estimasi Biaya Pengiriman</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Rp</div>
                                </div>
                                <input type="text" id="cargo_price" class="form-control" name="cargo_price" value="" readonly>
                              </div>
                            </div>
                            <div>
                              <label>Total Biaya Pengiriman</label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Rp</div>
                                </div>
                                <input type="text" id="total_price" class="form-control" name="total_price" value="" readonly>
                              </div>
                            </div>
                            <div class="form-check" style="padding-bottom: 10px">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" checked>
                                <label class="form-check-label" for="exampleCheck1">Saya menyetujui persyaratan dan aturan yang berlaku </label>
                            </div>
                            <div class="form-group">
                             
                                <button type="submit" class="form-control btn btn-success"><i class="fas fa-plane"></i> Chekout</button>
                            </div>
                        </form>
      </div>
    </template>
    <MenuBottom on='1'/>
  </div>
</template>
<script>
import axios from 'axios'
import MenuTopName from '../components/MenuTopName';

import MenuBottom from '../components/MenuBottom';
export default {
  
  name: 'MyCargo',
  data: ()=> {
     return {
       authUser: {},
        limit: 10,
        cargoPet: {},
        cargoList : [],
        statusNotif: 'bg-light',
        jenisHewanList : [],
        waktuList: [],
        kotaAsalList : [],
        kotaTujuanList : [],
        petcargo : 'P1',
        cargo: {},
        checkout: {
          flag: false,
          invoice_kategori_id: 1
        }

      //  products: []
     }
  },
  components: {
    MenuTopName,
   
    MenuBottom
  },
  
  methods: {
     init(){
        axios.get('https://ujspetcargo.com/api/petcargo' )
         .then(res =>{
           console.log('res n', res);
               this.jenisHewanList = res.data.jenis_hewan;
                this.kotaAsalList = res.data.kota_asal;
                this.kotaTujuanList = res.data.kota_tujuan;
                this.waktuList = ['Minggu','Bulan','Tahun'];
                this.petcargo = 'P1';
                this.cargoPet.jenis_hewan = res.data.jenis_hewan[0].nama_hewan;
                this.cargoPet.asal = res.data.kota_asal[0].nama_kota;
                this.cargoPet.tujuan_pengiriman = res.data.kota_tujuan[0].nama_kota;
                this.cargoPet.umur = 4;
                this.cargoPet.waktu = 'Bulan';
                this.cargoPet.jumlah_ekor = 1;
                this.cargoPet.kandang_panjang = 50;
                this.cargoPet.kandang_lebar = 30;
                this.cargoPet.kandang_tinggi = 30;
                this.cargoPet.alternatif_kandang = 'P1';
                this.cargoPet.berat_hewan = 1;
           // console.log('t', this)
            
        })
        .catch(err =>{
            this.notif = { message:'terjadi kesalahan', type:"warning"}
            
        })
        
    },
    lihatDown() {
      document.getElementById("persyaratan").style.display = "block";
    },
    lihatUp() {
      document.getElementById("persyaratan").style.display = "none";
    },
    estimasiBiaya(){
          axios.get('https://ujspetcargo.com/api/cargobiaya?token=123', {
            params: this.cargoPet
            })
        .then(res =>{
          console.log('d', this)
          console.log('res biaya', res)
          this.cargo =  res.data
        //  this.pets =  res.data.pet
        //  this.kategoriList =  res.data.pet_kategori
        //  this.petJenisList =  res.data.pet_jenis
        //  this.petJenisKelaminList =  res.data.pet_jenis_kelamin
        //  this.petRasList =  res.data.ras
         
        })
      },
    modalCheckout(invoice_kategori_id,pengiriman_biaya_via_lion_total, tempat_pengambilan_express) {
      //this.checkout.invoice_kategori_id = invoice_kategori_id
      this.checkout.flag = true
      
    },
  },
 
   mounted() {
     this.authUser = JSON.parse(localStorage.authUser)
     console.log('a', this.authUser)
    if(localStorage.authUser.auth == false){
      this.$router.push('/register')
    }
    this.init()
    
                  // function lihatDown() {
                  //   document.getElementById("persyaratan").style.display = "block";
                  // }
                  // function lihatUp() {
                  //   document.getElementById("persyaratan").style.display = "none";
                  // }
   
  },
}
</script>
<style>
  .inputmobile {
   font-size: 10px;
  }
</style>