<template >
  <div class="MyComunityId" >
    <MenuTop />
    <div class="align-self-center" style="width: 98%; padding: 2%;">
    <div class="container-fuild" style=" width: 100%">
            <div class="row" >
                <div class="col-12">
                                    
                      <div class="row" >
                       <div class="col-10"><strong style="font-size: 15px">
                         <img :src="comunityId.comunity_logo" style="width: 40px; padding-right: 5px">{{ comunityId.comunity_name }}</strong></div>
                       <div class="col-1" onclick=""><i class="fa fa-cog" aria-hidden="true" style="font-size: 20px"></i></div>
                     </div>
                     <div class="row">
                       <div class="col-12">
                         {{comunityId.comunity_desc}} 
                       </div>
                     </div>
                     <div class="row" style="font-size: 15px; padding-left: 10px; border: 0px solid">
                       <div class="col-4">
                        <div class="row ">
                         <div class="col-4" style="padding-bottom: 3px">Filter</div>
                         <div class="col-2 ">
                           <span  style="width: 10px; font-size:8px;cursor:pointer" onclick="openNav()" >
                             <!-- <v-img :src="'../../images/icons/filter.png'" width="30" style="weidht: 20px"/>  -->
                             <i class="fas fa-filter btn btn-success" style="font-size: 8px"></i>
                             </span>
                         </div>
                         </div>
                         <!-- side-->
                    <div id="mySidenav" class="sidenav" style="z-index: 100">
                      <div style="width: 200px; height: 20px; padding: 0px; margin: 0px;">
                      <div style="width: 80%; height: 20px; border: 0px solid; float: left;">
                          
                      </div>
                      <div style="width: 20%; height: 20px; border: 0px solid; float: left;">
                           <a href="javascript:void(0)"><button style="padding: 0px; margin: 0px; float: left;"><img src="images/icons/icon_close.png" width="20px" onclick="closeNav()"></button>
                          </a>
                          
                      </div>
                      </div>
                          
                      <div id="sidebar" class="span3" >
                            <span class="label-input100">Cari</span>
                                   
                        </div>
                        <!-- Sidebar end=============================================== -->

                         
                         
                         </div>
                         <!-- side-->
                    <div id="sideBarRight" class="sidenav" style="z-index: 100">
                      <div style="width: 200px; height: 20px; padding: 0px; margin: 0px;">
                      <div style="width: 80%; height: 20px; border: 0px solid; float: left;">
                          
                      </div>
                      <div style="width: 20%; height: 20px; border: 0px solid; float: left;">
                           <a href="javascript:void(0)"><button style="padding: 0px; margin: 0px; float: left;"><img src="images/icons/icon_close.png" width="20px" onclick="closeNavRight()"></button>
                          </a>
                          
                      </div>
                      </div>
                          
                      <div id="sidebar" class="span3" >
                        <div class="row">
                          <div class="col-12">
                            <button class="btn">Keluar Komunitas <img src="images\icons\exit.png" style="width: 20px"></button>
                          </div>
                        </div> 
                            <span class="label-input100" style="padding-left: 20px">Cari</span>
                             <div class="col-12">
                              <form class="form_cari_user_sidebar">
                                <div class="input-group mb-3">
                                    <input type="hidden" name="comunity_id" value="$comunity_id">
                                    <input type="text" class="form-control" name="name" placeholder="cari user" aria-label="cari post" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-secondary" type="submit">Cari</button>
                                    </div>
                              </div>
                              </form>
                            </div>
                            <div class="row grid_member">
                              
                            </div>
                            
                            
                          
                        </div>
                        <!-- Sidebar end=============================================== -->

                        
                         </div>
                       </div>
                       <div class="col-4" v-if="comunityId.get_comunity_kabkota" style="font-size: 0.8rem">
                        {{  comunityId.get_comunity_kabkota.nama_kabkota  }}
                       </div>
                       <div class="col-4">
                          <div class="row">
                         <template v-if="comunityId.privasi_id == 1">
                            <i class="fas fa-globe-asia" style="padding-top: 5px; padding-right: 2px"></i>
                         </template>
                         <template v-else>
                            <i class="fas fa-lock" style="padding-top: 5px; padding-right: 2px"></i>
                         </template>
                         <template v-if="comunityId.get_comunity_privasi">
                             {{ comunityId.get_comunity_privasi.deskripsi }}
                         </template>
                          </div>
                          <div class="row" style="font-size: 0.8rem">
                            {{ comunityId.member}} Member 
                          </div>
                       </div>
                     </div>
                     <div class="row">
                       <div class="col-9">
                        <template v-if="comunityMember">
                             <div v-for="(m, index) in comunityMember" :key="m.comunity_member_id" :data-index="index" class="container-fuild member" style="width: 30px; height: 30px; border: 0px solid; float: left">
                              <a href="route('profil', ['username' => $cm->get_comunity_member_user->username])">
                              <img :src="m.get_comunity_member_user.image_profil" class="rounded-circle member" style="width: 30px; height: 30px">
                              </a>
                            
                             </div>
                        </template>
                       </div>
                       <div class="row-3 member_status">
                              <button class="btn btn-success" data-toggle="modal" data-target=".undang" style="padding: 0px">Undang</button>
                       </div>
                     </div> 
            <!-- Modal -->
        <!-- <div class="modal fade undang"  tabindex="-1" role="dialog" aria-labelledby="undang" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="undang">Undang Teman</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" >
                <div class="container-fuild">
                    
                    <div class="row">
                    <div class="col-12">
                        <form class="form_cari_user_modal">
                    <div class="input-group mb-3">
                        <input type="hidden" name="comunity_id" value="$comunity_id">
                        <input type="text" class="form-control" name="name" placeholder="cari user" aria-label="cari user" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Cari</button>
                        </div>
                        
                    </div>
                    </form>
                    </div>
                    
                    <div class="row col-12 hasil_pencarian"  style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
                        
                                    @if(!empty($follower->get_follower_user))
                                        @foreach($follower as $fr)
                                    <div class="row" style="padding-bottom: 10px; padding-left: 30px">
                                        <div class="col-2"><img class="rounded-circle" src="$fr->get_follower_user->image_profil" style="width: 30px; height: 30px"></div>
                                        <div class="col-10" style="padding-left: 15px">
                                        <div class="row" style="padding-left: 10px">
                                            <div class="col-7" >
                                                <div class="row"><strong>$fr->get_follower_user->image_profil->name</strong></div>
                                                <div class="row" style="font-size: 8px"><i>@ $fr->get_follower_user->image_profil->username</i></div>
                                            </div>
                                            <div class="col-5" style="font-size: 6px">
                                                <button class="btn btn-success" style="padding: 0px">tambah</button>
                                            </div>
                                        </div>
                                        </div>                  
                                        </div>
                                        @endforeach
                                    @endif
                                        
                    </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div> -->
                </div>
            </div>
    </div>
    <div class="row">
      <div class="col-12 normal">
        <form @submit.prevent="postStatus" enctype="multipart/form-data">
                      <input type="hidden" name="user_id" value="user.id">
                      <input type="hidden" name="comunity_id" v-model="comunityId.comunity_id">
                     <div class="row normal" >
                       <div class="col-2 normal" style="padding: 0px">
                         <center><v-img class="rounded-circle" :src="authUser.image_profil" style="width: 40px; height: 40px" /></center>
                       </div>
                       <div class="col-9 normal" style="padding: 0px">
                         <textarea class="form-control"  v-model="comunity_post.status" style="width: 100%"   required></textarea>
                       </div>
                  
                       
                     </div>
                     <div class="row normal">
                       <div class="col-2" style=" border: 0px solid" >
                          <img src="images/icons/ic_foto.png" style="width: 40px">
                       </div>
                      
                          <div class=" col-9 " style="width: 60%;height: 50px;  font-size: 10px">
                            <div class="row">
                              <div class="col-12">
                                <div class="input-group">
                                      <div class="custom-file" >
                                        <input type="file" :src="comunity_post.post_image" class="custom-file-input" id="post_image_id"  @change="onFileChange($event)">
                                        <label class="custom-file-label" for="inputGroupFile05"  accept=".jpg, .png, .jpeg, .gif">Upload Foto</label>
                                      </div>
                                     
                                </div>

                              </div>
                              
                            </div>
                          </div>
                        </div>
                      <div class="row">
                          <center><img id="image" style="width: 50%" /></center>
                      </div>
                      <div class="row">
                      
                        <div style="width: 90%; padding-left: 20px">
                          <center>
                         <button class="btn btn-outline-secondary"  type="submit"    style="width: 90%">Kirim</button>
                         </center>
                         </div>
                        
                      </div>
                     </form>
      </div>
    </div>
    </div>
    <MyComunityPostList />
    <MenuBottom on='2'/>
  </div>
</template>
<script>
import axios from 'axios'
import MenuTop from '../components/MenuTop';
import FilterMyComunity from '../components/FilterMyComunity';
import MyComunityPostList from '../components/MyComunityPostList';
import MenuBottom from '../components/MenuBottom';
export default {
  
  name: 'MyComunityId',
  data: ()=> {
     return {
        limit: 50,
        comunityId: {},
        comunityMember: {},
        authUser : {},
        comunity_post : {},
        file: {}
      //  products: []
     }
  },
  components: {
    MenuTop,
    FilterMyComunity,
    MyComunityPostList,
    MenuBottom
  },
  
  
  methods: {
      init: function(){
          console.log('id',  this.$route.params, 'user', this.authUser)
          axios.get(this.$root.$data.apiConfig +'api/comunity/id', {
            params: {'comunity_id': this.$route.params.id, 'user_id': this.authUser.id}
            })
        .then(res =>{
          console.log('res', res)
      
        this.comunityId = res.data.comunityId
        this.comunityMember = res.data.comunityMember
        })
      },
      openNav(param) {
          document.getElementById("mySidenav").style.width = "250px";
        },
     closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        },
      onFileChange(event) {
        //alert('ok')
            console.log('e', event)
            this.file.post_image = event.target.files[0]
            //this.pet.pet_image_src3 = event.target.files[0]
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("post_image_id").src = e.target.result;
            };
            event.target.src = 
            reader.readAsDataURL( this.file.post_image);
        },
    postStatus: function(){
     
        // form data
        //alert('ok')
         const formData = new FormData();
         formData.append('_token', '3223');
         formData.append('user_id', this.authUser.id);
         formData.append('comunity_id', this.$route.params.id);
         formData.append('status', this.comunity_post.status);
          
         if(this.file) formData.append('post_image', this.file.post_image);
         
         let settings = { headers: { 'content-type': 'multipart/form-data' } }
         this.comunity_post._token = this.authUser.api_token;
         
        
         axios.post(this.$root.$data.apiConfig +'api/comunity/post/save', formData, settings)
         .then(res =>{
            console.log('res', res)
            this.comunity_post = {}
            this.$children[2].init()
            //this.$swal('post berhasil disbuat','success');

        })
        .catch(err =>{
             this.$swal(`terjadi kesalahan ${err}`,'danger');
        })
         
    },
     filter(pet_jenis_id){
       //alert('1')
        axios.get(this.$root.$data.apiConfig +'api/pet', {
            params: this.$children[2].filterParam
            
            })
         .then(res =>{
          // console.log('t', this)
          //this.$root.$data.pets = res.data.pet
           this.closeNav;
            console.log('res f', res);
           // console.log('t', this)
            
        })
        .catch(err =>{
            this.notif = { message:'email atau password anda salah', type:"warning"}
            
        })
        
    },
   
    
  },
  computed: {
    
  },
 
   created() {
     
    if(localStorage.authUser.auth == false){
      this.$router.push('/register')
    }
    this.init()
    this.authUser = JSON.parse(localStorage.authUser)
   }
}
</script>
<style>
.normal {
    padding: 0px;
    margin: 0px;
  }
</style>