<template>
  <div class="MyComunity" style="width: 100%">
    <MenuTop/>
       <div style="width: 95%; padding: 2%;">
      <FilterMyComunity  style="z-index: 10"/>
      <div class="container-fuild">
            
           
            <JenisHewan/>
            <div class="row container-fuild " style="padding-bottom: 50px">
              <!-- <div class="col-12">
                <div class="row">
                  <div class="col-12">Komunitas yang anda ikuti :</div>
                </div>
                @if(!empty($comunity_id))
                
                 @foreach($comunity_id as $ci)
                 <a href="comunity_$ci->comunity_id">
                 <div class="card">
                <div class="row">
                    <div class="col-3">
                        <img src="$ci->get_comunity->comunity_logo" style="width: 100%">
                    </div>
                    <div class="col-9">
                        <div class="row">
                            $ci->get_comunity->comunity_name
                        </div>
                        <div class="row" style="font-size: 10px">
                            <div class="col-3">
                                $ci->get_comunity->get_comunity_jenis->jenis
                            </div>
                             <div class="col-4">
                                $ci->get_comunity->get_comunity_kabkota->nama_kabkota
                            </div>
                            <div class="col-5">
                              <div class="row">
                                $ci->get_comunity->member Member
                              </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                </div>
                </a>
                 @endforeach
                
                 <div class="pagination pagi_comunity_id" style="font-size: 8px;">
                   $comunity_id->links() 
                </div>
                @endif
                
                </div> -->
            </div>
           <ComunityList />
        </div>
       </div>
    <MenuBottom on='2'/>
  </div>
</template>
<script>
import axios from 'axios'
import MenuTop from '../components/MenuTop';
import Barner from '../components/Barner';
import FilterMyComunity from '../components/FilterMyComunity';
import Fitur from '../components/Fitur';
import JenisHewan from '../components/JenisHewan';
import ComunityList from '../components/ComunityList';
import MenuBottom from '../components/MenuBottom';
export default {
  
  name: 'MyComunity',
  data: ()=> {
     return {
        limit: 50,
      //  products: []
     }
  },
  components: {
    MenuTop,
    FilterMyComunity,
    JenisHewan,
    ComunityList,
    MenuBottom
  },
  
  //  props: ["products",
  //         "maximum",
  //         "cart",
  //         "cartQty",
  //         "cartTotal",
  //         "sliderStatus",
  //         "sliderState"
  //   ],
  methods: {
      openNav(param) {
          document.getElementById("mySidenav").style.width = "250px";
        },
     closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        },
     filter(pet_jenis_id){
       //alert('1')
    //    console.log('jenis hewan', pet_jenis_id)
    //     console.log('f', this.$children[2].filterParam)
    //     this.$children[2].filterParam.limit = this.limit
    //     this.$children[2].filterParam.pet_jenis_id = pet_jenis_id
        axios.get(this.$root.$data.apiConfig +'api/pet', {
            params: this.$children[2].filterParam
            
            })
         .then(res =>{
          // console.log('t', this)
          //this.$root.$data.pets = res.data.pet
           this.closeNav;
            console.log('res f', res);
           // console.log('t', this)
            
        })
        .catch(err =>{
            this.notif = { message:'email atau password anda salah', type:"warning"}
            
        })
        
    },
    // getPet: () =>{
    //   console.log('t', this)
    //   axios.get(this.$root.$data.apiConfig +'api/pet', {
    //         params: {'limit': this.limit}
    //         })
    //     .then(res =>{
    //       //console.log('res', res)
    //       res.data.pet.forEach(p => {
    //         p.pet_price = this.$root.$options.method.convertToRupiah(p.pet_price)
    //       })
    //      this.$root.$data.pets =  res.data.pet
    //      //this.pets = res.data.pet
    //     // console.log('this1', this)
    //     })
    // }
    
  },
 
   created() {
     
    if(localStorage.authUser.auth == false){
      this.$router.push('/register')
    }
    //this.getPet()
    console.log('t', this)
      axios.get(this.$root.$data.apiConfig +'api/pet', {
            params: {'limit': this.limit}
            })
        .then(res =>{
          //console.log('res', res)
        //   res.data.pet.forEach(p => {
        //     p.pet_price = this.$root.$options.method.convertToRupiah(p.pet_price)
        //   })
        //  this.$children[4].pets =  res.data.pet
        //  //this.pets = res.data.pet
        //  console.log('this1',  this.$root.pets)
        })
        
  },
}
</script>