<template>
  <div class="kategori" style="width: 100%">
    <MenuTop/>
    <div class="align-self-center" style="width: 99%; padding: 2%;">
      <Barner/>
      <FilterMyMarket style="z-index: 10"/>
      <JenisHewan/>
      <PetMarketList />
    </div>
    <MenuBottom on='1'/>
  </div>
</template>
<script>
import axios from 'axios'
import MenuTop from '../components/MenuTop';
import Barner from '../components/Barner';
import FilterMyMarket from '../components/FilterMyMarket';
import Fitur from '../components/Fitur';
import JenisHewan from '../components/JenisHewan';
import PetMarketList from '../components/PetMarketList';
import MenuBottom from '../components/MenuBottom';
export default {
  
  name: 'MyMarket',
  data: ()=> {
     return {
        limit: 50,
      //  products: []
     }
  },
  components: {
    MenuTop,
    Fitur,
    Barner,
    FilterMyMarket,
    JenisHewan,
    PetMarketList,
    MenuBottom
  },
  
  //  props: ["products",
  //         "maximum",
  //         "cart",
  //         "cartQty",
  //         "cartTotal",
  //         "sliderStatus",
  //         "sliderState"
  //   ],
  methods: {
     filter(pet_jenis_id){
       //alert('1')
       console.log('jenis hewan', pet_jenis_id)
        console.log('f', this.$children[2].filterParam)
        this.$children[2].filterParam.limit = this.limit
        this.$children[2].filterParam.pet_jenis_id = pet_jenis_id
        axios.get(this.$root.$data.apiConfig +'api/pet', {
            params: this.$children[2].filterParam
            
            })
         .then(res =>{
          // console.log('t', this)
          this.$root.$data.pets = res.data.pet
           this.closeNav;
            console.log('res f', res);
           // console.log('t', this)
            
        })
        .catch(err =>{
            this.notif = { message:'email atau password anda salah', type:"warning"}
            
        })
        
    },
    // getPet: () =>{
    //   console.log('t', this)
    //   axios.get(this.$root.$data.apiConfig +'api/pet', {
    //         params: {'limit': this.limit}
    //         })
    //     .then(res =>{
    //       //console.log('res', res)
    //       res.data.pet.forEach(p => {
    //         p.pet_price = this.$root.$options.method.convertToRupiah(p.pet_price)
    //       })
    //      this.$root.$data.pets =  res.data.pet
    //      //this.pets = res.data.pet
    //     // console.log('this1', this)
    //     })
    // }
    
  },
 
   created() {
     
    if(localStorage.authUser.auth == false){
      this.$router.push('/register')
    }
    //this.getPet()
    console.log('t', this)
      axios.get(this.$root.$data.apiConfig +'api/pet', {
            params: {'limit': this.limit}
            })
        .then(res =>{
          //console.log('res', res)
          res.data.pet.forEach(p => {
            p.pet_price = this.$root.$options.method.convertToRupiah(p.pet_price)
          })
         this.$children[4].pets =  res.data.pet
         //this.pets = res.data.pet
         console.log('this1',  this.$root.pets)
        })
        
  },
}
</script>