<template>
  <div class="Notif" style="width: 100%">
    <MenuTop/>
    <div class="align-self-center" style="width: 99%; padding: 2%;">
       
            <div class="card" v-for="(n, index) in notifList" :key="n.notif_id" :data-index="index">
             <template v-if="n.category_id == 1 && n.get_notif_cart">
              <router-link :to="{ path: `/` }">
                  <div :class="'row ' + statusNotif">
                            <div class="col-2">
                              <template v-if="n.get_notif_cart.get_pet_cart">
                                <img :src="n.get_notif_cart.get_pet_cart.pet_image_src1" style="width: 50px">
                              </template>
                              <template v-if="n.get_notif_cart.get_pet_shop_cart">
                                <img :src="n.get_notif_cart.get_pet_shop_cart.pet_shop_image_src1" style="width: 50px">
                              </template>
                            </div>
                          <div class="col-9">
                              <label>{{n.get_category.keterangan}} <strong>
                                <template v-if="n.get_notif_cart.get_pet_cart">
                                  {{ n.get_notif_cart.get_pet_cart.pet_name}}
                                </template>
                                <template v-if="n.get_notif_cart.get_pet_shop_cart">
                                  {{ n.get_notif_cart.get_pet_shop_cart.name}}
                                </template>    
                                </strong></label>
                          </div>
                  </div>
              </router-link>
             </template>
             <template v-if="n.category_id == 2">
              <router-link :to="{ path: `/` }">
                  <div :class="'row ' + statusNotif">
                            <div class="col-2">
                                <img :src="n.get_notif_comunity.comunity_logo" style="width: 50px">
                            </div>
                          <div class="col-9">
                              <label><strong>{{n.user_id == authUser.id ? `Anda`: n.get_notif_user.name }}</strong> {{ n.get_category.keterangan}}</label>
                          </div>
                  </div>
              </router-link>
             </template>
             <template v-if="n.category_id == 3 && n.get_notif_comunity_comment">
              <router-link :to="{ path: `/` }">
                  <div :class="'row ' + statusNotif">
                            <div class="col-2">
                                <img :src="n.get_notif_comunity_comment.get_comunity_comment_user.image_profil" style="width: 50px">
                            </div>
                          <div class="col-10">
                              <label><strong>{{n.user_id == authUser.id ? `Anda`: n.get_notif_user.name }}</strong> {{ n.get_category.keterangan}}</label>
                          </div>
                  </div>
              </router-link>
             </template>
             <template v-if="n.category_id == 4 && n.get_notif_comunity_comment">
              <router-link :to="{ path: `/` }">
                  <div :class="'row ' + statusNotif">
                            <div class="col-2">
                                <v-img :src="n.get_notif_comunity_comment.get_comunity_comment_user.image_profil" style="width: 50px" />
                            </div>
                          <div class="col-10">
                              <label><strong>{{n.user_id == authUser.id ? `Anda`: n.get_notif_comunity_comment.get_comunity_comment_user.name }}</strong> {{ n.get_category.keterangan}}</label>
                          </div>
                  </div>
              </router-link>
             </template>
            
            <template v-if="n.category_id == 5 && n.get_notif_invoice">
              <router-link :to="{ path: `/` }">
                  <div :class="'row ' + statusNotif">
                            <div class="col-2" >
                                <template v-if="n.get_notif_invoice.get_invoice_pet">
                                <v-img :src=" n.get_notif_invoice.get_invoice_pet.pet_image_src1" style="width: 50px" />
                                </template>
                            </div>
                          <div class="col-9">
                              <label><strong>{{n.user_id == authUser.id ? `Anda`: n.get_notif_invoice.get_invoice_pet.pet_name }} </strong> {{n.get_category.keterangan}} Rp {{n.get_notif_invoice.cargo_price}},-</label>
                          </div>
                  </div>
              </router-link>
             </template>
            </div>
    </div>
    <MenuBottom on='1'/>
  </div>
</template>
<script>
import axios from 'axios'
import MenuTop from '../components/MenuTop';

import MenuBottom from '../components/MenuBottom';
export default {
  
  name: 'Notif',
  data: ()=> {
     return {
       authUser: {},
        limit: 10,
        notif: {},
        notifList : [],
        statusNotif: 'bg-light'
      //  products: []
     }
  },
  components: {
    MenuTop,
   
    MenuBottom
  },
  
  methods: {
     init(){
        axios.get(this.$root.$data.apiConfig +'api/notif', {
            params:{
              'user_id': this.authUser.id,
              'limit': this.limit
            }
            
            })
         .then(res =>{
           this.notifList = res.data.notif
          // console.log('t', this)
         
            console.log('res n', res);
           // console.log('t', this)
            
        })
        .catch(err =>{
            this.notif = { message:'email atau password anda salah', type:"warning"}
            
        })
        
    },
    
    
  },
 
   mounted() {
     this.authUser = JSON.parse(localStorage.authUser)
     console.log('a', this.authUser)
    if(localStorage.authUser.auth == false){
      this.$router.push('/register')
    }
    this.init()
   
  },
}
</script>