<template>
  
  <div class="kategori" style="width: 100%; margin: 10px">
    <MenuTop />
    <div class="container-fuild" id="grid" style="width: 100%;padding: 0px;border: 0px solid  ">
        <div class="row" style="width: 100%; padding: 0px; border: 0px solid">
            <div class="container" style="width: 100%;padding: 0px; ">
            <div class="card" style="padding: 10px">
              <div class="container-fliud">
                <div class="wrapper row">
                  <div class="preview col-md-6">
                    
                    <div class="preview-pic tab-content">
                      <div class="tab-pane active" id="pic-4"><pre id="myCode"></pre></div>
                    
                      <div class="tab-pane active" id="pic-1"><v-img :src="petDetail.pet_image_src1" /></div>
                      
                      <div class="tab-pane" id="pic-2"><v-img :src="petDetail.pet_image_src2" /></div>
                      <div class="tab-pane" id="pic-3"><img :src="petDetail.pet_image_src3" /></div>
                      
                      
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                     <template v-if="petDetail.pet_video">
                      <li class="active"><a data-target="#pic-4" data-toggle="tab" style="padding-bottom: 40px"><img src="'images/icons/youtube.png')"  /> </a></li>
                     </template>
                      <li ><a data-target="#pic-1" data-toggle="tab"><v-img :src="petDetail.pet_image_src1" /></a></li>
                      <li><a data-target="#pic-2" data-toggle="tab"><v-img :src="petDetail.pet_image_src2" /></a></li>
                      <li><a data-target="#pic-3" data-toggle="tab"><v-img :src="petDetail.pet_image_src3" /></a></li>
                      
                    
                    </ul>
                    
                  </div>
                  <!-- <div class="row">
                    <div class="col-12">YouTube ID: <span id="myId"></span> <pre id="myCode"></pre>
                      </div>
                    </div> -->
                    
                  <div class="details col-md-6">
                    <h3 class="product-title">{{ petDetail.pet_name }}</h3>
                    <div class="row">
                      <div class="col-8">
                        <i class="far fa-calendar-check"></i> {{ petDetail.created_at }}
                      </div>
                      <div class="col-4"> <i class="far fa-eye"></i> {{ petDetail.view }} view</div>
                    </div>
                    <div class="row">
                      <div class="col-12" v-if="petDetail.get_user_pet">
                        <i class="fas fa-map-marker-alt"></i> {{ petDetail.get_user_pet.get_user_kabkota.nama_kabkota}} - {{ petDetail.get_user_pet.get_user_provinsi.nama_provinsi }}
                      </div>
                    </div>
                    <h4 class="price"><span>Rp {{ petDetail.pet_price }} ,-</span></h4>
                    <div class="container-fliud">
                    

                        <template  v-if="petDetail.get_user_pet">
                            <div  v-if="petDetail.get_user_pet.level == 3 || petDetail.get_user_pet.level == 2">
                              <div class="col-4 text-center text-primary" style="font-size: 12px;">[verified]</div>
                            </div>
                        </template>

                    
                    <div class="row" >
                      <div class="col-4">
                        <button class="btn btn btn-outline-primary font-weight-bold" style="font-size: 12px"><i class="fas fa-share-alt"></i> Share</button>
                      </div>
                      <div class="col-4">
                        <center>
                        <form action="route('cartSave')" method="GET">
                                              <input type="hidden" name="user_id" value="Auth::user()->id">
                                              <input type="hidden" name="pet_id" value="petDetail.pet_id">
                                              <input type="hidden" name="cart_qty" value="1">
                                              <input type="hidden" name="cart_price" value="petDetail.pet_price">
                                              <button type="submit" class="btn btn btn-outline-primary font-weight-bold" style="font-size: 12px"><i class="fas fas fa-heart"></i> Favorite</button>
                          </form>
                        </center>
                      </div>
                      <div class="col-4">
                        <button class="btn btn-outline-primary font-weight-bold"><i class="fas fas fa-exclamation-triangle" style="font-size: 12px"></i> Lapor</button>
                      </div>
                    </div>
                    </div>
                    
                    <div class="row" >
                      <div class="col-8" >
                        <a href="username" style="color: black">
                        <table>
                          <tr>
                            <td></td>
                            <td></td>
                            <td><center v-if="petDetail.get_user_pet"><v-img :src="petDetail.get_user_pet.image_profil" class="rounded-circle"  style="width: 50px; height: 50px" /></center></td>
                          </tr>
                          <tr>
                            <td>Nama</td>
                            <td>:</td>
                            <td v-if="petDetail.get_user_pet">
                              {{ petDetail.get_user_pet.name }}
                                <template v-if="petDetail.get_user_pet.level == 3 || petDetail.get_user_pet.level == 2">
                                    <v-img class="rounded-circle" :src="'images/icons/verifikasi.png'" style="width: 12px; height: 12px; padding-bottom: 3px" />
                                </template>
                            </td>
                          </tr>
                          <tr>
                            <td>Kontak</td>
                            <td>:</td>
                            <td v-if="petDetail.get_user_pet"><a :href="'https:/wa.me/62'+petDetail.get_user_pet.hp"><button class="btn btn-outline-success" style="padding-top: 2px; padding-bottom: 2px;"><i class="far fa-envelope"></i> Pesan</button></a></td>
                          </tr>
                          <tr>
                            <td>Alamat</td>
                            <td>:</td>
                            <td v-if="petDetail.get_user_pet">{{ petDetail.get_user_pet.alamat }} , {{ petDetail.get_user_pet.get_user_kelurahan.nama_kelurahan}},{{ petDetail.get_user_pet.get_user_kecamatan.nama_kecamatan }}, KAB. {{ petDetail.get_user_pet.get_user_kabkota.nama_kabkota }},PROV.  {{ petDetail.get_user_pet.get_user_provinsi.nama_provinsi }}</td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td v-if="petDetail.get_user_pet"><a href="#" onclick="openDirection(@if(!empty($pet_detail->get_user_pet->get_space)) $pet_detail->get_user_pet->get_space->latitude,  $pet_detail->get_user_pet->get_space->longitude, get_user_pet->get_space->id @endif)" class="card-link">Telusuri Lokasi <i class="fas fa-location-arrow"></i></a>
                            </td>
                          </tr>
                        </table>
                      </a>
                      </div>
                      <div class="col-4">
                        
                            <div class="row">
                                <div class="col-12" style="font-size: 10px">
                                  <center id="rating_user_popularitas">
                                  <template  v-if="petDetail.get_user_pet">
                                    <div v-if="petDetail.get_user_pet.get_rating_detail_user.rating_popularitas">
                                      {{petDetail.get_user_pet.get_rating_detail_user.rating_popularitas}}
                                    </div>
                                  </template>
                                   <template v-else>
                                      0
                                   </template>
                                   </center>
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-12">
                              <center>
                              <v-img :src="'images/icons/star.png'"  />
                              </center>
                              </div>  
                            </div>
                            <div class="row">
                                <div class="row">
                                  <div class="col-4"> 
                                    <template v-if="petDetail.get_user_pet"> 
                                      <div v-if="petDetail.get_user_pet.get_rating_detail_user.rating_average" style="text-align: right">
                                      {{ petDetail.get_user_pet.get_rating_detail_user.rating_average }} 
                                      </div>
                                    </template>
                                    <template v-else> 0 
                                    </template>
                                  </div>
                                  <div class="col-2">
                                    <i class="fa fa-user"></i>
                                  </div>
                                  <div class="col-5">
                                    <template v-if="petDetail.get_user_pet">
                                      <div v-if="petDetail.get_user_pet.get_rating_detail_user.rating_count">
                                      {{ petDetail.get_user_pet.get_rating_detail_user.rating_count }}
                                      </div>
                                    </template>
                                    <template v-else>
                                      0 
                                    </template>
                                  </div>
                                </div>
                            </div>
                            <RatingUser />
                            
              
                      </div>
                    </div>
                    
                    <h5>Deskripsi:</h5>
                    <p class="product-description">{{ petDetail.pet_desc }}</p>
                    <div class="row" style="padding-left: 20px; padding-bottom: 50px">
                    <table>
                      <tr>
                        <td><h6 class="sizes">Jenis</h6></td>
                        <td><h6>:</h6></td>
                        <td v-if="petDetail.get_pet_jenis"><h6 class="sizes"> {{ petDetail.get_pet_jenis.jenis }}</h6></td>
                      </tr>
                      <tr>
                        <td><h6 class="sizes">Umur</h6></td>
                        <td><h6>:</h6></td>
                        <td v-if="petDetail.get_pet_jenis"><h6 class="sizes"> {{ petDetail.pet_umur }} Bulan</h6></td>
                      </tr>
                      <tr>
                        <td><h6 class="sizes">Panjang Hewan</h6></td>
                        <td><h6>:</h6></td>
                        <td v-if="petDetail.get_pet_jenis"><h6 class="sizes"> {{ petDetail.pet_panjang }} CM</h6></td>
                      </tr>
                      <tr>
                        <td><h6 class="sizes">Lebar Hewan</h6></td>
                        <td><h6>:</h6></td>
                        <td v-if="petDetail.get_pet_jenis"><h6 class="sizes"> {{ petDetail.pet_lebar }} CM</h6></td>
                      </tr>
                      <tr>
                        <td><h6 class="sizes">Tinggi Hewan</h6></td>
                        <td><h6>:</h6></td>
                        <td v-if="petDetail.get_pet_jenis"><h6 class="sizes"> {{ petDetail.pet_tinggi }} CM</h6></td>
                      </tr>
                    </table>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>

            </div>
        </div>
        <MenuBottom on='1'/>
  </div>
  
</template>
<script>
import axios from 'axios'
import MenuTop from '../components/MenuTop';
import FilterMyMarket from '../components/FilterMyMarket';
import MenuBottom from '../components/MenuBottom';
import RatingUser from '../components/RatingUser';
export default {
  
  name: 'PetDetail',
  data: ()=> {
     return {
        petDetail: {},
        rating_nilai: 0
     }
  },
  components: {
    MenuTop,
    FilterMyMarket,
    MenuBottom,
    RatingUser
  },
  
  
  methods: {
     filter(pet_jenis_id){
       
    },

    
  },
 
  mounted() {
     
    if(localStorage.authUser.auth == false){
      this.$router.push('/register')
    }
    //this.getPet()
    console.log('t', this.$route)
      axios.get(this.$root.$data.apiConfig +'api/pet_detail', {
            params: {'pet_id': this.$route.params.id}
            })
        .then(res =>{
          console.log('res1', res)
          res.data.pet_price = this.$root.$options.method.convertToRupiah(res.data.pet_price)
         this.petDetail =  res.data
         //this.pets = res.data.pet
        })
        
  },
}
</script>