<template>
  <div class="profil">
      <MenuTopName :icon="user.image_profil" :judul="user.username"/>
      <div class="align-self-center" style="width: 99%; padding: 2%;">
        <div class="container-fuild" style="padding-left: 10px; padding-right: 0px; width: 100%">
            <div class="row" style="padding-bottom: 10px; border: 0px solid;">
            <div class="col-5"></div>
            <div class="col-5">
            </div>
            <div class="col-2" @click="openNav"><i class="fa fa-cog" aria-hidden="true" style="font-size: 20px"></i>
            </div>

                <div id="mySidenavId" class="sidenav" :style="'z-index: 100; width:'+ navWidth + 'px'">
                    <div style="width: 200px; height: 20px; padding: 0px; margin: 0px;">
                        <div style="width: 95%; height: 20px; border: 0px solid; float: left;">
                            <span class="label-input100"><b>Setting</b></span>
                        </div>
                        <div style="width: 5%; height: 20px; border: 0px solid; float: left;">
                                        <button  type="button" class="btncloseNav" @click="closeNav" style="padding: 0px; margin: 0px; float: left;"><i class="fa fa-window-close" aria-hidden="true" style="font-size: 20px" /></button>
                        </div>
                    </div>   
                    <div id="sidebar" class="span3" style=" height : 85%; overflow-y: scroll;" >
                    
                        <template v-if="user.kabkota_id">
                            <div class="row" @click="to('/mitra_market')">
                                <div class="col-3 text-right">
                                    <center>
                                    <v-img :src="'images/icons/shop.png'" style="width: 25px; " />
                                    </center>
                                </div>
                                <div class="col-9 ">
                                    <b> Iklan Market</b>
                                </div>
                            </div>
                             
                        </template>
                        <template v-else>
                            <a href="#" data-toggle="modal" data-target=".edit_profil" >
                                <div class="row">
                                <div class="col-3 text-right">
                                    <center>
                                        <v-img :src="'images/icons/shop.png'" style="width: 25px" /> 
                                    </center>
                                </div>
                                <div class="col-9 ">
                                    <b>Iklan My Market</b>
                                </div>
                                </div>
                            </a>
                        </template>
                            <div class="row">
                                <div class="col-3 text-right">
                                    <center>
                                        <v-img :src="'images/icons/my_pet_shop.png'" style="width: 25px" />
                                </center>
                                </div>
                                <div class="col-9 ">
                                    <b>Iklan My Pet Shop</b>
                                </div>
                            </div>
                        
                        <div class="row">
                            <div class="col-3 text-right">
                                <center>
                                        <v-img :src="'images/icons/my_grooming.png'" style="width: 25px" /> 
                                </center>
                                </div>
                                <div class="col-9 ">
                                    <b>Iklan My Grooming</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-right">
                                <center>
                                    <v-img :src="'images/icons/hospital.png'" style="width: 25px" /> 
                                </center>
                            </div>
                            <div class="col-9 ">
                                <b> Iklan My Klinik</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-right">
                                <center>
                                    <v-img :src="'images/icons/shelter.png'" style="width: 25px" /> 
                                </center>
                            </div>
                            <div class="col-9 ">
                                <b>Iklan My Traning</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-right">
                                <center>
                                    <v-img :src="'images/icons/cleaning.png'" style="width: 25px" /> 
                            </center>
                        </div>
                        <div class="col-9 ">
                            <b>Iklan My Cleaning</b>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-right">
                                <center>
                                    <v-img :src="'images/icons/my_care.png'" style="width: 25px" />
                                </center>
                            </div>
                            <div class="col-9 ">
                                <b> Iklan My Care</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-right">
                                <center>
                                    <v-img :src="'images/icons/myqurban.jpg'" style="width: 25px" />
                             </center>
                            </div>
                            <div class="col-9 ">
                                <b> Iklan My Qurban</b>
                            </div>
                        </div>
                        <div class="row" v-if="user.level == 2">
                            <div class="col-3 text-right">
                                <center>
                                    <v-img :src="'images/icons/wallet.png'" style="width: 25px" /> 
                                   
                                </center>
                            </div>
                            <div class="col-9 ">
                                 <b>Invoice Admin</b>
                            </div>\ 
                        </div>
                        <div class="row">
                            <div class="col-3 text-right">
                                 <center>
                                    <template v-if="user.level == 2">
                                        <v-img :src="'images/icons/coin.png'" style="width: 25px" /> 
                                       
                                    </template>
                                </center>
                            </div>
                            <div class="col-9 ">
                                  <b>Konfirmasi Donasi</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 text-right">
                                 <center>
                                     <v-img :src="'images/icons/chat.png'" style="width: 25px" /> 
                                </center>
                            </div>
                            <div class="col-9">
                                     <b>Komunitas Anda</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 text-right">
                                 <center>
                                     <b>MY Coin : {{user.my_pet_point}}</b>
                                    </center>
                            </div>
                            <div class="col-2">
                                 <center>
                                     <v-img class="img-fluid" :src="'images/icons/coin.png'" style="width: 15px; padding-bottom: 3px" />
                                    </center>
                            </div>
                        </div>
                            <div class="wrap-input100 validate-input m-b-23" style="padding-top: 10px">
                                 <center><button type="button" @click="logOut" class="btn btn-outline-primary"><i class="fas fa-sign-out" aria-hidden="true"></i>Keluar</button></center>
                            </div>
                        </div>
                  
                </div>
            
            </div>  
            <div class="row">
            <div class="col-4 ">
                
                <div class="row" style="width: 70px; height: 70px; padding: 2px" >
                <template v-if="user.image_profil" >
                    <v-img class="rounded-circle" :src="user.image_profil" v-b-modal.edit_profil  />
                </template>
                </div>
                <div class="row" >
                <div class="col-12" style="font-size: 10px">{{ user.name }}
                   <template v-if="user.level == 'mitra' || user.level == 'admin'">
                        <img class="rounded-circle" src="'images\icons\verifikasi.png'" style="width: 12px; height: 12px; padding-bottom: 3px">
                   </template>
                </div>
                </div>
                <div class="row text-center" style="font-size: 9px; ">
                <center><div class="col-12"><i>@ {{user.username}}</i></div></center> 
                </div>
            
            </div>
            <div class="col-8" style="border: 0px solid; width: 100%">
                <div class="row">
                <div class="col-4">
                    
                    <div class="row">
                    <button class="btn btn-outline-primary text-dark">
                        <template v-if="user.my_pet">
                            {{user.my_pet}}
                        </template>
                        <template v-else>
                             0 
                        </template>
                        </button>
                    </div>
                    <div class="row">
                    My Pet
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                    <button class="btn btn-outline-primary text-dark" data-toggle="modal" data-target=".follower">{{user.follower}}</button>
                    </div>
                    <div class="row">
                    Mengikuti
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                    <button class="btn btn-outline-primary text-dark" data-toggle="modal" data-target=".followed">{{ user.followed }}</button>
                    </div>
                    <div class="row">
                    Diikuti
                    </div>
                </div>
                </div>
                
            </div>
            </div>
            <div class="row">
            <div class="col-7" style="padding-top: 20px">
                {{user.desc}}
            </div>

            <div class="col-5">
                <div class="row">
                    <!-- <div class="col-12" style="font-size: 10px"><center id="rating_user_popularitas">
                        @if(!empty($user->get_rating_detail_user->rating_popularitas))$user->get_rating_detail_user->rating_popularitas @else 0 @endif</center>
                    </div> -->
                    <div class="row">
                                <div class="row">
                                  <div class="col-4"> 
                                    <template v-if="user"> 
                                      <div v-if="user.get_rating_detail_user" style="text-align: right">
                                     
                                      </div>
                                    </template>
                                    <template v-else> 0 
                                    </template>
                                  </div>
                                  <div class="col-2">
                                    <i class="fa fa-user"></i>
                                  </div>
                                  <div class="col-5">
                                    <template v-if="user">
                                      <div v-if="user.get_rating_detail_user">
                                      {{ user.get_rating_detail_user.rating_count }}
                                      </div>
                                    </template>
                                    <template v-else>
                                      0 
                                    </template>
                                  </div>
                                </div>
                            </div>
                </div>
                <div class="row">
                <div class="col-12"><center> <v-img :src="'images/icons/star.png'" style="width: 100px" /></center></div>  
                </div>
                
                <RatingUser />
                
            </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row" style="padding-top: 5px">
                    
                    <template v-if="user.id == authUser.id">
                    <div class="col-3">
                    <button class="btn btn-outline-primary text-dark" data-toggle="modal" data-target=".edit_profil" onclick="editProfil()" style="padding: 2px 5px"><i class="fa fa-edit"></i>Edit</button>
                    </div>
                    </template>
                    <template v-else>
                    <div class="col-4 user_status">
                        <form action="userFollow'" > 
                        <input type="hidden" name="user_id" value="Auth::user()->id">
                        <input type="hidden" name="follow_user_id" value="$user->id">
                        <button type="submit" class="btn btn-outline-primary text-dark" style="padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px">Ikuti</button>
                        </form>
                    </div> 
                    </template>
                    <div class="col-5" style="border: 0px solid">
                        <a href="https://wa.me/62$user->hp">
                        <button class="btn btn-outline-primary text-dark" style="padding-left: 3px; padding-right: 3px; padding-top: 2px; padding-bottom: 2px"><i class="fa fa-phone" style="width: 20px"/>Pesan</button>
                        </a>
                    </div>
                    </div>
                </div>
                <div class="col-3">
                    
                </div>
                </div>
            <div class="row pet_user" style="padding-top: 50px; width: 100%">
                <PetUserList/>
                <div class="row" style="width: 100%">
                <div class="d-flex justify-content-center col-12">
                    <div class="spinner-border text-primary loading" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                </div>
                
            </div>
            <div class="row">
            
            </div>


        </div>

        <!-- Modal edit profil-->
        <!-- <b-button v-b-modal.edit_profil>Edit Profil</b-button> -->
             <b-modal id="edit_profil" scrollable title="Edit Profil" button-size="sm">
                <form action="userUpdate'" method="POST" enctype="multipart/form-data">
                 
                    <div class="form-group">
                        <center><div><v-img id="image"  :src="user.image_profil" class="rounded-circle" style="width: 80px; height: 80px" /></div>
                            <div class="custom-file" style="width: 75px">
                                <center>
                                <input type="file" name="image_profil"  class="custom-file-input" id="inputGroupFile05" accept="image/*" style="width: 20px">
                                <label class="custom-file-label" for="inputGroupFile05"></label>
                            </center>
                            </div>
                            
                        </center>
                        </div>
                    <div class="form-group">
                        
                        <label >Nama</label>
                        <input type="hidden" class="form-control"  v-model="user.id">
                        <input type="text" class="form-control" v-model="user.name"  required>
                    </div>
                    <div class="form-group">
                        <label >username</label>
                        <input type="text" class="form-control"  v-model="user.username"  required>
                    </div>
                    <div class="form-group">
                        <label>Deskripsi</label>
                        <textarea class="form-control" name="desc" rows="3" v-model="user.desc" v-text="user.desc"></textarea>
                    </div>
                    <div class="form-group">
                        <label >WA/HP</label>
                        <input type="number" class="form-control" v-model="user.hp"  required>
                    </div>
                    <div class="form-group">
                        <label >Alamat</label>
                        <div id="mapContainer" style="width:90%;height:200px;"></div>
                        <input type="text" id="lat" v-model="user.latitude"  readonly>
                        <input type="text" id="lng" v-model="user.longitude"  readonly>
                        <textarea class="form-control" name="alamat"  rows="3" v-model="user.alamat" v-text="user.alamat" required></textarea>
                    </div>
                    <div class="form-group">
                                    <span class="label-input100">Provinsi</span>
                                    <select class="form-control provinsi" v-model="user.provinsi_id" id="provinsi" @change="wilayahChange" required>
                                            <option class="form-control" >Pilih Provinsi</option>
                                                <option class="form-control" v-for="(item, index) in provinsiList" :key="item.provinsi_id" :data-index="index" :value="item.provinsi_id">{{item.nama_provinsi}}</option>
                                    </select>
                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="form-group">
                                    <span class="label-input100">Kabupaten / Kota</span>
                                    <select class="form-control kabkota" v-model="user.kabkota_id" id="kabkota" @change="wilayahChange" required>
                                       <option class="form-control" >Pilih Kabkota</option>
                                        <option class="form-control" v-for="(item, index) in kabkotaList" :key="item.kabkota_id" :data-index="index" :value="item.kabkota_id">{{item.nama_kabkota}}</option>
                                    </select>
                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="form-group">
                                    <span class="label-input100">Kecamatan</span>
                                     <select class="form-control kabkota" v-model="user.kecamatan_id" id="kecamatan"  @change="wilayahChange" required>
                                       <option class="form-control" >Pilih Kecamatan</option>
                                        <option class="form-control" v-for="(item, index) in kecamatanList" :key="item.kecamatan_id" :data-index="index" :value="item.kecamatan_id">{{item.nama_kecamatan}}</option>
                                    </select>
                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="form-group">
                                    <span class="label-input100">Kelurahan</span>
                                    <select class="form-control kabkota" v-model="user.kelurahan_id" id="kelurahan"  @change="wilayahChange" required>
                                       <option class="form-control" >Pilih Kelurahan</option>
                                        <option class="form-control" v-for="(item, index) in kelurahanList" :key="item.keluarahan_id" :data-index="index" :value="item.keluarahan_id">{{item.nama_kelurahan}}</option>
                                    </select>
                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="form-group">
                                    <button type="submit" class="form-control btn btn-success">Save</button>
                    </div>
                </form>
                <template v-slot:modal-footer="{ ok, cancel }">
                    <b-button size="sm" variant="success" @click="ok()">
                        Update
                    </b-button>
                    <b-button size="sm" variant="danger" @click="cancel()">
                        Cancel
                    </b-button>
                    </template>
            </b-modal>
        <!-- <div class="modal fade edit_profil" id="edit_profil" tabindex="-1" role="dialog" aria-labelledby="edit_profil" aria-hidden="true">
             
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Profil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: scroll; max-height:85%;  margin-top: 5px; margin-bottom:10px;">

            <form action="userUpdate'" method="POST" enctype="multipart/form-data">
                 csrf_field() 
            <div class="form-group">
                <center><div><v-img id="image"  :src="user.image_profil" class="rounded-circle" style="width: 80px; height: 80px" /></div>
                    <div class="custom-file" style="width: 75px">
                        <center>
                        <input type="file" name="image_profil"  class="custom-file-input" id="inputGroupFile05" accept="image/*" style="width: 20px">
                        <label class="custom-file-label" for="inputGroupFile05"></label>
                    </center>
                    </div>
                    
                </center>
                </div>
            <div class="form-group">
                
                <label >Nama</label>
                <input type="hidden" class="form-control"  v-model="user.id">
                <input type="text" class="form-control" v-model="user.name"  required>
            </div>
            <div class="form-group">
                <label >username</label>
                <input type="text" class="form-control"  v-model="user.username"  required>
            </div>
            <div class="form-group">
                <label>Deskripsi</label>
                <textarea class="form-control" name="desc" rows="3" v-model="user.desc">{{ user.desc }}</textarea>
            </div>
            <div class="form-group">
                <label >WA/HP</label>
                <input type="number" class="form-control" v-model="user.hp"  required>
            </div>
            <div class="form-group">
                <label >Alamat</label>
                <div id="mapContainer" style="width:90%;height:200px;"></div>
                <input type="text" id="lat" v-model="user.latitude"  readonly>
                <input type="text" id="lng" v-model="user.longitude"  readonly>
                <textarea class="form-control" name="alamat"  rows="3" v-model="user.alamat" required>{{user.alamat}}</textarea>
            </div>
            <div class="form-group">
                            <span class="label-input100">Provinsi</span>
                            <select class="form-control provinsi" v-model="user.provinsi_id" id="provinsi" required>
                                    <option class="form-control" >Pilih Provinsi</option>
                                        <option class="form-control" v-for="(item, index) in provinsiList" :key="item.provinsi_id" :data-index="index" :value="item.provinsi_id">{{item.nama_provinsi}}</option>
                            </select>
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
            </div>
            <div class="form-group">
                            <span class="label-input100">Kabupaten / Kota</span>
                            <select class="form-control kabkota" name="kabkota_id" id="provinsi" required>
                                @if(!empty($user->kabkota_id))
                                        <option class="form-control" value="$user->kabkota_id" >$user->get_user_kabkota->nama_kabkota</option>
                                @endif
                            </select>
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
            </div>
            <div class="form-group">
                            <span class="label-input100">Kecamatan</span>
                            <select class="form-control kecamatan" name="kecamatan_id" id="provinsi" required>
                                @if(!empty($user->kecamatan_id))
                                        <option class="form-control" value="$user->kecamatan_id" >$user->get_user_kecamatan->nama_kecamatan</option>
                                @endif
                            </select>
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
            </div>
            <div class="form-group">
                            <span class="label-input100">Kelurahan</span>
                            <select class="form-control kelurahan" name="kelurahan_id" id="provinsi" required>
                                @if(!empty($user->kelurahan_id))
                                        <option class="form-control" value="$user->kelurahan_id" >$user->get_user_kelurahan->nama_kelurahan</option>
                                @endif
                            </select>
                            <span class="focus-input100" data-symbol="&#xf206;"></span>
            </div>
            <div class="form-group">
                            <button type="submit" class="form-control btn btn-success">Save</button>
            </div>
        </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
            </div>
            </div>
        </div>
        </div> -->
        <!-- Modal -->
        <!-- Modal profil User-->
        <!-- <div class="modal fade profil_user" id="profil_user" tabindex="-1" role="dialog" aria-labelledby="profil_user" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profil_user">$user->name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: scroll; max-height:85%;  margin-top: 5px; margin-bottom:10px;">

            
            <div class="form-group">
                <center>
                <div class="card">
                    <img id="image"  src="$user->image_profil"  style="width: 100%; height: auto">
                </div>
                </center>
            </div>
            </div>
        </div>
        </div>
        </div> -->
        <!-- Modal -->
        <!-- <div class="modal fade followed" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Diikuti</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
                @if(!empty($follower))
                    @foreach($follower as $fr)
                    <a href="$fr->get_follower_user->username">
                    <div class="row" style="padding-bottom: 10px; padding-left: 10px; width: 100%">
                                        
                                        <div class="col-2"><img class="rounded-circle" src="$fr->get_follower_user->image_profil" style="width: 30px; height: 30px"></div>
                                        <div class="col-10" style="padding-left: 15px">
                                        <div class="row" style="padding-left: 10px">
                                            
                                            <div class="col-8" >
                                                <div class="row"><strong>$fr->get_follower_user->name </strong></div>
                                                <div class="row" style="font-size: 8px"><i>@ $fr->get_follower_user->username</i></div>
                                            </div>
                                            
                                            @if(!empty($follower_id))
                                            <div class="col-4">
                                                <form action="userFollow'" >
                                                 csrf_field() 
                                                <input type="hidden" name="user_id" value="Auth::user()->id">
                                                <input type="hidden" name="follow_user_id" value="$user->id">
                                                <button type="submit" class="btn btn-success" style="padding-left: 3px; padding-right: 3px; padding-top: 0px; padding-bottom: 0px">Follow</button>
                                                </form>
                                            </div>
                                            @else
                                            @endif
                                        </div>
                                        </div>                  
                                        </div>
                                    </a>
                    @endforeach
                @endif
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
            </div>
            </div>
        </div>
        </div> -->

        <!-- Modal -->
        <!-- <div class="modal fade follower" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="followed" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mengikuti</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="overflow-y: scroll; max-height:85%;  margin-top: 50px; margin-bottom:50px;">
                @if(!empty($followed))
                    @foreach($followed as $fd)
                    <a href="'get_followed_user.username'">
                    <div class="row" style="padding-bottom: 10px; padding-left: 10px; width: 100%">
                                        
                                        <div class="col-2"><img class="rounded-circle" src="$fd->get_followed_user->image_profil" style="width: 30px; height: 30px"></div>
                                        <div class="col-10" style="padding-left: 15px">
                                        <div class="row" style="padding-left: 10px">
                                            
                                            <div class="col-8" >
                                                <div class="row"><strong>$fd->get_followed_user->name </strong></div>
                                                <div class="row" style="font-size: 8px"><i>@ $fd->get_followed_user->username</i></div>
                                            </div>
                                            
                                            
                                            @if(!empty($followed_id))
                                            <div class="col-4">
                                                <form action="userFollow'" >
                                                 csrf_field() 
                                                <input type="hidden" name="user_id" value="Auth::user()->id">
                                                <input type="hidden" name="follow_user_id" value="$user->id">
                                                <button type="submit" class="btn btn-success" style="padding-left: 3px; padding-right: 3px; padding-top: 0px; padding-bottom: 0px">Follow</button>
                                                </form>
                                            </div>
                                            @endif
                                        </div>
                                        </div>                  
                                        </div>
                                    </a>
                    @endforeach
                @endif
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
            </div>
            </div>
        </div>
        </div> -->
        </div>
        </div>
        <MenuBottom on="5"/>
  </div>
</template>

<script>
// @ is an alias to /src
import axios from 'axios'
import MenuTopName from '@/components/MenuTopName.vue';
import MenuBottom from '@/components/MenuBottom.vue';
import RatingUser from '../components/RatingUser';
import PetUserList from '../components/PetUserList';

export default {
  name: 'Home',
   components: {
    MenuTopName,
    MenuBottom,
    RatingUser,
    PetUserList,
  },
  data: ()=> {
     return {
        user : {},
        authUser : {},
        navWidth : 0,
        provinsiList : [],
        kabkotaList: [],
        kecamatanList: [],
        kelurahanList: [],
     }
  },
  methods:{
      openNav() {     
          this.navWidth = 250                        
         // document.getElementById("mySidenavId").style.width = "250px";
      },
       closeNav() {    
            this.navWidth = 0                  
         // document.getElementById("mySidenavId").style.width = "0px";
      },
      to(param){
          this.$router.push(param)
      },
       wilayahChange(){
           console.log('p', this.user.provinsi_id)
         axios.get(this.$root.$data.apiConfig +'api/wilayah', {
             params: {
                 provinsi_id : this.user.provinsi_id,
                 kabkota_id : this.user.kabkota_id,
                 kecamatan_id : this.user.kecamatan_id,

             }
         })
          .then(res =>{
            //alert('ok')
              console.log('res prov', res.data)
              this.kabkotaList = res.data.m_kabkota
              this.kecamatanList = res.data.m_kecamatan
              this.kelurahanList = res.data.m_kelurahan
          });
        },
        logOut(){
            this.$root.authUser = {}
            this.$root.auth = false
            localStorage.authUser = ''
            this.$router.push('login')
        }
  },
  mounted() {
       //console.log('param',this.$route.params)
     axios.get(this.$root.$data.apiConfig +'api/username', {
         params: {'username' : this.$route.params.username}
     })
        .then(res =>{
            console.log('res', res.data)
            this.user = res.data.user
            // res.data.data.auth = true
            // localStorage.authUser = JSON.stringify(res.data.data);
            // const authUser = JSON.parse(localStorage.authUser);
            // // this.$cookie.set('email', res.data.email, 1);
            // console.log('ra', authUser)
            // this.$root.$data.auth = true
            // this.$root.$data.authUser = authUser
            // this.$router.push('kategori')

        })
        .catch(err =>{
            //this.notif = { message:'email atau password anda salah', type:"warning"}
            //alert(err)
        })
        axios.get(this.$root.$data.apiConfig +'api/wilayah')
        .then(res =>{
            console.log('resw', res.data)
            this.provinsiList = res.data.m_provinsi
        })
    //  this.user = this.$root.$data.auhUser
    //  console.log('u', this.user)
  },
  created() {
     
      windowStatus.action = "submit"
     this.user = JSON.parse(localStorage.authUser)
     console.log('u', this.user)
        
  },
}
//$('.btncloseNav').on('click',function(e){
//                             // let nav = $('#mySidenavId')
//                             // nav.forEach(data => {
//                             //   data.offsetWidth = 0;
//                             // })
//                             // console.log('x',  $('#mySidenavId'))
//                         })
 // function openNav() {
//                             document.getElementById("mySidenavId").style.width = "250px";
//                             ///document.getElementById("mySidenavId").style.height = "100%";
//                             }
</script>
 
