<template>
  <div style="height: 100%; padding-bottom: 50px; background-image: url('images/bg1.png'); background-repeat: repeat-y">
                <form>
                    <center>
                    <div class="login100-form-avatar">
                        <img src="images/logo_mypet.png" class="rounded-circle" alt="MY PET" width="100px">
                    </div>
                    <span class="login10-form-title p-b-49 text-white">
                        Register
                    </span>
                        <div class="alert alert-success" v-if="notif.type=='success1'">
                            <p class="text-white"></p>
                        </div>
                        <div class="alert alert-warning" v-if="notif.type=='warning1'">
                            <p class="text-white"></p>
                        </div>
                    </center>
                    <div style="padding: 10px">
                        <div class="" >
                            <span class=" text-white" style="width: 100%">Nama Anda / Toko Anda</span>
                            <input  type="text" class="form-control" id="name"  required autocomplete="name" autofocus  placeholder="Masukan Nama / Toko Anda" style="background: white;border-radius: 25px">
                            <span class="notif_name" role="alert" style="font-size: 10px">
                            </span>
                            <span class="invalid-feedback bg-primary" role="alert" v-if="notif.type=='success'">
                                <strong class="text-white">{{ notif.message }}</strong>
                            </span>
                            <span class="invalid-feedback bg-danger" role="alert" v-if="notif.type=='warning'">
                                <strong class="text-white">{{ notif.message }}</strong>
                            </span>
                        </div>
                        <div class="validate-input " >
                            <span class=" text-white">Username</span>
                            <input  type="text" class="form-control" id="username"  required autocomplete="username" autofocus v-model="form.username" v-on:change="validasiRegister"  placeholder="Masukan Username Pilihan Anda" style="background: white;border-radius: 25px">
                             <span role="alert" v-if="notif.typeUsername == 'success'" style="color: white; font-size: 10px;">
                            <div  class="bg-primary">{{ notif.messageUsername }}</div>
                            </span>
                            <span role="alert" v-if="notif.typeUsername == 'warning'" style="color: white; font-size: 10px;">
                                <div  class="bg-danger">{{ notif.messageUsername }}</div>
                            </span>
                        </div>
                        <div class="" data-validate = "Username is required">
                            <span class=" text-white">email</span>
                            <input tid="email" type="email" class=" form-control " v-model="form.email" v-on:change="validasiRegister"  required autocomplete="email" autofocus placeholder="Masukan email" style="background: white;border-radius: 25px">
                            <span role="alert" v-if="notif.typeEmail == 'success'" style="color: white; font-size: 10px;">
                            <div  class="bg-primary">{{ notif.messageEmail }}</div>
                            </span>
                            <span role="alert" v-if="notif.typeEmail == 'warning'" style="color: white; font-size: 10px;">
                                <div  class="bg-danger">{{ notif.messageEmail }}</div>
                            </span>
                        </div>

                        <div class="" data-validate="Password is required">
                            <span class=" text-white">Password</span>
                            <input   type="password" class=" form-control "  name="password" required autocomplete="current-password" placeholder="Masukan password" style="background: white;border-radius: 25px">
                            <span class="notif_password" role="alert" style="font-size: 10px">
                            </span>
                            <span class="invalid-feedback" role="alert">
                                <strong class="text-white">{{ notif }}</strong>
                            </span>
                        </div>
                        <div class=" validate-input" data-validate="Password is required">
                            <span class=" text-white">Confrimasi Password</span>
                            <input   type="password"  id="c_password"  class="form-control" name="c_password" required autocomplete="c_password" placeholder="Masukan password" style="background: white;border-radius: 25px">
                            <span class="notif_c_password" role="alert" style="font-size: 10px">
                            </span>
                            <span class="invalid-feedback" role="alert">
                                <strong class="text-white">{{ notif }}</strong>
                            </span>
                        </div>
                    </div>
                    
                    <div class="text-right p-t-2 p-b-11">
                        <a href="#">
                            Lupa password?
                        </a>
                    </div>
                    <center>
                    <div class="container-login100-form-btn" style="width: 90%">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <b-button block  variant="primary" class="btn btn-primary" type="submit">
                                Daftar
                            </b-button>
                          
                        </div>
                    </div>
                    </center>
                    </form>
                    <div class="text-center text-white">
                        <span>
                            Or Sign Up Using
                        </span>
                    </div>
                    <center>
                    <div class="flex-c-m">
                        <a href="#" class="login100-social-item bg1">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="login100-social-item bg3">
                            <i class="fab fa-google"></i>
                        </a>
                    </div>

                    <div >
                        <span class="text-white">
                            Sudah Punya Akun ?
                        </span>

                        <div class="wrap-login100-form-btn" style="width: 60%;">
                            <div class="login100-form-bgbtn" ></div>
                            <router-link :to="{ path: '/login' }">
                            <b-button block  variant="primary"  class="btn btn-primary" >
                                Login
                            </b-button>
                            </router-link>
                        </div>
                    </div>
                    </center>
                
            </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Register',
   data: () => {
    
    return {
      form: {
          email : '',
          password : ''
      },
      
      notif : {
          message:null,
          messageEmail: null,
          typeEmail: null,
          messageUsername: null,
          typeUsername: null,
          type: null
      }
    }
  },
  async mounted() {
    //this.load()
  },
  methods: {
    save(){
        axios.post('http://localhost:8000/api/login'+ this.form.email)
        .then(res =>{
            console.log('res', res.data.data)
            localStorage.authUser = JSON.stringify(res.data.data);
            var authUser = JSON.parse(localStorage.authUser);
            // this.$cookie.set('email', res.data.email, 1);
            console.log('ra', authUser)
            this.$router.push('about')

        })
        .catch(err =>{
            this.notif = { message:'email atau password anda salah', type:"warning"}
        })
    },
    validasiRegister(){
        console.log('res', this.form)
        axios.get('http://localhost:8000/api/validasi/register', {
            params: this.form
            })
         .then(res =>{
        console.log('r', res)
            if(res.data.validasi_email == null){
                this.notif.messageEmail= 'email dapat dipakai';
                this.notif.typeEmail = 'success';
            }else {
                this.notif.messageEmail= 'email sudah dipakai';
                this.notif.typeEmail= 'warning';
            }
            if(res.data.validasi_username == null){
                this.notif.messageUsername = 'Username dapat dipakai';
                this.notif.typeUsername = "success";
            }else{
                this.notif.messageUsername = 'Username sudah dipakai';
                this.notif.typeUsername = 'warning';
            }
            

        })
        .catch(err =>{
            this.notif = 'email atau password anda salah1'
        })
    },
    validasiUsername(){
        console.log('res', this.form)
        axios.get('http://localhost:8000/api/validasi/register', {
            params: this.form
            })
         .then(res =>{
      
        console.log('r', res)
           
            if(res.data.validasi_username){
                this.notif.messageUsername = 'Username tersedia';
                this.notif.typeUsername = "success";
            }else{
                this.notif.messageUsername = 'Username tidak tersedia';
                this.notif.typeUsername ="warning";
            }
            

        })
        .catch(err =>{
            this.notif = 'rejadi kesalahan'
        })
    }
  }
  

}
</script>
