<template >
  <div class="barner" >
       <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333;"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
        caption="First slide"
        text="Nulla vitae elit libero, a pharetra augue mollis interdum."
        img-src="https://picsum.photos/1024/480/?image=52"
      ></b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=54">
        <h1>Hello world!</h1>
      </b-carousel-slide>

      <!-- Slides with image only -->
      <b-carousel-slide img-src="https://picsum.photos/1024/480/?image=58"></b-carousel-slide>

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide>
        <template v-slot:img>
          <img
            class="d-block img-fluid w-100"
            width="1024"
            height="480"
            src="https://picsum.photos/1024/480/?image=55"
            alt="image slot"
          >
        </template>
      </b-carousel-slide>

      <!-- Slide with blank fluid image to maintain slide aspect ratio -->
      <b-carousel-slide caption="Blank Image" img-blank img-alt="Blank image">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eros felis, tincidunt
          a tincidunt eget, convallis vel est. Ut pellentesque ut lacus vel interdum.
        </p>
      </b-carousel-slide>
    </b-carousel>

    <p class="mt-4">
      Slide #: {{ slide }}<br>
      Sliding: {{ sliding }}
    </p>
      <!-- <div id="1" class="carousel slide" data-ride="carousel" style="width: 100%; padding-left: 20px; padding-top: 50px">
            
                <ol class="carousel-indicators list_slide" style="padding-top: 20px">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                </ol>
            <div class="carousel-inner list_slide_show" style="width: 100%">
          
                <div class="carousel-item active" style="width: 100%; border: 0px solid;">
                    <v-img class="d-block w-100" src="'images/barner1.jpg'" alt="slide 1" style="width: 100%; height: 150px" />
                </div>
                <div class="carousel-item" style="width: 100%; border: 0px solid;">
                    <v-img class="d-block w-100" src="'images/mycargo.jpg'" alt="slide 2" style="width: 100%; height: 150px" />
                </div>
                <div class="carousel-item" style="width: 100%; border: 0px solid;">
                    <v-img class="d-block w-100" src="'images/myadopsi.jpg'" alt="slide 3" style="width: 100%; height: 150px" />
                </div>
                 <div class="carousel-item" style="width: 100%; border: 0px solid;">
                    <v-img class="d-block w-100" src="'images/mycleaning.jpg'" alt="slide 4" style="width: 100%; height: 150px" />
                </div>
                 <div class="carousel-item" style="width: 100%; border: 0px solid;">
                    <v-img class="d-block w-100" src="'images/mydoctor.jpg'" alt="slide 5" style="width: 100%; height: 150px" />
                </div>
                 <div class="carousel-item" style="width: 100%; border: 0px solid;">
                    <v-img class="d-block w-100" src="'images/myklinik.jpg'" alt="slide 6" style="width: 100%; height: 150px" />
                </div>
                <div class="carousel-item" style="width: 100%; border: 0px solid;">
                    <v-img class="d-block w-100" src="'images/barner8.jpg'" alt="slide 7" style="width: 100%; height: 150px" />
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
      </div> -->
  </div>
</template>
<script>
export default {
  name: 'Barner',
   data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    methods: {
      onSlideStart(slide) {
        this.sliding = true
      },
      onSlideEnd(slide) {
        this.sliding = false
      }
    }
}
</script>