<template style="height: 40px">
  <div class="ComunityList" >
     <div class="row">
              <div class="col-12">
                <div class="row">
                  <div class="col-12">Komunitas yang tersedia :</div>
                </div>
                <div class="comunity">
                <div class="row" style="width: 100%">
                  <!-- <div class="d-flex justify-content-center col-12">
                    <div class="spinner-border text-primary loading" role="status">
                    <span class="sr-only">Loading...</span>
                    </div>
                  </div> -->
                 <div v-for="(c, index) in comunityList" :key="c.comunity_id" :data-index="index" >
                 
                 <div class="card">
                <div class="row">
                    <div class="col-3">
                        <a :href="'comunity_'+ c.comunity_id">
                            <img :src="c.comunity_logo" style="width: 100%">
                        </a>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div class="col-8">
                                <a :href="'comunity_'+ c.comunity_id">
                                 {{ c.comunity_name }}
                                </a>
                            </div>
                           <div class="col-2">
                                 <button class="btn btn-success" type="button" @click="gabungComunity(authUser.id, c.comunity_id)" style="font-size: 11px; padding-left: 5px; padding-right: 5px; padding-top: 0px; padding-bottom: 0px">Gabung</button>
                            </div>
                        </div>
                        <div class="row" style="font-size: 10px">
                            <div class="col-3">
                                {{ c.get_comunity_jenis.jenis }}
                            </div>
                             <div class="col-4">
                                {{ c.get_comunity_kabkota.nama_kabkota }}
                            </div>
                            <div class="col-5">
                                {{ c.member}} Member
                            </div>
                            
                        </div>
                    </div>
                </div>
                </div>
                </div>
                 
                    <!-- <div class="pagination" style="font-size: 8px;">
                      $comunity->links() 
                    </div> -->
                </div>
                </div>
            </div>
            </div>
  </div>
</template>
<script>
import axios from 'axios'
//import Vue from 'vue'
export default {
  name: 'PetMarketList',
   data: ()=> {
     return {
        limit:10,
        authUser: {},
        comunityAdd: {},
        comunityList: []
     }
  },
  //props: ["products", "maximum"],
  methods: {
      init : function(){
          this.authUser = JSON.parse(localStorage.authUser)
          axios.get(this.$root.$data.apiConfig +'api/comunity', {
            params: {'limit': this.limit}
            })
        .then(res =>{
          console.log('res', res)
          
        
         this.comunityList = res.data
        // console.log('this1', this)
        })
      },
      gabungComunity: function(user_id,comunity_id){
          axios.get(this.$root.$data.apiConfig +'api/comunity/user/add', {
            params: {'user_id': user_id, 'comunity_id': comunity_id}
            })
        .then(res =>{
          console.log('res add', res)
          this.$swal(res.data.pesan);
            this.init()
        })
        .catch(err =>{
             this.$swal(`terjadi kesalahan ${err}`,'danger');
        })
      },
    showItem: function() {
            // let max = this.maximum;
            // return this.pets.filter(function(item) {
            //     return item.pet_price <= max
            // });
        },
    
    changeImage1 : (pet_id) => {
      //alert('1')
    },
     changeImage2 : (pet_id) => {
      //alert('1')
    },
    // init: function(){
    //      // alert('ok')
    //       console.log('vue',this)
    //       return this.pets = this.$root.pets
    //     }
    
   
  },
  computed: {
        
        
        
    },
  
  mounted() {
    this.init()
    //this.getPet()
    //this.pets = this.$root.pets
    //alert('ok')
    //console.log('this.pets', this.pets)
    // console.log('this.pets', this.pets)
    
  }
  
}
</script>