<template>
  <div class="FilterMyComunity">
    <div class="row">
                 <div class="row" style="width: 100%;">
                   <div class="col-7">
                     Filter
                      <span  style="font-size:25px;cursor:pointer" @click="openNav(true)"><img src="images/icons/filter.png" width="50"> </span>
                   </div>
                    <div class="col-5" style="padding-top: 10px; padding-left: 30px; "> 
                      <button class="btn btn-success" data-toggle="modal" data-target="#buat" style="padding: 2px; font-size: 8px"> <i class="fas fa-plus"></i> Buat Komunitas</button>
                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="buat" tabindex="-1" role="dialog" aria-labelledby="buat" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="buat">Buat Komunitas</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="wrap-login100 p-l-20 p-r-20 p-t-20 p-b-50" >
                                <form class="login100-form validate-form" @submit.prevent="saveComunity" enctype="multipart/form-data">
                                    
                                    <center>
                                    <div class="login100-form-avatar">
                                        <img id="img_comunity_logo_id" src="images/logo_mypet.png" class="rounded-circle" alt="MY PET" width="100px">
                                    </div>
                                    <span class="login10-form-title p-b-49">
                                        {{ comunity.comunity_name }}
                                    </span>
                                    </center>
                                    <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Nama Komunitas</span>
                                        <input type="hidden" name="user_id" value="user->id">
                                        <input v-model="comunity.comunity_name" type="text" class="input100 form-control"  required autocomplete="name" autofocus  placeholder="Masukan Nama Komunitas Anda">
                                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" >
                                      <span class="label-input100">Logo</span>
                                       <div class="input-group" style="padding-left: 12px;">
                                          <div>
                                            <input type="file"  @change="onFileChangeLogo($event)" class="custom-file-input"  data-input="false" accept=".jpg, .png, .jpeg, .gif">
                                            <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                                          </div>
                                          <img id="img_comunity_logo" :src="comunity.comunity_logo" style="width: 100%"/>
                                        </div>
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Jenis</span>
                                         <select class="form-control" v-model="comunity.pet_jenis_id" required>
                                                <option class="form-control" selected>All </option>
                                                <option class="form-control" v-for="(item, index) in jenisHewanMarket(petJenisList)" :key="item.pet_jenis_id" :data-index="index" :value="item.pet_jenis_id">{{item.jenis}}</option>
                                        </select>
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Privasi</span>
                                         <select class="form-control " v-model="comunity.fk_privasi" required>
                                           <option class="form-control" selected="true">Pilih Privasi</option>
                                           <option class="form-control" v-for="(cp, index) in comunityPrivasiList" :key="cp.id" :data-index="index" :value="cp.id">{{cp.deskripsi}}</option>
                                        </select>
                                    </div>
                                     <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Provinsi</span>
                                        <select class="form-control " v-model="comunity.provinsi_id" @change="wilayahComunityChange" required>
                                           <option class="form-control" >Pilih Provinsi</option>
                                           <option class="form-control" v-for="(item, index) in provinsiList" :key="item.provinsi_id" :data-index="index" :value="item.provinsi_id">{{item.nama_provinsi}}</option>
                                        </select>
                                       
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Kota</span>
                                       
                                        <select class="form-control kabkota" v-model="comunity.kabkota_id" required>
                                            <option class="form-control" >Pilih Kabkota</option>
                                            <option class="form-control" v-for="(item, index) in kabkotaList" :key="item.kabkota_id" :data-index="index" :value="item.kabkota_id">{{item.nama_kabkota}}</option>
                                         </select>
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" required>
                                        <span class="label-input100">Deskripsi</span>
                                        <textarea class="form-control" v-model="comunity.comunity_desc"></textarea>
                                    </div>
                                    
                                    <center>
                                    <div class="container-login100-form-btn" style="width: 90%; padding-top: 20px">
                                        <div class="wrap-login100-form-btn">
                                            <div class="login100-form-bgbtn"></div>
                                            <button class="btn btn-primary" type="submit">
                                                Buat
                                            </button>
                                        </div>
                                    </div>
                                    </center>
                                    </form>
                            </div>           
                          </div>
                          <div class="modal-footer">
                            <center>
                            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
                            </center>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                 </div>
                      

                    
                    <div id="mySidenav" class="sidenav" style="z-index: 100">
                      <div style="width: 200px; height: 20px; padding: 0px; margin: 0px;">
                      <div style="width: 80%; height: 20px; border: 0px solid; float: left;">
                          
                      </div>
                      <div style="width: 20%; height: 20px; border: 0px solid; float: left;">
                           <a href="javascript:void(0)"><button style="padding: 0px; margin: 0px; float: left;"><i class="fas fa-window-close" @click="closeNav"></i></button>
                          </a>
                          
                      </div>
                      </div>
                          
                      <div id="sidebar" class="span3" >
                         <form class="form_filter" >
                            <span class="label-input100">Filter</span>
                            <input type="hidden" name="limit" value="20">
                            <span class="label-input100">Jenis</span>
                              <select class="form-control" v-model="filterParam.pet_jenis_id" >
                                      <option class="form-control" value="0">All </option>
                                      <option class="form-control" v-for="(item, index) in jenisHewanMarket(petJenisList)" :key="item.pet_jenis_id" :data-index="index" :value="item.pet_jenis_id">{{item.jenis}}</option>
                              </select>
                                    <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Provinsi</span>
                                        <select class="form-control " v-model="filterParam.provinsi_id" @change="wilayahChange">
                                           <option class="form-control" >Pilih Provinsi</option>
                                           <option class="form-control" v-for="(item, index) in provinsiList" :key="item.provinsi_id" :data-index="index" :value="item.provinsi_id">{{item.nama_provinsi}}</option>
                                        </select>
                                       
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Kota</span>
                                       
                                        <select class="form-control kabkota" v-model="filterParam.kabkota_id" @change="wilayahChange">
                                            <option class="form-control" >Pilih Kabkota</option>
                                            <option class="form-control" v-for="(item, index) in kabkotaList" :key="item.kabkota_id" :data-index="index" :value="item.kabkota_id">{{item.nama_kabkota}}</option>
                                         </select>
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" style="padding-top: 10px">
                                        <center><button type="submit" class="btn btn-success">Filter</button></center>
                                    </div>
                          </form>
                        </div>
                        <!-- Sidebar end=============================================== -->
                         
                    </div>
                                  
                
                </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'FilterMyComunity',
   data: ()=> {
     return {
         authUser: {},
         comunity: {},
         file : {},
        petJenisList: [],
        provinsiList: [],
        kabkotaList: [],
        comunityPrivasiList: [],
        filterParam: {}
     }
  },
  props: ['statusNav'],
  methods: {
      init: function(){
          this.authUser = JSON.parse(localStorage.authUser)
            axios.get(this.$root.$data.apiConfig +'api/pet_jenis')
                .then(res =>{
                    console.log('res1', res.data)
                    this.petJenisList = res.data
                    this.comunity.pet_jenis_id = this.petJenisList[0]
                });
            axios.get(this.$root.$data.apiConfig +'api/wilayah')
                .then(res =>{
                    console.log('resw', res.data)
                    this.provinsiList = res.data.m_provinsi
                })
            axios.get(this.$root.$data.apiConfig +'api/master_param', {
                params: {'type' : 'comunity_privasi'}
            })
            .then(res =>{
                console.log('res param', res.data)
                this.comunityPrivasiList = res.data
            })
      },
      openNav() {
        //   if(status == true){
            document.getElementById("mySidenav").style.width = "250px";
        //   }
        //   if(status == false){
        //     document.getElementById("mySidenav").style.width = "0px";
        //   }
        },
     closeNav() {
          document.getElementById("mySidenav").style.width = "0px";
        },
     jenisHewanMarket(data){
       return this.petJenisList.filter(function(item) {
                return item.invoice_kategori_id == 1
            });
        },
      wilayahComunityChange(){
         axios.get(this.$root.$data.apiConfig +'api/wilayah?provinsi_id=' + this.comunity.provinsi_id)
          .then(res =>{
            //alert('ok')
              console.log('res prov', res.data)
              this.kabkotaList = res.data.m_kabkota
          });
        },
      wilayahChange(){
         axios.get(this.$root.$data.apiConfig +'api/wilayah?provinsi_id=' + this.filterParam.provinsi_id)
          .then(res =>{
            //alert('ok')
              console.log('res prov', res.data)
              this.kabkotaList = res.data.m_kabkota
          });
        },
        onFileChangeLogo(event) {
            console.log('e', event)
            this.file.comunity_logo = event.target.files[0]
            //this.pet.comunity_logo = event.target.files[0]
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("img_comunity_logo").src = e.target.result;
                 document.getElementById("img_comunity_logo_id").src = e.target.result;
            };
            reader.readAsDataURL( this.file.comunity_logo);
        },
        saveComunity: function(){
         const formData = new FormData();
         formData.append('_token', '3223');
         formData.append('user_id', this.authUser.id);
         formData.append('comunity_name', this.comunity.comunity_name);
         formData.append('comunity_desc', this.comunity.comunity_desc);
         formData.append('pet_jenis_id', this.comunity.pet_jenis_id);
         formData.append('fk_privasi', this.comunity.fk_privasi);
         formData.append('provinsi_id', this.comunity.provinsi_id);
         formData.append('kabkota_id', this.comunity.kabkota_id);
         console.log('f', this.file)
         if(this.file) formData.append('comunity_logo', this.file.comunity_logo);

         let settings = { headers: { 'content-type': 'multipart/form-data' } }
         this.comunity.api_token = this.authUser.api_token;
         console.log('t',this.pet)
          
         axios.post(this.$root.$data.apiConfig +'api/comunity/save', formData, settings)
        .then(res =>{
            console.log('res', res)
            $('.close').click();
            this.init()
            this.$swal('Data berhasil disimpan','success');
            // this.$router.push('kategori')

        })
        .catch(err =>{
             this.$swal(`terjadi kesalahan ${err}`,'danger');
        })
        }
    //   filter(){
    //     console.log('f', this.filterParam)
    //     Vue.$toast.open('Howdy!');
    //     axios.get(this.$root.$data.apiConfig +'api/pet', {
    //         params: this.filterParam
    //         })
    //      .then(res =>{
    //       // console.log('t', this)
    //        this.closeNav;
    //         console.log('res f', res);
    //        // console.log('t', this)
            
    //     })
    //     .catch(err =>{
    //         this.notif = { message:'email atau password anda salah', type:"warning"}
            
    //     })
    // },
  },
  computed:{
     
  },
  mounted() {
    console.log('ts', this)
    this.init()
  }
}
</script>