<template>
  <div class="FilterMyMarket">
    <div class="row">
          <div class="col-12">
            <div class="row">
                <div class="col-2">
                  <h4>Filter</h4>
                </div>
                <div class="col-2">
                   <span  style="font-size:25px; cursor:pointer" @click="openNav"><v-card style="width: 40px"><v-img :src="'images/icons/filter.png'" width="50" /> </v-card></span>
                </div>
                <div class="col-8" ><h4>Hari ini</h4>
                </div>
            </div>
              
          </div>
          <div id="mySidenav" class="sidenav" style="width: 0px; z-index: 200">
                      <div style="width: 200px; height: 20px; padding: 0px; margin: 0px; ">
                      <div style="width: 80%; height: 20px; border: 0px solid; float: right;">
                          
                      </div>
                     
                      </div>
                      <div class="row">
                        <div class="col-8"></div>
                        <div class="col-3">
                           <div style="width: 20px; height: 20px; border: 0px solid;">
                           <button style="padding: 0px; margin: 0px; float: left;"><i class="fas fa-window-close" @click="closeNav"></i></button>
                          
                          
                             </div>
                        </div>
                      </div>
                      <div id="sidebar" class="span3" >
                         <form class="form_filter" @submit.prevent="$parent.filter">
                            <span class="label-input100">Filter   </span>
                            <input type="hidden" class="form-control" name="limit" id="limit" value="30">
                            <span class="label-input100">Jenis</span>
                              <select class="form-control" v-model="filterParam.pet_jenis_id" >
                                      <option class="form-control" value="0">All </option>
                                      <option class="form-control" v-for="(item, index) in jenisHewanMarket(petJenisList)" :key="item.pet_jenis_id" :data-index="index" :value="item.pet_jenis_id">{{item.jenis}}</option>
                              </select>
                              <!-- <b-form-select  v-model="pet_jenis"  :options="petJenis" > </b-form-select > 
                              <div  class = "mt-3" > Dipilih: <strong> { {pet_jenis}} </strong > </div>  -->
                                  <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Provinsi</span>
                                        <select class="form-control " v-model="filterParam.provinsi" @change="wilayahChange">
                                           <option class="form-control" >Pilih Provinsi</option>
                                           <option class="form-control" v-for="(item, index) in provinsiList" :key="item.provinsi_id" :data-index="index" :value="item.provinsi_id">{{item.nama_provinsi}}</option>
                                        </select>
                                       
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Kota</span>
                                       
                                        <select class="form-control kabkota" v-model="filterParam.kabkota" @change="wilayahChange">
                                            <option class="form-control" >Pilih Kabkota</option>
                                            <option class="form-control" v-for="(item, index) in kabkotaList" :key="item.kabkota_id" :data-index="index" :value="item.kabkota_id">{{item.nama_kabkota}}</option>
                                         </select>
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" >
                                        <span class="label-input100">Kategori</span>
                                        <select class="form-control kategori" v-model="filterParam.kategori">
                                           <option class="form-control" >Pilih Kategori</option>
                                                <option class="form-control" value="termurah" >Termurah</option>
                                                <option class="form-control" value="termahal" >Termahal</option>
                                                <option class="form-control" value="terbaik" >Terbaik</option>
                                                <option class="form-control" value="terpopuler" >Terpopuler</option>
                                                <option class="form-control" value="terdekat" >Terdekat</option>
                                              
                                        </select>
                                    </div>
                                    <div class="wrap-input100 m-b-23">
                                        <span class="label-input100">Harga Minmal</span>
                                        <input type="number" class="form-control" v-model="filterParam.min_price"  value="0">
                                        <input  type="range" class="form-control-range " min="0" max="10000000" step="10000" v-model="filterParam.min_price"  >
                                    </div>
                                    <div class="wrap-input100 m-b-23">
                                        <span class="label-input100">Harga Maximal</span>
                                        <input type="number" class="form-control" v-model="filterParam.max_price" id="max_price" >
                                        <input  type="range" class="form-control-range " min="0" max="10000000" step="10000"  v-model="filterParam.max_price" >
                                    </div>
                                    <div class="wrap-input100 validate-input m-b-23" style="padding-top: 10px">
                                        <center><button type="submit" class="btn btn-success" @click="closeNav">Filter</button></center>
                                    </div>
                          </form>
                        </div>
                         
                    </div>
        </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  name: 'FilterMyMarket',
   data: ()=> {
     return {
        petJenisList: [],
        provinsiList: [],
        kabkotaList: [],
        filterParam: {
          // 'petJenis' : null,
          // 'provinsi' : null,
          // 'kabkota': null,
          'min_price': 0,
          'max_price': 100000000
        },
        
     }
  },
  methods: {
     openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        },
     closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        },
     jenisHewanMarket(data){
       return this.petJenisList.filter(function(item) {
                return item.invoice_kategori_id == 1
            });
        },
      wilayahChange(){
         axios.get(this.$root.$data.apiConfig +'api/wilayah?provinsi_id=' + this.filterParam.provinsi)
          .then(res =>{
            //alert('ok')
              console.log('res prov', res.data)
              this.kabkotaList = res.data.m_kabkota
          });
        },
    //   filter(){
    //     console.log('f', this.filterParam)
    //     Vue.$toast.open('Howdy!');
    //     axios.get(this.$root.$data.apiConfig +'api/pet', {
    //         params: this.filterParam
    //         })
    //      .then(res =>{
    //       // console.log('t', this)
    //        this.closeNav;
    //         console.log('res f', res);
    //        // console.log('t', this)
            
    //     })
    //     .catch(err =>{
    //         this.notif = { message:'email atau password anda salah', type:"warning"}
            
    //     })
    // },
  },
  mounted() {
    console.log('ts', this)
    axios.get(this.$root.$data.apiConfig +'api/pet_jenis')
        .then(res =>{
            console.log('res1', res.data)
            this.petJenisList = res.data
        });
    axios.get(this.$root.$data.apiConfig +'api/wilayah')
        .then(res =>{
            console.log('resw', res.data)
            this.provinsiList = res.data.m_provinsi
        })
  }
}
</script>