<template >
  <div class="fitur" style="padding: 15px">
    <div class="row">
                  <div class="col-3 " style="margin:0px; padding: 0px">
                      <a href="mymarket">
                      <v-card elevation="20" loading="true" style="margin: 3px">
                        
                        <center>
                        <v-img :src="'images/icons/shop.png'" style="width: 40px;"/>
                        <label>My Market</label>
                        </center>
                        
                      </v-card>
                      </a>
                      
                  </div>
                  <div class="col-3 " style="margin:0px; padding: 0px">
                      <a href="mycargo">
                      <v-card elevation="20" loading="true" style="margin: 3px">
                          <a href="#" data-toggle="modal" data-target=".edit_profil"></a>
                          <center>
                          <v-img :src="'images/icons/plane.png'" style="width: 40px;" />
                          <label>My Cargo</label>
                          </center>
                      </v-card>
                      </a>
                  </div>
                  <div class="col-3" style="margin:0px; padding: 0px">
                    <a href="myAdopsi">
                    <v-card elevation="20" loading="true" style="margin: 3px">
                        <center>
                        <v-img :src="'images/icons/cat.png'" style="width: 40px;"/>
                        <label>My Adopsi</label>
                        </center>
                    </v-card>
                    </a>
                  
                  </div>
                  <div class="col-3" style="margin:0px; padding: 0px">
                    <a href="myPetShopKategori">
                      <v-card elevation="20" loading="true" style="margin: 3px">
                          <center>
                          <v-img :src="'images/icons/my_pet_shop.png'" style="width: 40px;"/>
                          <label>My Pet Shop</label>
                          </center>
                      </v-card>
                    </a>
                  </div>
          </div>
          <div class="row" style="padding-top: 5px">
                  <div class="col-3" style="margin:0px; padding: 0px">
                      <a href="myGrooming">
                         <v-card elevation="20" loading="true" style="margin: 3px">
                        <center>
                        <v-img :src="'images/icons/my_grooming.png'" style="width: 40px;"/>
                        <label>My Grooming</label>
                        </center>
                         </v-card>
                      </a>
                  </div>
                  <div class="col-3" style="margin:0px; padding: 0px">
                      <a href="myKlinik">
                         <v-card elevation="20" loading="true" style="margin: 3px">
                        <center>
                        <v-img :src="'images/icons/hospital.png'" style="width: 40px;"/>
                        <label>My Klinik</label>
                        </center>
                        </v-card>
                      </a>
                  </div>
                  <div class="col-3" style="margin:0px; padding: 0px">
                      <a href="myTraning">
                         <v-card elevation="20" loading="true" style="margin: 3px">
                          <center>
                          <v-img :src="'images/icons/shelter.png'"  style="width: 40px;"/>
                          <label>My Traning</label>
                          </center>
                        </v-card>
                      </a>
                  </div>
                  <div class="col-3" style="margin:0px; padding: 0px">
                      <a href="myCleaning">
                         <v-card elevation="20" loading="true" style="margin: 3px">
                        <center>
                        <v-img :src="'images/icons/cleaning.png'"  style="width: 40px;"/>
                        <label>My Cleaning</label>
                        </center>
                        </v-card>
                      </a>
                  </div>
              </div>
              <div class="row" style="padding-top: 5px">
                  <div class="col-3" style="margin:0px; padding: 0px">
                       <v-card elevation="20" loading="true" style="margin: 3px">
                        <center>
                        <v-img :src="'images/icons/constul.png'"  style="width: 40px;" />
                        <label>Hallo Pet</label>
                        </center>
                      </v-card>
                  </div>
                  <div class="col-3" style="margin:0px; padding: 0px">
                      <a href="myCare">
                         <v-card elevation="20" loading="true" style="margin: 3px">
                        <center>
                        <v-img :src="'images/icons/my_care.png'"  style="width: 40px;" />
                        <label>My Care</label>
                        </center>
                        </v-card>
                      </a>
                  </div>
                  <div class="col-3" style="margin:0px; padding: 0px">
                      <a href="myDonasi">
                         <v-card elevation="20" loading="true" style="margin: 3px">
                          <center>
                          <v-img :src="'images/icons/donasi.png'"  style="width: 40px; height: 40px" />
                          <label>My Donasi</label>
                          </center>
                        </v-card>
                      </a>
                  </div>
                  <div class="col-3" style="margin:0px; padding: 0px">
                      <a href="myQurbanKategori">
                         <v-card elevation="20" loading="true" style="margin: 3px">
                        <center>
                        <v-img :src="'images/icons/myqurban.jpg'"  style="width: 40px;" />
                        <label>My Qurban</label>
                        </center>
                         </v-card>
                      </a>
                  </div>
              </div>
  </div>
</template>
<script>
export default {
  name: 'Fitur'
}
</script>