<template>
  <div class="JenisHewan" style="padding: 15px">
        <div class="row " style="font-size: 11px" >
            <div class="col-3 kucing" name="pet_jenis_id" value="1" style="margin:0px; padding: 0px">
                <v-card elevation="20" loading="true" @click="$parent.filter(1)" style="height: 60px; height: 60px; margin: 3px">
                  <center>
                  <v-img :src="'/images/icons/kucing.png'" style="width: 35px;" />
                  Kucing
                  </center>
                </v-card>
            </div>
            <div class="col-3 anjing" value="2" style="margin:0px; padding: 0px">
                <v-card elevation="20" loading="true" style="height: 60px; margin: 3px">
                  <center>
                  <v-img :src="'images/icons/dog.png'" @click="$parent.filter(2)"  style="width: 35px;" />
                  Anjing
                  </center>
                </v-card>
            </div>
            <div class="col-3 burung" value="3" style="margin:0px; padding: 0px">
                <v-card elevation="20" loading="true" style="height: 60px; margin: 3px">
                  <center>
                  <v-img :src="'images/icons/bird.png'" style="width: 35px;" />
                  Burung
                  </center>
                </v-card>
            </div>
            <div class="col-3 ayam" value="4" style="margin:0px; padding: 0px">
                <v-card elevation="20" loading="true" style="height: 60px; margin: 3px">
                  <center>
                  <v-img :src="'images/icons/ayam.png'" style="width: 35px;" />
                  Ayam
                  </center>
                </v-card>
            </div>
        </div>
        <div class="row" style="padding-top: 5px; font-size: 11px">
            <div class="col-3 musang" value="5" style="margin:0px; padding: 0px">
                <v-card elevation="20" loading="true" style="height: 60px; margin: 3px">
                  <center> 
                  <v-img :src="'images/icons/musang.png'" style="width: 35px;" />
                  Musang
                  </center>
                </v-card>
            </div>
            <div class="col-3 ikan" value="6" style="margin:0px; padding: 0px">
                <v-card elevation="20" loading="true" style="height: 60px; margin: 3px">
                  <center>
                  <v-img :src="'images/icons/fish.png'" style="width: 35px;" />
                  Ikan
                  </center>
                </v-card>
            </div>
            <div class="col-3 reptil" value="7" style="margin:0px; padding: 0px">
                <v-card elevation="20" loading="true" style="height: 60px; margin: 3px">
                  <center>
                  <v-img :src="'images/icons/shelter.png'" style="width: 35px;" />
                  Reptil
                  </center>
                </v-card>
            </div>
            <div class="col-3 lainnya" value="8" style="margin:0px; padding: 0px">
                <v-card elevation="20" loading="true" style="height: 60px; margin: 3px">
                  <center>
                  <v-img :src="'images/icons/lainnya.jpg'" style="width: 35px;" />
                  Liannya
                  </center>
                </v-card>
            </div>
        </div>
  </div>
</template>
<script>
export default {
  name: 'JenisHewan',
  mounted() {
    console.log('m', this)
  }
}
</script>