<template>
  <div class="master">
    <div class="container-fluid" id="app" style="width: 100%; padding-top: 50px ;" >
        <div class="container-fluid position-fixed fixed-top  border-bottom" style="height: 45px; border: 0px solid; padding-top: 5px; background-color: #00A1B0">
            <div class="row">
              
                <div class="col-1 btn-kembali" @click="$router.go(-1)" style="border: 0px solid; padding: 0px; margin-top: 5px;">
                  <a href="">
                    <center>
                    <i class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px; padding-top: 4px"></i>
                    </center>
                   </a>
                </div>
                
                <div class="col-1 judul_icon" style="height: 40px;padding: 0px; ">
                    <a><v-img :src="icon" class="rounded-circle" style="width: 30px; padding-top: 3px " /></a>
                </div>
                <div class="col-9 judul_nama text-white"  style=" height: 40px;border: 0px solid;padding: 3px;color: white">
                   <h5>{{ judul}}</h5>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MenuTopName',
  props: ['icon','judul'],
  methods: {
    back: function (){
      //window.history.back();
      window.history.go(-1)
    }
  }
}
</script>