<template style="width: 100%; height: 100%">
  <div class="master">
    <div class="container-fluid" id="app" style="width: 100%; padding-top: 50px ;" >
        <div class="container-fluid position-fixed fixed-top  border-bottom" style="height: 45px; border: 0px solid; padding-top: 5px; background-color: #00A1B0">
            <div class="row">
              
                <div class="col-1 btn-kembali" @click="$router.go(-1)" style="border: 0px solid; padding: 0px; margin-top: 5px;">
                  <a href="">
                    <center>
                    <i class="fa fa-arrow-left" aria-hidden="true" style="font-size: 20px; padding-top: 4px"></i>
                    </center>
                   </a>
                </div>
                
                <div class="col-1 judul_icon" style="height: 40px;padding: 0px; ">
                    <a><v-img :src="'images/logo_mypet.png'" class="rounded-circle" style="width: 30px; padding-top: 3px " /></a>
                </div>
                <div class="col-9 judul_nama text-white"  style=" height: 40px;border: 0px solid; padding: 0px;color: white">
                    <form class="form_cari" action="login">
                    <div class="input-group mb-5">
                        
                        <input type="text" name="name" id="input_cari" class="form-control input_cari" placeholder="cari" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append" >
                            <button  class="btn btn-outline-secondary btn-light" id="btn-cari" type="button"><v-img :src="'images/icons/search.png'"  style="width: 20px; " /></button>
                        </div>
                       
                    </div>
                    </form>
                </div>
               
            </div>
        </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'MenuTop',
  methods: {
    back: function (){
      //window.history.back();
      window.history.go(-1)
    }
  }
}
</script>