<template style="width: 90%; height: 100%">
  <div class="menuBottom" style="width: 90%; height: 30px">
    <div class="container-fluid"  style="width: 100%; padding-top: 10px ;" >
        <div class="container " style="height: 25px; border: 1px solid" >
            <div class="row position-fixed fixed-bottom border-top" style="padding-left: 5px; padding-right: 5px; background-color: #00A1B0; font-size: 10px; height: 52px">
               <div class="col-2">
                    <center> <router-link :to="{ path: '/mymarket' }"><v-img :src="icon.market" style="width: 22px; color: white" /><div class="text-white" :style="icon.market_aktif">Market</div></router-link></center>
                </div>
                <div class="col-3">
                    <center><router-link :to="{ path: '/comunity' }"><v-img :src="icon.chat" style="width: 22px;color: white " /><div  class="text-white" :style="icon.chat_aktif">Komunitas</div></router-link></center>
                </div>
                <div class="col-2">
                    <center><router-link :to="{ path: '/kategori' }"><div style="padding-left: 35px"></div><v-img :src="icon.kategori" style="width: 22px;" /><div  class="text-white" :style="icon.kategori_aktif">Kategori</div></router-link></center>
                </div>
                <div class="col-3" style="padding-top: 5px">
                    <center ><router-link :to="{ path: '/notif' }">
                    <div :style="'background: url(images/icons/'+ icon.notif +') no-repeat; border: 0px solid; width: 35px; height: 27px; '">
                      <div style="width: 15px; height: 15px; font-size: 10px; background: red;  float: right; color: white " class="rounded-circle"><strong style="padding: 0px; color: white; " class="notif_count"></strong></div>
                        <div  class="text-white" style="width: 35px; height: 5px; padding-top: 28px">Notif</div>
                     </div>
                      </router-link>
                    </center>
                </div>
                <div class="col-2">
                    <center><router-link :to="{ path: `/${authUser.username}` }"><v-img :src="authUser.image_profil" class="rounded-circle btn-outline-primary "  style="width: 22px; height: 23px; border: 1px solid" /><div  class="text-white" :style="icon.akun_aktif">Akun</div></router-link></center>
                </div>
             </div>
        </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'menuBottom',
  data: () => {
    return {
      authUser: {},
      icon: {
        'market': './images/icons/home_off.svg',
        'market_aktif': '',
        'chat' : 'images/icons/chat_off.svg',
        'chat_aktif' : '',
        'kategori': 'images/icons/kategori_off.svg',
        'kategori_aktif' : '',
        'notif' : 'petnotif_off.png',
        'aktif' : '',
        'akun_aktif' : ''
      }
    }
  },
  props: ['on'],
  methods: {
    menuBtn(value){
      console.log('t', this.$router)
      if(value == 1){
        this.$router.push('MyMarket')
      }
     

    }
  },
  mounted(){  
    
    // this.authUser = this.$root.$data.authUser;
    this.authUser = JSON.parse(localStorage.authUser)
    if(this.on == 1){
      this.icon.market = './images/icons/home_on.svg';
      this.icon.market_aktif = 'border-bottom: 2px solid yellow';
    }else if(this.on == 2){
      this.icon.chat = 'images/icons/chat_on.svg';
      this.icon.chat_aktif = 'border-bottom: 2px solid yellow';
    }else if(this.on == 3){
      this.icon.kategori = 'images/icons/kategori_on.svg';
      this.icon.kategori_aktif = 'border-bottom: 2px solid yellow';
    }else if(this.on == 4){
      this.icon.notif = 'petnotif_on.png';
      this.icon.notif_aktif = 'border-bottom: 2px solid yellow';
    }else if(this.on == 5){
      this.icon.akun_aktif = 'border-bottom: 2px solid yellow';
    }
    //console.log('d', this.authUser)
  }
}
</script>