<template >
  <div class="PetComunityPostList" >
    <!-- modal share -->

                              <!-- <div class="modal fade sharecp->comunity_post_id" id="action" tabindex="-1" role="dialog" aria-labelledby="action" aria-hidden="true" style="width: 70%; padding-left: 20%">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content" style="width: 100%; height: 120px">
                                    <div class="modal-header">
                                    
                                    <div class="modal-body">
                                       <center>
                                                     <div style="width: 180px; height: 50px; border: 0px solid;">
                                                       <div style="width: 50px; height: 50px; border: 0px solid; float: left;">
                                                         <button tipe="submit" class="rounded-circle btn-outline-primary"  style="background-color: white; width: 45px; height: 45px; padding: 0px; margin: 0px;">
                                                          <div class="fb-share-button"><a target="_blank" :href="'https://www.facebook.com/sharer/sharer.php?u='+ cp.comunity_post_id + ';src=sdkpreparse'" ><v-img :src="'images/icons/facebook.png'"  class="img-circle" style="width: 40px;" /></a></div>
                                                            
                                                          </button>
                                                       </div>
                                                       <div style="width: 50px; height: 50px; border: 0px solid; float: left;">
                                                         <button tipe="submit" class="rounded-circle btn-outline-primary"  style="background-color: white; width: 45px; height: 45px; padding: 0px; margin: 0px;">
                                                          <a target="_blank"  class="twitter-share-button" :href="'https://twitter.com/intent/tweet?text='+ cp.comunity_post_id">
                                                            <v-img :src="'images/icons/twitter.png'"  class="rounded-circle" style="width: 40px;" />
                                                            </a>
                                                          </button>
                                                       </div>
                                                       <div style="width: 50px; height: 50px; border: 0px solid; float: left;">
                                                         <button tipe="submit" class="rounded-circle btn-outline-primary"  style="background-color: white; width: 45px; height: 45px; padding: 0px; margin: 0px;">
                                                          <a target="_blank"  :href="'https://web.whatsapp.com:/send?text='+ cp.comunity_post_id">
                                                           <v-img :src="'images/icons/wa.png'"  class="img-circle" style="width: 40px;" />
                                                         </a>
                                                          </button>
                                                       </div>
                                                       
                                                     </div>
                                                   </center>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                              <!-- end modal share -->
                            <!-- Action Post -->
                            <!-- <div class="modal fade actioncp->comunity_post_id" id="action" tabindex="-1" role="dialog" aria-labelledby="action" aria-hidden="true" style="width: 70%; padding-left: 20%">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content" style="width: 100%; height: 120px">
                                    <div class="modal-header">
                                    
                                    <div class="row">
                                      <div class="col-9" style="padding-left: 40px">
                                        @if($cp->get_comunity_post_user->id == Auth::user()->id)
                                        <button class="col-12 form-control" style="padding: 2px; width: 100%" data-toggle="modal" data-target=".edit_postcp->comunity_post_id">
                                              <i class="far fa-edit"></i> <md-tooltip md-delay="1">Edit</md-tooltip>
                                        </button>
                                        @endif
                                        @if((!empty($comunityMemberUser)) && ($comunityMemberUser->level == 'Admin'))
                                        <button class="col-12 form-control" style="padding: 2px; width: 100%" data-toggle="modal" data-target=".hapus_postcp->comunity_post_id">
                                                  <i class="fa fa-window-close"></i><md-tooltip md-delay="1">Hapus</md-tooltip> 
                                        </button>
                                        @endif
                                      </div>
                                      <div class="col-1 " style="padding-left: 30px">
                                        <button type="button" class="close close_modal_action$cp->comunity_post_id" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                     </div>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                           <!-- edit post -->
                                <!-- <div class="modal fade edit_post$cp->comunity_post_id" id="delete" tabindex="-1" role="dialog" aria-labelledby="tambah" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <form  class="form_post_edit" >
                                    <div class="modal-body">
                                     <input class="form-control" type="hidden" name="user_id"  value="Auth::user()->id" style="width: 90%"> 
                                     <input class="form-control" type="hidden" name="comunity_post_id"  value="cp->comunity_post_id" style="width: 90%">
                                     <textarea class="form-control" name="status">cp.status</textarea>
                                    </div>
                                    <div class="modal-footer">
                                      <center>
                                        <button type="submit"  class="btn btn-primary" style="width: 60px; font-size: 10px; padding: 3px 1px;">update</button>
                                          <button type="button"  class="btn btn-danger" style="width: 60px; font-size: 10px; padding: 3px 1px;" data-toggle="modal" data-target=".hapus_post$cp->comunity_post_id"><i class="fas fa-trash" ></i>  Hapus</button>
                                          <button type="button" class="btn btn-secondary close_modal_edit$cp->comunity_post_id" data-dismiss="modal" style="width: 60px; height: 25px; font-size: 10px; padding: 3px 1px;">Close</button>
                                       
                                          </center>
                                    </div>
                                   </form>
                                  </div>
                                </div>
                              </div> -->
                          <!-- hapus post -->
                                <!-- <div class="modal fade hapus_postcp->comunity_post_id" id="delete" tabindex="-1" role="dialog" aria-labelledby="tambah" aria-hidden="true">
                                  <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <form  class="form_post_delete" >
                                      <div class="modal-body">
                                       <input class="form-control" type="hidden" name="user_id"  value="Auth::user()->id" style="width: 90%"> 
                                       <input class="form-control" type="hidden" name="comunity_post_id"  value="$cp->comunity_post_id" style="width: 90%">
                                       @if(!empty($cp->post_image))
                                       <input class="form-control" type="hidden" name="post_image"  value="$cp->post_image" style="width: 90%">
                                       @endif
                                        Anda Yakin Ingin Menghapus Postingan ?
                                      </div>
                                      <div class="modal-footer">
                                        <center>
                                            <button type="submit"  class="btn btn-danger" style="width: 60px; font-size: 10px; padding: 3px 1px;"><i class="fas fa-trash"></i>  Hapus</button>
                                            <button type="button" class="btn btn-secondary close_modal_delete$cp->comunity_post_id" data-dismiss="modal" style="width: 60px; font-size: 10px; padding: 3px 1px;">Close</button>
                                      
                                            </center>
                                      </div>
                                     </form>
                                    </div>
                                  </div>
                                </div> -->
                            <!-- end hapus -->
     <b-modal id="komentar" scrollable title="Komentar" button-size="sm"  >
       <template v-slot:modal-title="{ close }" >
        <i class="fa fa-arrow-left" aria-hidden="true" style="width: 30px;font-size: 20px; padding-top: 4px" @click="close()"></i> Komentar
        </template>
        <div class="row normal" v-if="comunityPostDetail.get_comunity_post_user">
          <div class="col-12 normal">
            <div class="container-fuild comunity_post" style="padding: 0px; "  >
                          <div class="card1">
                         <div class="row" style="height: 70px; border: 0px solid">
                            <div class="col-3 normal" style="height: 70px; border: 0px solid"> 
                              <router-link :to="{ path: `/comunityPostDetail.get_comunity_post_user.username` }">
                                <center>
                                  <v-img class="rounded-circle" :src="comunityPostDetail.get_comunity_post_user.image_profil" style="width: 40px; height: 40px" />
                                  </center>
                              </router-link>
                            </div>
                            <div class="col-9 normal" style="height: 70px; border: 0px solid">
                                <div class="row normal" style="height: 15px;padding: 0px; margin: 0px; border: 0px solid">
                                  <div class="col-10 normal">
                                      <router-link :to="{ path: `/comunityPostDetail.get_comunity_post_user.username` }">
                                       {{comunityPostDetail.get_comunity_post_user.name }}
                                      <template v-if="comunityPostDetail.get_comunity_post_user.level == 'mitra' || comunityPostDetail.get_comunity_post_user.level == 'admin'">
                                        <v-img class="rounded-circle" :src="'images/icons/verifikasi.png'" style="width: 12px; height: 12px; padding-bottom: 3px" />
                                      </template>
                                      </router-link>
                                  </div>
                                 
                                  <div class="col-1" style="padding-top: 10px" data-toggle="modal" data-target=".actioncomunityPostDetail->comunity_post_id">
                                        <i class="fa fa-ellipsis-v"></i>
                                  </div>
                                  
                                </div>
                                <div class="row normal">
                                  <div class="col-6"><i style="font-size: 10px;">@ {{comunityPostDetail.get_comunity_post_user.username}}</i></div>
                                  <template v-if="comunityPostDetail.get_comunity_post_user.get_comunity_member_user">
                                    <template v-if="comunityPostDetail.get_comunity_post_user.get_comunity_member_user.level == 'Admin'">
                                    <div class="col-6"><i class="fas fa-shield-alt" style="font-size: 10px;"><strong>Admin</strong></i></div>
                                    </template>
                                  </template>
                                </div>
                            </div>                  
                         </div>
                         
                         <div class="row">
                           <router-link :to="{ path: `/${authUser.username}` }">
                           <div class="col-12" style="padding-left: 40px">
                             {{comunityPostDetail.status}}
                           </div>
                           </router-link>
                            
                         </div>
                         <template v-if="comunityPostDetail.post_image">
                          <router-link :to="{ path: `/${comunityPostDetail.get_comunity_post_user.username}` }">
                          <div class="row">
                            <div class="col-12">
                              <v-img :src="comunityPostDetail.post_image" style="width: 100%" />
                            </div>
                          </div>
                          </router-link>
                         </template>
                         <div class="row">
                            <div class="col-12" style="font-size: 8px; padding-top: 8px">
                                        {{ comunityPostDetail.created_at}}
                            </div>
                         </div>
                         <div class="row" style="padding-left: 30px;margin-bottom: 0px; border: 0px solid">
                           <div class="col-1" style="padding: 0px; padding-top:3px; margin: 5px">
                            <form class="form_like">
                              <!-- <input type="hidden" v-model="authUser.user_id" >
                              <input type="hidden" v-model="comunity_post.comunity_id" value="comunityPostDetail->comunity_id">
                              <input type="hidden" name="comunity_post_id" value="$comunityPostDetail->comunity_post_id"> -->
                            <!-- <button type="submit"  class="btn btn-outline-light ic_likecomunityPostDetail->comunity_post_id"> -->
                              <v-img :src="'images/icons/ic_like_off.png'" style="width: 22px" />
                            <!-- </button> -->
                            </form>
                               
                          </div>
                           <div class="col-1 " style="padding: 0px; margin: 5px">
                            <!-- <button class="btn btn-outline-light" data-toggle="modal" data-target=".comment$comunityPostDetail->comunity_post_id"> -->
                              <img :src="'images/icons/ic_coment.png'" style="width: 25px">
                              <!-- </button> -->
                            </div>
                           <div class="col-1" style="padding: 0px; margin: 5px">
                            <!-- <button class="btn btn-outline-light" data-toggle="modal" data-target=".share$comunityPostDetail->comunity_post_id"> -->
                              <img :src="'images/icons/ic_share.png'" style="width: 25px">
                              <!-- </button> -->
                              
                           </div>
                         </div>
                         <div class="row normal" style="height:15px; padding: 0px;margin: 0px;  border: 0px solid">
                          <span  style="height:15px; padding-left: 40px"> {{ comunityPostDetail.get_comunity_post_like.length }} suka</span>
                         </div>   
                    
                         <div class="row"  style="padding-bottom: 10px;padding-top: 0px; margin: 0px">
                                <div class="col-12"  @click="lihatKomentarSebelum(comunityPostDetail.comunity_id, comunityPostDetail.comunity_post_id)" ><i >lihat  {{ limitFilter }} komentar sebelumnya</i></div>
                         </div>
                         <div class="comment_post" v-for="(pc, index) in comunityPostKomentarlist" :key="pc.comunity_comment_id" :data-index="index">
                           
                           <div class="row comment_modal_user" style="padding-bottom: 10px" v-if="pc.get_comunity_comment_user">
                                <div class="col-2">
                                  <a href="pc->get_comunity_comment_user->username]">
                                  <v-img class="rounded-circle" :src="pc.get_comunity_comment_user.image_profil" style="width: 30px; height: 30px" />
                                  </a>
                                </div>
                                <div class="col-10" style="padding-left: 15px">
                                  <div class="row normal">
                                      <div class="col-10" style="height: 20px; padding: 0px 0px">
                                        <a href="pc->get_comunity_comment_user->username]">
                                        <strong>
                                          {{pc.get_comunity_comment_user.username}}
                                      <template v-if="pc.get_comunity_comment_user.level == 2 || pc.get_comunity_comment_user.level == 3" >
                                        <img class="rounded-circle" :src="'images\icons\verifikasi.png'" style="width: 12px; height: 12px; padding-bottom: 3px">
                                      </template>
                                        </strong> 
                                        </a>
                                        {{pc.comment}}
                                      </div>
                                       <template  >
                                      <div class="col-2" style="height: 20px; padding: 0px 0px">
                                          <button class="btn btn-outline-secondary" type="submit" @click="commentDelete(pc.comunity_id, pc.counity_post_id,pc.comunity_comment_id)" style="padding: 2px;"><b>x</b></button>
                                        
                                      </div>
                                       </template>
                                  </div>
                                  <div class="row normal" style="height: 10px; padding: 0px 0px">
                                      <div class="col-12" style="font-size: 7px; padding: 0px 0px"><i>{{pc.created_at}}</i></div>
                                  </div>                  
                                 </div>
                            </div>
                         </div>
                            
                          </div>
                       </div>  
          </div>
        </div>
        <template v-slot:modal-footer="{ }">
          <div class="row input-group input-group-sm" style="padding-left: 15px">
            <img class="rounded-circle" :src="authUser.image_profil" style="width: 30px; height: 30px" />
            <input type="text" v-model="comment.comment" class="form-control" placeholder="isi komentar" aria-label="isi komentar" aria-describedby="basic-addon2" :style="'height:'+ hInputKomentar +'px'"> 
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" @click="commentAdd(comunityPostDetail.comunity_id, comunityPostDetail.comunity_post_id, comment.comment )">Comment</button>
            </div>
          </div>
        </template>
      </b-modal>                       
    <!-- <div class="modal fade comment$cp->comunity_post_id" tabindex="-1" role="dialog" >
      <div class="modal-dialog modal-dialog-centered" role="document" style="height: 95%; padding: 0px;">
        <div class="modal-content" style="height: 100%; padding: 0px;">
          <div class="modal-header" style="width: 100%; height: 10px; border: 0px solid">
            <div class="row" style="width: 100%; border: 0px solid;">
                <div style="width: 90%; height: 10px; float: left">
                        <img class="rounded-circle"  :src="'images/icons/ic_back.png'" data-dismiss="modal" aria-label="Close"> <b>Komentar</b>
                </div>
              <div style="width: 10%; height: 10px; float: left;">
                    <button type="button" class="close float-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
              </div>
                            
            </div>
              
        </div>
        <div class="modal-body " style="overflow-y: scroll; max-height:85%;  margin-top: 10px; margin-bottom:30px; ">
          <div class="container-fuild comment_modal$cp->comunity_post_id" style="height: 300px">
          
          @if(!empty($comunityPostComment))
            
            @foreach($comunityPostComment as $pc)
          <div class="row comment_modal_user$pc->comunity_comment_id" style="padding-bottom: 10px; padding-left: 10px">
            <div class="col-1"> <a href="'profil',['username' => $pc->get_comunity_comment_user->username])">
              <img class="rounded-circle" src="$pc->get_comunity_comment_user->image_profil" style="width: 30px; height: 30px">
            </a>
            </div>
            <div class="col-10" style="padding-left: 25px">
              <div class="row" style="height: 10px">
                  <div class="col-10" ><a href="'profil',['username' => $pc->get_comunity_comment_user->username]">
                    <strong>$pc->get_comunity_comment_user->username
                    $pc->get_comunity_comment_user->level == 'mitra' || $pc->get_comunity_comment_user->level == 'admin'
                    <img class="rounded-circle" src="'images\icons\verifikasi.png'" style="width: 12px; height: 12px; padding-bottom: 3px">
                  @endif
                  </strong>
                  </a>
                    $pc->comment
                  </div>
                  @if(($pc->user_id == Auth::user()->id) || ($pc->user_id == Auth::user()->id))
                  <div class="col-2">
                    <form class="form_comment_delete">
                      <input type="hidden" name="comunity_id" value="$pc->comunity_id">
                      <input type="hidden" name="comunity_post_id" value="$pc->comunity_post_id">
                      <input type="hidden" name="comunity_comment_id" value="$pc->comunity_comment_id">
                    <button class="btn btn-outline-secondary" type="submit" style="padding: 2px;"><b>x</b></button>
                    </form>
                  </div>
                  @endif
                </div>
                <div class="row" style="height: 10px">
                <div class="col-12" style="font-size: 7px; padding-top: 10px"><i>$pc->created_at</i>
                  </div>
                </div>
            </div>                  
          </div>
              @endforeach
            @endif
        </div>
        </div>
        <form class="form_comment_modal">
        <div class="modal-footer row" style="height: 20px; border: 0px solid; padding: 0px; margin-bottom: 10px">
          
              <div class="col-1">
                <img class="rounded-circle" src="'Auth::user()->image_profil'" style="width: 30px; height: 30px">
              </div>
              <div class="col-10" style="padding-left: 20px">
                <div class="row input-group input-group-sm" >
                  <input type="hidden" name="comunity_id" value="cp->comunity_id">
                  <input type="hidden" name="comunity_post_id" value="cp->comunity_post_id">
                  <input type="hidden" name="user_id" value="Auth::user()->id">
                  <input type="text" name="comment" class="form-control" placeholder="isi komentar" aria-label="isi komentar" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">Comment</button>
                </div>
              </div>
              </div>
          
        </div>
        </form>
      </div>
      </div>
    </div> -->
    <div class="row fade show active" style="width: 100%; height: auto; padding-bottom: 20px" v-for="(cp, index) in comunityPostList" :key="cp.comunity_post_id" :data-index="index" id="market">
      <div class="col-12 normal section-margin"  style="height: auto; min-height: 230px; padding: 1px; border: 0px solid">
                        <div class="container-fuild comunity_post" style="padding-top: 15px; padding-right: 0px"  >
                          <div class="card1">
                         <div class="row border-bottom" style="height: 70px; ">
                            <div class="col-3 normal" style="height: 70px; border: 0px solid"> 
                              <router-link :to="{ path: `/${authUser.username}` }">
                                <center>
                                  <v-img class="rounded-circle" :src="cp.get_comunity_post_user.image_profil" style="width: 40px; height: 40px" />
                                  </center>
                              </router-link>
                            </div>
                            <div class="col-9 normal" style="height: 70px; border: 0px solid; padding: 0px; margin: 0px">
                                <div class="row normal" style="height: 15px;padding: 0px; margin: 0px; border: 0px solid">
                                  <div class="col-10 normal" style="padding:0px; margin: 0px; border: 0px solid">
                                      <router-link :to="{ path: `/${authUser.username}` }">
                                        <div style="padding-top: 10px"> {{ cp.get_comunity_post_user.name}}</div>
                                      <template v-if="cp.get_comunity_post_user.level == 'mitra' || cp.get_comunity_post_user.level == 'admin'">
                                        <v-img class="rounded-circle" :src="'images/icons/verifikasi.png'" style="width: 12px; height: 12px; padding-bottom: 3px" />
                                      </template>
                                      </router-link>
                                  </div>
                                 
                                  <div class="col-1" style="padding-left: 30px;padding-top: 10px" data-toggle="modal" data-target=".actioncp->comunity_post_id">
                                        <i class="fa fa-ellipsis-v"></i>
                                  </div>
                                  
                                </div>
                                <div class="row normal">
                                  <div class="col-6"><i style="font-size: 10px;">@ {{cp.get_comunity_post_user.username}}</i></div>
                                  <template v-if="cp.get_comunity_post_user.get_comunity_member_user">
                                    <template v-if="cp.get_comunity_post_user.get_comunity_member_user.level == 'Admin'">
                                    <div class="col-6"><i class="fas fa-shield-alt" style="font-size: 10px;"><strong>Admin</strong></i></div>
                                    </template>
                                  </template>
                                </div>
                            </div>                  
                         </div>
                         
                         <div class="row">
                           <router-link :to="{ path: `/${authUser.username}` }">
                           <div class="col-12" style="padding-left: 40px">
                             {{cp.status}}
                           </div>
                           </router-link>
                            
                         </div>
                         <template v-if="cp.post_image">
                          <router-link :to="{ path: `/${authUser.username}` }">
                          <div class="row">
                            <div class="col-12">
                              <v-img :src="cp.post_image" style="width: 100%" />
                            </div>
                          </div>
                          </router-link>
                         </template>
                         <div class="row pd-30">
                            <div class="col-4" style="font-size: 8px; padding-top: 8px">
                                        {{ cp.created_at}}
                            </div>
                         </div>
                         <div class="row" style="padding-left: 30px;  margin-bottom: 0px; border: 0px solid">
                           <div class="col-1" style="padding: 0px; padding-top:3px; margin: 5px">
                            <form class="form_like">
                              <!-- <input type="hidden" v-model="comment.user_id" >
                              <input type="hidden" v-model="comment.comunity_post_id" :value="cp.comunity_id">
                              <input type="hidden" name="comunity_post_id" value="$cp->comunity_post_id"> -->
                            <!-- <button type="submit"  class="btn btn-outline-light ic_likecp->comunity_post_id"> -->
                              <v-img :src="iconLike" @click="likePost(cp.comunity_id,cp.comunity_post_id)" style="width: 21px" />
                            <!-- </button> -->
                            </form>
                               
                          </div>
                           <div class="col-1 " style="padding: 0px; margin: 5px" v-b-modal.komentar @click="lihatPostDetail(cp.comunity_id,cp.comunity_post_id)">
                            <!-- <button class="btn btn-outline-light" data-toggle="modal" data-target=".comment$cp->comunity_post_id"> -->
                              <img :src="'images/icons/ic_coment.png'" style="width: 25px">
                              <!-- </button> -->
                            </div>
                           <div class="col-1" style="padding: 0px; margin: 5px">
                            <!-- <button class="btn btn-outline-light" data-toggle="modal" data-target=".share$cp->comunity_post_id"> -->
                              <img :src="'images/icons/ic_share.png'" style="width: 25px">
                              <!-- </button> -->
                              
                           </div>
                         </div>
                         <div class="row normal" style="height:15px; padding: 0px;margin: 0px;  border: 0px solid">
                          <span  style="height:15px; padding-left: 40px"> {{ cp.get_comunity_post_like.length }} suka</span>
                         </div>   
                    
                         <div class="row" @click="lihatPostDetail(cp.comunity_id,cp.comunity_post_id)" style="padding-bottom: 10px;padding-top: 0px; padding-left: 10px; margin: 0px">
                                <div class="col-6"  v-b-modal.komentar ><i >lihat  {{ cp.get_comunity_post_comment.length }} komentar...</i></div>
                         </div>
                         <div class="comment_post_last$cp->comunity_post_id">
                     
                         </div>
                         <!-- <form class="form_comment" @submit.prevent="commentAdd"> -->
                         <div class="row input-group input-group-sm" style="padding-left: 25px">
                              <img class="rounded-circle" :src="authUser.image_profil" style="width: 30px; height: 30px" />
                              <input type="text" v-model="comment.comment" class="form-control" placeholder="isi komentar" aria-label="isi komentar" aria-describedby="basic-addon2"> 
                              <div class="input-group-append">
                                  <button class="btn btn-outline-secondary" type="submit" @click="commentAdd(cp.comunity_id, cp.comunity_post_id, comment.comment )">Comment</button>
                              </div>
                         </div>
                          <!-- </form> -->
                        
                          </div>
                       </div>    
      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
//import Vue from 'vue'
export default {
  name: 'MyComunityPostList',
   data: ()=> {
     return {
        limit:10,
        comunityPost: {},
        comunityPostList: [],
        comunityPostDetail: {},
        comunityPostKomentarlist: [],
        countComunityPostKomentarlist: 0,
        comment: {},
        limitKomentar: 10,
        countLihatKomentar : 0,
        hInputKomentar: 30,
        iconLike: 'images/icons/ic_like_off.png',
        iconLike_off: 'images/icons/ic_like_off.png',
        iconLike_on: 'images/icons/ic_like_on.png',
     }
  },
  //props: ["products", "maximum"],
  methods: {
    showItem: function() {
            let max = this.maximum;
            return this.pets.filter(function(item) {
                return item.pet_price <= max
            });
        },
    
    changeImage1 : (pet_id) => {
      //alert('1')
    },
     changeImage2 : (pet_id) => {
      //alert('1')
    },
    init: function(){
      
        
        axios.get(this.$root.$data.apiConfig +'api/comunity/post', {
            params: {'limit': this.limit,'comunity_id' : this.$route.params.id}
            })
        .then(res =>{
          console.log('res1', res)
         this.comunityPostList = res.data.comunityPost
        // console.log('this1', this)
        })
     },
      likePost: function(comunity_id,comunity_post_id){
        axios.get(this.$root.$data.apiConfig +'api/comunity/like/save', {
            params: {'user_id': this.authUser.id,'comunity_id' : comunity_id,'comunity_post_id' : comunity_post_id}
            })
        .then(res =>{
          if(res.data.status == 'like_on'){
            this.iconLike = this.iconLike_on
          }else{
            this.iconLike = this.iconLike_off
          }
        })
     },
     countPostLike: function(comunity_post_id) {
            return this.comunityPostList.filter(function(item) {
                return item.comunity_post_id == comunity_post_id
            });
        },
        countPostComment: function(comunity_post_id) {
            
            return this.comunityPostList.filter(function(item) {
                return item.comunity_post_id == comunity_post_id
            });
        },
      
     lihatPostDetail: function(argcomunity_id,argcomunity_post_id){
        axios.get(this.$root.$data.apiConfig +'api/comunity/post/detail', {
            params: {'comunity_post_id' : argcomunity_post_id, 'limit': this.limitPost}
            })
        .then(res =>{
          console.log('res komentar', res)
         this.comunityPostDetail = res.data
         this.lihatKomentarDetail(argcomunity_id,argcomunity_post_id)
        // console.log('this1', this)
        })
     },
     commentAdd: function(comunity_id,comunity_post_id, comment){
        console.log('s',this.$root.$data)
        axios.get(this.$root.$data.apiConfig +'api/comunity/post/comment/add', {
            params: {
              'user_id' : this.authUser.id,
              'comunity_id' : comunity_id,
              'comunity_post_id' :comunity_post_id,
              'comment' : comment,
              }
            })
        .then(res =>{
          console.log('res koment', res)
          this.lihatKomentarDetail(comunity_id,comunity_post_id, comment)
          this.comment = {}
          //alert('ok')
        })
     },
     commentDelete: function(comunity_id,comunity_post_id, comunity_comment_id){
        console.log('s',this.$root.$data)
        axios.get(this.$root.$data.apiConfig +'api/comunity/comment/delete', {
            params: {
              'user_id' : this.authUser.id,
              'comunity_id' : comunity_id,
              'comunity_post_id' :comunity_post_id,
              'comunity_comment_id' : comunity_comment_id
              }
            })
        .then(res =>{
          console.log('res koment d', res)
          this.lihatKomentarDetail(comunity_id,comunity_post_id, comunity_comment_id)
          this.comment = {}
          //alert('ok')
        })
     },
     lihatKomentarSebelum: function(argcomunity_id, argcomunity_post_id){
       this.limitKomentar  = this.limitKomentar + 10
       this.lihatKomentarDetail(argcomunity_id, argcomunity_post_id)
     },
     lihatKomentarDetail: function(argcomunity_id,argcomunity_post_id){
        axios.get(this.$root.$data.apiConfig +'api/comunity/post/comment/detail', {
            params: {'comunity_id' : argcomunity_id,'comunity_post_id' : argcomunity_post_id, 'limit': this.limitKomentar}
            })
        .then(res =>{
           console.log('res komentar', res)
          this.comunityPostKomentarlist = res.data.comunityPostKomentar
          console.log('s', this.comunityPostKomentarlist)
          this.countComunityPostKomentarlist = res.data.countComunityPostKomentar
        // console.log('this1', this)
        })
     },
    
   
  },
  computed: {
        sortComment: function(data){
           let Komentarlist = this.comunityPostKomentarlist
           console.log('Komentarlist', Komentarlist);
            this.comunityPostKomentarlist.sort((a, b) => {
             return b.created_at - a.created_at
           })
           return this.comunityPostKomentarlist
        },
        limitFilter: function(data){
          console.log('1', this.countComunityPostKomentarlist,'2',  this.limitKomentar )
          this.countLihatKomentar = this.countComunityPostKomentarlist - this.limitKomentar
          if(this.countLihatKomentar < 0 ){
            this.countLihatKomentar = 0;
          } 
           return this.countLihatKomentar 
        },
        likeStatus: function(data){
           
           return this.comunityPostKomentarlist
        },
        
    },
  
  mounted() {
    this.authUser = JSON.parse(localStorage.authUser)
    this.init()
   
  }
  
}
</script>
<style>
.normal {
    padding: 0px;
    margin: 0px;
  }
  .pd-30 {
    padding-left: 30px;
  }
</style>