<template style="height: 40px">
  <div class="PetMarketList" >
    <div class="container">
      <div class="row">
        <div class="col-8">
            <h4 style="padding-left: 5px">  Rekomendasi</h4>
        </div>
      </div>
    </div>
    <div class="row fade show active" style="width: 100%; height: auto; padding-bottom: 10px" id="market">
      <div class="d-flex justify-content-center col-12">
        <!-- <div class="spinner-border text-primary loading" role="status">
        <span class="sr-only">Loading...</span>
        </div> -->
      </div>
      <div class="col-6 section-margin" v-for="(item, index) in showItem(pets)" :key="item.pet_id" :data-index="index" style="height: auto; min-height: 230px; padding: 1px; border: 0px solid">
                  <transition name="fade" enter-active-class="animated fadeInDown" leave-active-class="animated sligeOutRight" >
                        <div class="card  card-product" style="weidth: 100%; padding: 5px">
                              <div class="card-product_img" :style="'background-image:' + item.pet_image_src1">
                               <div  class="img-wadah">
                               <a :href="'pet_'+ item.pet_id"><img class="img-fluid " :src="item.pet_image_src1" alt="img-back" @mouseover="changeImage1(item.pet_id)" @mouseleave="changeImage2(item.pet_id)"  style="width: 100%; height:150px;  padding: 5px; display: block"></a>
                                 
                                </div>
    
                                <!-- <div class="row" style="height: 20px">
                                                     <div class="col-3"></div>
                                                    <div class="col-3" style="padding: 0px;"><a href="pet_pet.pet_id"><button class="btn btn-sm btn-outline-primary" style="width: 70%;padding-left: 10px "><i><v-img :src="'/images/icons/ic_search.png'" /></i></button></a></div>
                                                    
                                                    <div class="col-3" style="padding: 0px;">
                                                      <form action="cartSave" method="GET">
                                                        <input type="hidden" name="user_id" value="">
                                                        <input type="hidden" name="pet_id" value="">
                                                        <input type="hidden" name="cart_qty" value="1">
                                                        <input type="hidden" name="cart_price" value="">
                                                        <button type="submit" class="btn btn-sm btn-outline-primary"  style="width: 70%; padding-right: 10px"><i><v-img :src="'/images/icons/ic_like_on.png'" /></i></button>
                                                      </form>
                                                    </div>
                                                     <div class="col-3" style="padding: 0px;"></div>
                                </div> -->
                              </div>
                              <div class="card-body text-sm-left" style="font-size: 10px; padding-bottom: 0px">
                                <a :href="'pet_'+ item.pet_id">
                                <h6 class="card-product__title">{{item.pet_name}}</h6>
                                <div class="row">
                                  <div class="col-9" style="padding: 0px 3px">
                                  <div class="price" style="color: #FF7F50; font-size: 12px"> <strong>Rp{{ item.pet_price }}</strong></div>
                                  <i class="fa fa-map-marker" style="font-size: 8px"></i><i style="font-size: 8px"> {{item.get_user_pet.get_user_kabkota.nama_kabkota}} - {{item.get_user_pet.get_user_provinsi.nama_provinsi}}</i>
                                  </div>
                                  <div class="col-3" style="padding: 0px">
                                      <form action="cartSave" method="GET">
                                                        <input type="hidden" name="user_id" value="">
                                                        <input type="hidden" name="pet_id" value="">
                                                        <input type="hidden" name="cart_qty" value="1">
                                                        <input type="hidden" name="cart_price" value="">
                                                        <button type="submit" class="btn btn-sm btn-outline-primary"  style="width: 100%; padding-right: 10px"><i><v-img :src="'/images/icons/ic_like_on.png'" /></i></button>
                                                      </form>
                                  </div>
                                </div>
                                </a>
                              </div>
                              <!-- <div>
                             
                                <span class="fa fa-star " aria-hidden="true"></span>
                                <span class="fa fa-star " aria-hidden="true"></span>
                                <span class="fa fa-star " aria-hidden="true"></span>
                                <span class="fa fa-star " aria-hidden="true"></span>
                                <span class="fa fa-star " aria-hidden="true"></span>
                              </div> -->
                          </div>
                          </transition>
                      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
//import Vue from 'vue'
export default {
  name: 'PetMarketList',
   data: ()=> {
     return {
        maximum: 1000000,
        limit:10,
        pets: []
     }
  },
  //props: ["products", "maximum"],
  methods: {
    showItem: function() {
            let max = this.maximum;
            return this.pets.filter(function(item) {
                return item.pet_price <= max
            });
        },
    convertToRupiah: (angka) => {
       var rupiah = '';    
      var angkarev = angka.toString().split('').reverse().join('');
      for(var i = 0; i < angkarev.length; i++) if(i%3 == 0) rupiah += angkarev.substr(i,3)+'.';
      return ' '+rupiah.split('',rupiah.length-1).reverse().join('');
       //this.$root.$options.method.convertToRupiah
    },
    changeImage1 : (pet_id) => {
      //alert('1')
    },
     changeImage2 : (pet_id) => {
      //alert('1')
    },
    // init: function(){
    //      // alert('ok')
    //       console.log('vue',this)
    //       return this.pets = this.$root.pets
    //     }
    
   
  },
  computed: {
        showItem1: function() {
            let max = this.$root.$data.maximum;
            return this.$root.$data.pets.filter(function(item) {
                return item.price <= max
            });
        },
        
        
    },
  
  mounted() {
    //this.init()
    //this.getPet()
    //this.pets = this.$root.pets
    //alert('ok')
    //console.log('this.pets', this.pets)
    // console.log('this.pets', this.pets)
    // axios.get(this.$root.$data.apiConfig +'api/pet', {
    //         params: {'limit': this.limit}
    //         })
    //     .then(res =>{
    //       console.log('res', res)
    //       res.data.pet.forEach(p => {
    //         p.pet_price = this.$root.$options.method.convertToRupiah(p.pet_price)
    //       })
    //      this.$root.$data.pets =  res.data.pet
    //      this.pets = res.data.pet
    //     // console.log('this1', this)
    //     })
  }
  
}
</script>