<template style="height: 40px">
  <div class="PetUserList" >
  
    <div class="row fade show active" style="width: 100%; height: auto; padding-bottom: 10px" id="market">
      <div class="d-flex justify-content-center col-12">
        <!-- <div class="spinner-border text-primary loading" role="status">
        <span class="sr-only">Loading...</span>
        </div> -->
      </div>
      <div class="col-4 section-margin" v-for="(item, index) in showItem(petUser)" :key="item.pet_id" :data-index="index" style="width: 100%; height: auto;  padding: 1px; border: 0px solid">
                  <transition name="fade" enter-active-class="animated fadeInDown" leave-active-class="animated sligeOutRight" >
                        <div class="card  card-product" style="weidth: 100%; padding: 5px">
                              <div class="card-product_img" :style="'background-image:' + item.pet_image_src1">
                               <div  class="img-wadah">
                                <a :href="'pet_'+ item.pet_id"><img class="img-fluid " :src="item.pet_image_src1" alt="img-back" @mouseover="changeImage1(item.pet_id)" @mouseleave="changeImage2(item.pet_id)"  style="width: 100%; height:80px;  padding: 5px; display: block" /></a>
                                </div>
                              </div>
                          </div>
                          </transition>
                      </div>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
//import Vue from 'vue'
export default {
  name: 'PetUserList',
   data: ()=> {
     return {
        maximum: 1000000,
        limit:10,
        petUser: []
     }
  },
  //props: ["products", "maximum"],
  methods: {
    showItem: function() {
            let max = this.maximum;
            return this.petUser.filter(function(item) {
                return item.pet_price <= max
            });
        },
    convertToRupiah: (angka) => {
       var rupiah = '';    
      var angkarev = angka.toString().split('').reverse().join('');
      for(var i = 0; i < angkarev.length; i++) if(i%3 == 0) rupiah += angkarev.substr(i,3)+'.';
      return ' '+rupiah.split('',rupiah.length-1).reverse().join('');
       //this.$root.$options.method.convertToRupiah
    },
    changeImage1 : (pet_id) => {
      //alert('1')
    },
     changeImage2 : (pet_id) => {
      //alert('1')
    },
    
   
  },
  computed: {
        showItem1: function() {
            let max = this.$root.$data.maximum;
            return this.$root.$data.pets.filter(function(item) {
                return item.price <= max
            });
        },
        
        
    },
  
  mounted() {
       axios.get(this.$root.$data.apiConfig +'api/pet', {
            params: {'limit': this.limit, 'user_id' : this.$root.authUser.id}
            })
        .then(res =>{
          //console.log('res', res)
          res.data.pet.forEach(p => {
            p.pet_price = this.$root.$options.method.convertToRupiah(p.pet_price)
          })
         this.petUser =  res.data.pet
         //this.pets = res.data.pet
         console.log('this1',  this.petUser)
        })
     
  }
  
}
</script>