<template>
  <div class="RatingUser" >
         <div class="row">
                              <div class="col-12" style="height: 10px; text-align: center; border: 0px solid">
                                    <form  class="form_rating" >
                                      <center>
                                      <template>
                                        <div>
                                          <b-form-rating v-model="rating_nilai" class="text-warning" style="width: 100px; font-size: 11px"></b-form-rating>
                                          <!-- <p class="mt-2">Value: {{ rating_nilai }}</p> -->
                                        </div>
                                      </template>
                                    </center>
                                    <div style="border: 0px solid; padding-bottom: 20px"><button type="submit" class="btn btn-primary" style="padding: 2px">Beri Rating</button></div>
                                    </form>
                                    </div>
                            </div>
  </div>
</template>
<script>
export default {
  name: 'RatingUser',
  data: ()=>{
  return {
    rating_nilai : 0
   }
  },
  mounted() {
    console.log('m', this)
  }
}
</script>