<!-- 
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
        <span class="mr-2">Latest Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <HelloWorld/>
    </v-main>
  </v-app> -->
<template>
  <div style="width:100%">
    <vue-page-transition name="fade-in-right">
      <router-view />
    </vue-page-transition>
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld';
 import Login from './views/Login';
 import axios from 'axios';

export default {
  name: 'App',
  data: ()=> {
     return {
      //  maximum: 50,
      //  products: []
     }
  },

  components: {
    Login
  },

  data: () => {
    //
    return {
      
    }
  },
  async mounted() {
    //this.load()
  },
  methods: {
    async load(){

     },
     created() {
      this.$cookie.set("keyName", keyValue, "expiring time")
    },
    
  }
};
</script>
